$font-main: '';
$font-secondary: '';

$font-size-h1: 50px;
$font-size-h2: 50px;
$font-size-h3: 36px;
$font-size-h4: 18px;
$font-size-regular: 16px;
$font-size-xs: $font-size-regular*0.75;
$line-height-base: 1;

$color-text-main: #212020;
$color-text-secondary: #000;
$color-text-light: #efefef;
$color-background: #fff;
$color-red: #c32121;
$color-blue: #00a2af;
$color-active: #c32121;

$header-top-margin-bottom: 30px;

$default-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.11);

.red {
  --color-active: #c32121;
}

.blue {
  --color-active: #00a2af;
}