.error.containers {
  text-align: center;
  position: relative;
  margin-top: 80px;
}

p.error__title {
  font-size: 400px;
  font-weight: 900;
  color: #cecece;
}

p.error__text {
  font-size: 48px;
  font-weight: 900;
  display: block;
  margin-top: 45px;
  z-index: 10;
  position: absolute;
  left: calc(50% - 312px);
}

.error.containers img {
  position: absolute;
  top: -50px;
  left: calc(50% - 270px);
  width: 38%;
  height: 100%;
}

.error.containers a {
  border-bottom: 1px solid black;
}

.error__a {
  margin-top: 150px;
}