.about-company-title {
  text-align: center;
}

.about-company-title.containers img {
  margin-top: 10px;
  width: 85%;
}

.about-company-title__h1 {
  z-index: -1;
}

p.about-company-title__maximus {
  font-size: 220px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}

p.about-company-title__maximus {
  font-size: 225px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}

.about-company-blocks {
  position: relative;
  margin-bottom: 155px;
}

.about-company-block__left {
  float: right;
}

.containers.about-company-block__1,
.containers.about-company-block__2,
.containers.about-company-block__3 {
  position: absolute;
  bottom: 110px;
  color: white;
  line-height: 24px;
}

.containers.about-company-block__1 p,
.containers.about-company-block__2 p,
.containers.about-company-block__3 p {
  width: 49%;
}

.containers.about-company-block__2 p {
  float: right;
}

.btn-container {
  text-align: center;
}

button.btn.about-company__btn {
  margin-top: -55px;
  width: 380px;
  height: 60px;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

.about-company-blocks h2 {
  font-size: 48px;
  margin-bottom: 55px;
  text-transform: initial;
}