.advertising-and-partners.containers {
  margin-top: 200px;
  margin-bottom: 100px;
}

.advertising-and-partners.containers h3 {
  font-weight: 500;
  margin-bottom: 60px;
}

.advertising-and-partners__blocks {
  display: flex;
}

.advertising-and-partners__blocks__left {
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  border-right: 1px solid var(--color-active);
}

.advertising-and-partners__blocks__right {
  flex-basis: 50%;
}

.advertising-and-partners__blocks__right form {
  position: relative;
  text-align: center;
}

.advertising-and-partners__blocks__right input[type="text"],
.advertising-and-partners__blocks__right input[type="email"],
select,
textarea {
  width: 380px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 25px 20px;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
  margin: auto;
  margin-bottom: 30px;
}

.advertising-and-partners__blocks__right select {
  margin-bottom: 45px;
}

textarea {
  height: 170px;
  border: 1px solid black;
  margin-bottom: 40px;
}

.advertising-and-partners__blocks__right .captcha {
  width: 380px;
  margin: 0;
}

.advertising-and-partners__blocks__right .btn__form__captcha {
  background-color: white;
}

.advertising-and-partners__blocks__right p.fz__form {
  position: absolute;
  width: 65%;
  bottom: -95px;
  text-align: left;
  left: calc(50% - 195px);
  font-size: 12px;
}