.articles.containers {
  display: flex;
  margin-top: 160px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -100px;
}

.articles.containers a {
  flex-basis: 45%;
}

.articles__block {
  min-height: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.articles__block h4 {
  font-weight: 900;
  margin-left: 20px;
}

.articles__block p {
  display: none;
  margin-top: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--color-active);
}

.articles__block:hover p{
  display: block;
}

.articles__block:hover h4{
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.title__h1 h4 {
  margin-top: 40px;
  font-weight: 300;
}

.title__h1 h4 span {
  font-weight: 500;
}

.articles__pagination.containers {
  margin-top: 100px;
}

.modern-page-navigation {
  text-align: center;
}

.modern-page-navigation a,
span.modern-page-current {
  font-weight: 900;
  font-size: 36px;
  color: #CECECE;
  margin: 23px;
}

span.modern-page-current {
  color: var(--color-active);
}

.articles__all {
  display: none;
}