.buy-card.containers {
  margin-top: 120px;
}

.buy-card__title {
  display: flex;
  align-items: center;
  margin-left: -100px;
}

.buy-card__title h2 {
  font-size: 48px;
  text-transform: initial;
}

.buy-card__title h1 {
  font-size: 130px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 50px;
}

.buy-card__title p {
  line-height: 24px;
}

.buy-card__title__text {
  margin-top: -50px;
}

.constructor {
  display: flex;
  justify-content: space-between;
}

.info-left {
  max-width: 480px;
  min-width: 480px;
  height: 820px;
  text-align: center;
  border: 1px solid #212020;
  padding: 50px 100px;
}

.info-left h3 {
  margin-top: 50px;
  line-height: 48px;
  margin-bottom: 180px;
}

.info-left p {
  font-size: 24px;
  line-height: 48px;
  color: #cecece;
}

.constructor__level {
  max-width: 580px;
  min-width: 580px;
}

.constructor__level h3 {
  margin-bottom: 80px;
  margin-top: 10px;
  text-transform: unset;
}

.constructor__level input[type="text"],
.constructor__level input[type="tel"] {
  text-align: center;
  margin-bottom: 37px;
}

.constructor__level .btn {
  margin-left: 200px;
  margin-bottom: 80px;
  border-bottom: 1px solid black;
}

.constructor__level2 .btn,
.constructor__level3 .btn,
.constructor__level4 .btn,
.constructor__level5 .btn {
  margin-left: 0;
}

.constructor__level .btn:hover {
  border-bottom: 0;
}

.constructor__level1,
.constructor__level2,
.constructor__level3,
.constructor__level4,
.constructor__level5 {
  position: relative;
}

.constructor__level1:after,
.constructor__level2:after,
.constructor__level3:after,
.constructor__level4:after,
.constructor__level5:after {
  position: absolute;
  top: 200px;
  left: 215px;
  color: #cecece;
  font-size: 400px;
  line-height: 48px;
  font-weight: 500;
  opacity: 0.2;
  z-index: -1;
}

.constructor__level1:after {
  content: "1";
}

.constructor__level2:after {
  content: "2";
  top: 265px;
  left: 160px;
}

.constructor__level3:after {
  content: "3";
  top: 320px;
  left: 165px;
}

.constructor__level4:after {
  content: "4";
  top: 330px;
  left: 100px;
}

.constructor__level5:after {
  content: "5";
  top: 300px;
  left: 165px;
}
.constructor__level2__logo__img {
  width: 280px;
  margin: auto;
}

.constructor__level2__logo__img img {
  width: 100%;
  cursor: pointer;
}

.constructor__level2__all,
.constructor__level2__logo {
  text-align: center;
}

.constructor__level2__logo {
  margin-bottom: 70px;
}

p.constructor__level2__adress {
  font-size: 12px;
  color: #cecece;
}

.constructor__level button.btn__back,
.constructor__level button.btn__next{
  width: 280px;
  margin-left: 0;
  font-size: 12px;
}

.constructor__level3__block {
  margin-bottom: 80px;
  cursor: pointer;
}

.constructor__level3__block h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.constructor__level3__block:hover h4 {
  background: -webkit-linear-gradient(17deg, #00a2af 0%, #004449);
  background: -o-linear-gradient(17deg, #00a2af 0%, #004449);
  background: linear-gradient(73deg, #00a2af 0%, #004449);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.constructor__level4__all {
  margin-left: 100px;
}

.constructor__level .checkbox__color__active {
  margin-left: 30px;
}

.constructor__level4__all .checkbox__color__active {
  margin-bottom: 90px;
}

.constructor__level4__all .btn {
  margin-bottom: 50px;
}

.constructor__level5 .card__month {
  color: #cecece;
  cursor: pointer;
  margin-bottom: 70px;
}

.constructor__level5 .card__month:hover {
  background: -webkit-linear-gradient(17deg, #00a2af 0%, #004449);
  background: -o-linear-gradient(17deg, #00a2af 0%, #004449);
  background: linear-gradient(73deg, #00a2af 0%, #004449);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected__card {
  display: flex;
}

.selected__card__image img {
  margin-left: -20px;
  margin-top: -20px;
}

.selected__card__title {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selected__card__title h4 {
  font-weight: 700;
  margin-bottom: 60px;
}

.selected__card__title  .selected__card__title__black {
  font-weight: 900;
  margin-bottom: 35px;
}

.selected__card__title p {
  font-size: 72px;
  font-weight: 900;
}

.selected__card__title__button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.selected__card__title__button .btn{
  border-bottom: 1px solid black;
  margin-left: 0;
}

.selected__card__title__button .btn:hover {
  border-bottom: 0;
}

.constructor__card {
  margin-top: 190px;
  margin-bottom: 300px;
}

.info-left .constructor__level3__block p {
  font-size: 16px;
  line-height: 48px;
  color: black;
}

.info-left .constructor__level3__block h4 {
  margin-bottom: 0;
}

.info-left .checkbox__color__active {
  margin-bottom: 85px;
  text-align: left;
}

.info-left .constructor__level3__block {
  margin-bottom: 70px;
}

.one-off-visit__title h3 {
  position: absolute;
  top: -70px;
}

.promotional-code.one-off-visit {
  height: 846px;
  padding-top: 80px;
}

.promotional-code.one-off-visit .promotional-code__title p {
  font-size: 12px;
}

.promotional-code.one-off-visit .promotional-code__title h3 {
  margin-bottom: 0;
}

.promotional-code.one-off-visit select {
  width: 280px;
  margin-left: 100px;
}

.promotional-code.one-off-visit input[type="text"],
.promotional-code.one-off-visit input[type="tel"],
.promotional-code.one-off-visit input[type="date"] {
  width: 280px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 25px 20px;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
  margin-bottom: 45px;
  margin-left: 100px;
}

.promotional-code.one-off-visit form {
  width: 80%;
  margin-top: 140px;
}

.promotional-code.one-off-visit form .captcha {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 100px;
}

.promotional-code.one-off-visit form .btn__form {
  margin-left: -100px;
}


//модалки

.buy-online__modal h4.value {
  text-align: left;
  color: #c2c2c2;
  font-weight: 900;
}

@media (max-width: 1365px) and (min-width: 320px) {
  .buy-online__modal h4.value {
    text-align: center;
    color: var(--color-active);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.more-about-the-map__modal .club-card__block {
  width: 1180px;
  background-color: #fafafa;
  padding: 40px 100px 40px 40px;
  overflow: auto;
}

.more-about-the-map__modal .club-card__block__left h3 {
  color: black;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}

.more-about-the-map__modal .club-card__block__left p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.more-about-the-map__modal .club-card__block__left {
  margin-bottom: 0;
}

.more-about-the-map__modal .club-card__block__right {
  flex-basis: 37%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 0;
  border-left: none;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .more-about-the-map__modal .club-card__block {
    width: 601px;
    background-color: #fafafa;
    padding: 40px 69px 45px;
    overflow: auto;
    position: relative;
  }

  .more-about-the-map__modal .club-card__block__left img {
    display: none;
  }

  .more-about-the-map__modal .club-card__block__left__title {
    flex-basis: 100%;
    text-align: left;
  }

  .more-about-the-map__modal .club-card__block__left h3 {
    color: black;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .more-about-the-map__modal .club-card__block__left p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    width: 65%;
  }

  .more-about-the-map__modal .club-card__block__right {
    flex-basis: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding-left: 0;
    border-left: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .more-about-the-map__modal .club-card__block {
    width: 100%;
    padding: 90px 10px 60px;
    position: relative;
  }

  .more-about-the-map__modal .club-card__block__left img {
    display: none;
  }

  .more-about-the-map__modal .club-card__block__left {
    width: 100%;
  }

  .more-about-the-map__modal .club-card__block__left__title {
    flex-basis: 100%;
  }

  .more-about-the-map__modal .club-card__block__left h3 {
    color: var(--color-active);
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .more-about-the-map__modal .club-card__block__left p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 70px;
    width: 100%;
  }

  .more-about-the-map__modal .club-card__block__right {
    flex-basis: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding-left: 0;
    border-left: none;
  }
}
