.childrens-fitness-reklama {
  position: relative;
}

.childrens-fitness-reklama__block {
  position: absolute;
  top: 25%;
  left: calc(50% - 360px);
  text-align: center;
}

.childrens-fitness-reklama__block h3 {
  text-transform: initial;
  color: white;
  margin-bottom: 100px;
}

.childrens-fitness-reklama__block p {
  font-size: 24px;
  color: white;
  width: 580px;
  margin: auto;
}

button.btn.childrens-fitness__btn {
  width: 380px;
  height: 60px;
  font-size: 24px;
  color: white;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  animation: none;
  margin-top: 100px;
}

button.btn.childrens-fitness__btn:hover {
  color: white;
  background: transparent;
  border: 2px solid white;
}