.club-card.containers {
  margin-top: 180px;
}

.club-card__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  cursor: pointer;
}

.club-card__block:last-child {
  margin-bottom: -135px;
}

.club-card__block__right {
  flex-basis: 53%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 20px;
  border-left: 2px solid var(--color-active);
}

.club-card__block__left {
  margin-bottom: 135px;
}

.club-card__block__left p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
}

.club-card__block__left img {
  margin-top: 10px;
  width: 480px;
}

.club-card__block__left h3 {
  color: #cecece;
}

.club-card__block:hover h3{
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.club-card__block__left__title .btn {
  display: none;
}


@media (min-width: 1366px) {

  .club-card .club-card__block__left {
    position: relative;
  }

  .club-card .club-card__block__left:hover .club-card__block__left__title .btn {
    position: absolute;
    border: 0;
    color: white;
    bottom: 33%;
    display: block;
    width: 100%;
    margin-top: 0;
    z-index: 99;
    margin-left: -5px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .club-card .club-card__block__left:hover .club-card__block__left__title .btn:hover {
    border: 0;
    background-color: transparent;
    animation: none;

  }

  .images-hover {
    position: relative;
  }

  .club-card .club-card__block__left:hover .black__hren {
    width: 100%;
    height: 96%;
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}