.comments-and-suggestions.containers {
  margin-top: 200px;
}

.comments-and-suggestions__block {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.comments-and-suggestions__block h3 {
  margin-bottom: 0;
}

.comments-and-suggestions__block h4 {
  font-weight: 900;
  color: #cecece;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comments-and-suggestions__block__date {
  font-weight: 700;
  color: #cecece;
  margin-top: 5px;
}

.comments-and-suggestions__block p {
  line-height: 24px;
}

.comments-and-suggestions__all {
  text-align: center;
  margin-top: -30px;
}

.comments-and-suggestions-form form {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 130px;
}

.comments-and-suggestions-form__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.comments-and-suggestions-form input[type="text"],
.comments-and-suggestions-form input[type="email"],
.comments-and-suggestions-form input[type="tel"],
select,
textarea {
  width: 380px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 25px 20px;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
  margin: 0;
  margin-bottom: 30px;
}

.comments-and-suggestions-form select {
  margin-bottom: 45px;
}

.comments-and-suggestions-form textarea {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 60px;
}

.comments-and-suggestions-form .captcha {
  width: 380px;
  margin: auto;
  margin-bottom: 35px;
}

.comments-and-suggestions-form .btn__form {
  margin: 0;
}

.comments-and-suggestions-form .btn__form__captcha {
  background-color: white;
}

p.fz__form {
  font-size: 12px;
}