.contacts-map {
  margin-top: 160px;
}

h2.contacts-map__title.containers {
  font-size: 72px;
  color: #c2c2c2;
}

h2.contacts-map__title.containers {
  font-size: 72px;
  color: #c2c2c2;
  margin-bottom: 70px;
}

.contacts-map__1:hover h2.contacts-map__title.containers{
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map {
  box-shadow: 0 0 60px -15px black;
  width: 100%;
  height: 800px;
}

.contacts-map__container {
  position: relative;
}

.contacts-map__content {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 60px -15px black;
}

.contacts-map__content .containers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  margin-right: 90px;
}

.contacts-map__content__title {
  font-weight: 700;
}

.contacts-map__content p {
  line-height: 24px;
}

.cooperation {
  width: 380px;
  margin: auto;
  margin-top: 125px;
  line-height: 24px;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .contacts-map {
    margin-top: 110px;
  }

  h2.contacts-map__title.containers {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
    background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
    background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
    background: linear-gradient(73deg, #d52b2b 0%, #811919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .map {
    box-shadow: 0 0 40px -10px black;
    height: 370px;
  }

  .contacts-map__content {
    position: relative;
    top: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .contacts-map__content .containers {
    display: block;
    column-count: 2;
    padding-top: 40px;
    padding-bottom: 0;
    width: 80%;
    margin-right: 83px;
    height: 242px;
  }

  .contacts-map__content .containers p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    width: 85%;
    margin-bottom: 20px;
  }

  .contacts-map__content .containers p:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  .contacts-map__content__title {
    font-weight: 500;
  }

  .cooperation {
    width: 325px;
    margin: auto;
    margin-top: 70px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }

  .cooperation .contacts-map__content__title {
    font-weight: 300;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .contacts-map {
    margin-top: 85px;
  }

  h2.contacts-map__title.containers {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
    background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
    background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
    background: linear-gradient(73deg, #d52b2b 0%, #811919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .map {
    -webkit-box-shadow: 0 0 40px -10px black;
    box-shadow: 0 0 40px -15px black;
    height: 540px;
  }

  .contacts-map__content {
    position: relative;
    top: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .contacts-map__content .containers {
    display: block;
    padding-top: 40px;
    padding-bottom: 0;
    width: 94%;
    margin-right: 10px;
    height: 100%;
  }

  .contacts-map__content .containers p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    width: 85%;
    margin-bottom: 20px;
  }

  .contacts-map__content .containers p:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  .contacts-map__content__title {
    font-weight: 500;
  }

  .cooperation {
    width: 325px;
    margin: auto;
    margin-top: 70px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }

  .cooperation .contacts-map__content__title {
    font-weight: 300;
  }

  .btn__container {
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    font-weight: 300;
  }
}
