.dance-studio {
  margin-top: 200px;
}

.dance-studio__block {
  margin-bottom: 236px;
  display: flex;
}

.dance-studio__block h2 {
  font-size: 48px;
  color: #cecece;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.dance-studio__block p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.dance-studio__block__a p {
  position: absolute;
  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  width: 150px;
  cursor: pointer;
}

.dance-studio__block__left .dance-studio__block__a p {
  left: -150px;
}

.dance-studio__block__right .dance-studio__block__a p {
  right: -150px;
}

.dance-studio__block__left:hover .dance-studio__block__a p {
  animation: block-left;
  animation-duration: 400ms;
  left: 20%;
}

.dance-studio__block__right:hover .dance-studio__block__a p {
  animation: block-right;
  animation-duration: 400ms;
  right: 20%;
}

@keyframes block-right {
  0% {
    right: -150px;
  }
  100% {
    right: 20%;
  }
}

@keyframes block-left {
  0% {
    left: -150px;
  }
  100% {
    left: 20%;
  }
}

.dance-studio__block:hover h2 {
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dance-studio__block__a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}

.dance-studio__block__title {
  flex-basis: 75%;
}

.dance-studio__block__left .dance-studio__block__a {
  border-left: 1px solid var(--color-active);
}

.dance-studio__block__right .dance-studio__block__a {
  border-right: 1px solid var(--color-active);
}

.dance-studio__block__left .dance-studio__block__title {
  margin-right: 20px;
}

.dance-studio__block__right .dance-studio__block__title {
  margin-left: 20px;
}