.events-pages-info {
  margin-top: 105px;
  margin-bottom: 100px;
}

.events-pages-info__blocks {
  margin-bottom: 45px;
  column-count: 2;
  display: inline-block;
  line-height: 24px;
}

.events-pages-info__social {
  display: flex;
  align-items: center;
}

.events-pages-info__social svg.svg-inline--fa.fa-vk.fa-w-18,
.events-pages-info__social svg.svg-inline--fa.fa-instagram.fa-w-14 {
  width: 30px;
  height: 30px;
}

.events-pages-info__social a.social__link {
  color: white;
  background-color: black;
  font-size: 24px;
  line-height: 1;
  margin-left: 0;
  margin-right: 20px;
}

.events-pages-form h4{
  font-weight: 900;
  margin-bottom: 80px;
}

.events-pages-form input[type="text"], .events-pages-form input[type="tel"] {
  background-color: transparent;
  margin-left: 0;
}

.events-pages-form .btn__form {
  margin-left: 0;
  background-color: transparent;
}

.events-pages-form .btn__form__captcha {
  background-color: white;
}

.events-pages-form .captcha {
  margin: 0;
}

.events-pages-form__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events-pages-form .checkbox__color__active {
  margin-left: 30px;
  flex-basis: 100%;
}