.content {
  position: relative;
}
.title,
.title__h1 {
  position: absolute;
  color: #fff;
  z-index: 1000;
}

.title a {
  color: #fff;
  font-size: 12px;
}

.title {
  top: 20px;
  opacity: 0.5;
  font-size: 12px;
}

.title__h1 {
  top: 60px;
}

.title__h1 h1 {
  font-size: 72px;
  font-weight: 900;
}

  .slider-famili-maximus .slider {
    overflow: inherit;
    border: 0;
    height: 728px;
  }

  .slider-famili-maximus .slide {
    height: 728px;
  }

  .slider-famili-maximus .slide .containers{
    position: absolute;
    bottom: 0;
  }

  .slider-famili-maximus .slider-controls {
    height: 40px;
    right: 45%;
    top: 107%;
  }

  .slider-famili-maximus .slider-controls .btn__slider{
    display: flex;
  }

  .slider-famili-maximus .slider-controls div {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
  }

  .slider-famili-maximus .slide .contents {
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    width: 40%;
    padding-bottom: 70px;
  }

.slider-famili-maximus .slider-controls .btn__slider .active__slide:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -30px;
  margin-right: 20px;
  border-radius:50%;
  cursor:pointer;
  border: 1px solid var(--color-active);
}

.slider-famili-maximus .slider-controls .btn__slider div:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 6px;
  top: -24px;
  margin-right: 20px;
  border-radius:50%;
  cursor:pointer;
  background: black;
}

.slider-famili-maximus .slider-controls .btn__slider .active__slide:before {
  background: var(--color-active);
}

.slider-famili-maximus .slider-controls .btn__slider .active__slide {
  color: var(--color-active);
}

@media (min-width: 1366px) and (max-width: 1750px) {
  .slider-famili-maximus .slide .containers{
    bottom: 70px;
  }

  .slider-famili-maximus .slide .contents {
    justify-content: center;
    padding-bottom: 0;
  }
}

  .slider-famili-maximus .slide .contents h4 {
    font-weight: 900;
    margin-bottom: 25px;
  }

  .slider-famili-maximus .slide .contents p {
    width: 80%;
  }

  .slide__img {
    width: 100%;
    overflow: hidden;
  }

  .slide__img  img{
    width: 100%;
  }

  .slider-famili-maximus .slider-controls label[for="btn-1"]:before {
    top: -3px;
    left: 13px;
    font-size: 10px;
  }
  .slider-famili-maximus .slider-controls label[for="btn-2"]:before {
    top: -3px;
    left: 13px;
    font-size: 10px;
  }
  .slider-famili-maximus .slider-controls label[for="btn-3"]:before {
    top: -3px;
    left: 13px;
    font-size: 10px;
  }
  .slider-famili-maximus .slider-controls label[for="btn-4"]:before {
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

.news-famili-maximus.containers {
  margin-top: 150px;
  margin-bottom: 110px;
}

.news-famili-maximus__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-famili-maximus__block {
  flex-basis: 30%;
  margin-bottom: 85px;
}

p.date {
  font-size: 48px;
  font-weight: 900;
  color: #cecece;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  filter: brightness(0.7);
}

.text {
  position: absolute;
  color: #fff;
  top: 45%;
  text-align: center;
  width: 100%;
}

.text p {
  width: 100%;
  margin: auto;
}

.news__all {
  text-align: center;
}

.all-family-members .family-maximus__btn {
  font-size: 24px;
  font-weight: 500;
  height: 75px;
  min-width: 420px;
  position: absolute;
  bottom: 40px;
  margin-left: 70px;
}

.all-family-members .why-choose__block.block__right.why-choose__block__1 {
  margin-bottom: 460px;
}

.all-family-members .why-choose__block__text__title {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}


.all-family-members .block__right .why-choose__block__text,
.all-family-members .block__left .why-choose__block__text{
  flex-basis: 50%;
  padding-left: 30px;
}
.all-family-members .why-choose__block__1 .why-choose__block__image img {
  margin-left: 85px;
}

.all-family-members .why-choose__block__image p {
  font-size: 120px;
}

.all-family-members .block__right .why-choose__block__image p {
  top: calc(50% - 275px);
}

.all-family-members .why-choose__block__2 .why-choose__block__image {
  flex-basis: 50%;
}

.all-family-members .why-choose__block__2 .why-choose__block__image img {
  position: absolute;
  top: -450px;
  right: -70px;
}

.all-family-members .why-choose__block__2 .why-choose__block__text {
  padding-left: 0;
  padding-right: 30px;
}

.all-family-members .why-choose__block__text__text {
  font-size: 24px;
  width: 100%;
}

.all-family-members .why-choose__block__3 .why-choose__block__image p {
  top: calc(50% - 385px);
  left: -70px;
}

.all-family-members .why-choose__block {
  position: relative;
}

.success-stories___blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 85px;
}

.success-stories___block {
  flex-basis: 25%;
}

.success-stories___images {
  width: 100%;
  margin-bottom: 30px;
}
.success-stories___images img {
  width: 100%;
}

p.success-stories___name {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

.success-stories__all {
  text-align: center;
}

.success-stories {
  margin-bottom: 220px;
}

.drop-down-question {
  margin-left: 80px;
  margin-bottom: 98px;
}

.question-answer__title {
  display: flex;
  align-items: center;
  position: relative;
}

.question-answer h3 {
  margin-bottom: 140px;
}

.title-h4,
.answer {
  margin-left: 140px;
}

.title-h4 {
  font-weight: 700;
}

p.answer {
  margin-top: 60px;
  line-height: 36px;
  width: 67%;
}

button.c-hamburger.c-hamburger--htx {
  position: absolute;
  cursor: pointer;
  left: -10px;
}

//events

.events__title,
.events__title__h1 {
  position: relative;
  color: black;
  z-index: 1;
}

.events__title a {
  color: black;
}

.news-famili-maximus.events.containers {
  margin-top: 200px;
  margin-bottom: 0;
}

.question-answer__title:hover button.c-hamburger.c-hamburger--htx:not(.is-active) svg {
  fill: var(--color-active);
  animation-name: hamburger-hover;
  animation-duration: 500ms;
  height: 66px!important;
  left: -10px;
  transform: rotate(0deg);
}

@keyframes hamburger-hover {
  0% {
    height: 47px;
  }
  100% {
    height: 66px;
  }
}

button.c-hamburger.c-hamburger--htx.is-active svg {
  fill: var(--color-active);
  animation-name: hamburger-active;
  animation-duration: 500ms;
  transform: rotate(90deg);
  height: 47px;
}

@keyframes hamburger-active {
  0% {
    transform: rotate(0deg);
    height: 66px;
  }
  100% {
    transform: rotate(90deg);
    height: 47px;
  }
}

.question-answer__title button.c-hamburger.c-hamburger--htx.disactive svg {
  fill: black;
  animation-name: hamburger-disactive;
  animation-duration: 500ms;
  transform: rotate(0deg);
  height: 47px;
}

.question-answer__title:hover button.c-hamburger.c-hamburger--htx.disactive svg {
  fill: var(--color-active);
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
  animation-name: hamburger-hover;
  animation-duration: 500ms;
  height: 66px!important;
  left: -10px;
  transform: rotate(0deg);
}

@keyframes hamburger-disactive {
  0% {
    fill: var(--color-active);
    transform: rotate(90deg);
    height: 47px;
  }
  100% {
    fill: black;
    transform: rotate(0deg);
    height: 47px;
  }
}
