.btn:hover  {
  background: var(--color-active);
  animation: btn-hover 500ms;
  border: 1px solid var(--color-active);
}

@keyframes btn-hover {
  from {
    background: white;
    color: black;
    border: 0;
  }
  50% {
    color: white;
  }
  to {
    background: white;
    box-shadow: 0 -166px 0 0 var(--color-active) inset;
    border: 1px solid var(--color-active);
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.containers {
  margin-left: 370px;
  margin-right: 370px;
  padding: 0;
}

.header__top {
  margin-top: 18px;
  margin-bottom: 28px;
}

.header__link {
  flex-basis: 75%;
}

.header__link {
  align-items: center;
  flex-basis: 70%;
}

.header__top,
.header__bottom,
.header__link {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 210px;
  height: 65px;
  cursor: pointer;
}

.header__logo .logo {
  width: 100%;
}

.header__bottom {
  height: 80px;
  width: 100%;
  background-color: #e2e2e2;
}

.header__bottom .containers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__menu {
  flex-basis: 100%;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
}

ul.menu-main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 14px;
  text-transform: uppercase;
}

.social-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

a.social__link {
  font-weight: bold;
  margin-left: 15px;
}

.insta .social__link {
  background-color: white;
  color: var(--color-active);
}

.insta .social__link:hover {
  background-color: var(--color-active);
  color: white;
}

.vk .social__link {
  background-color: var(--color-active);
  color: white;
}

.vk .social__link:hover {
  background-color: white;
  color: var(--color-active);
}

svg.svg-inline--fa.fa-vk.fa-w-18,
svg.svg-inline--fa.fa-instagram.fa-w-14{
  width: 20px;
  height: 20px;
  vertical-align: -0.3em;
}

svg.svg-inline--fa.fa-vk.fa-w-18 {
  padding: 1px;
}

.selected-club {
  font-size: 12px;
}

.selected-club select {
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

li.menu-main__item {
  flex-basis: 15%;
  position: relative;
}

.search {
  cursor: pointer;
}

.menu-main-submenu {
  display: none;
}

.menu-main__item:hover .menu-main-submenu {
  position: absolute;
  display: block;
  top: 30px;
  z-index: 100000;
}

.menu-main-container {
  position: relative;
}

.menu-main-submenu-container {
  position: absolute;
  top: 0;
  padding: 30px;
  padding-bottom: 5px;
  width: 155%;
}

.menu-main-submenu-background {
  background-color: rgba(226, 226, 226, 0.9);
  padding: 30px;
  padding-bottom: 5px;
  width: 155%;
  color: #e2e2e2;
  box-shadow: -2px 2px 20px -4px black;
}

a.menu-main-submenu__link {
  font-size: 16px;
}

li.menu-main-submenu__item {
  margin-bottom: 25px;
}

.menu-main__items._has-submenu {
  padding-bottom: 25px;
}

.login__disactive {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.login {
  flex-basis: 10%;
}

img.login__omg {
  margin-top: -5px;
  margin-left: 10px;
  border-radius: 50%;
}

.header select {
  height: 25px;
  width: 170px;
  font-size: 12px;
  color: black;
  padding: 0;
  margin: 0;
}

.header__call {
  position: relative;
}

.header__call__number {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.header__call:hover .header__call__number {
  z-index: -1;
}

.login {
  display: none;
}