@media (max-width: 1919px) and (min-width: 1366px) {
  .containers {
    margin-left: 90px;
    margin-right: 90px;
    padding: 0;
  }

  .promotional-code p.promotional-code__maximus {
    left: -20px;
    top: calc(50% - 230px);
    font-size: 100px;
  }
}

:focus {
  outline: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, a:active {
  color: black;
}

img {
  width: 100%;
}

.news-and-promotions-preview {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 240px;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 900;
  margin-bottom: 0;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 900;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.news-and-promotions-preview__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-and-promotions-preview__center p {
  writing-mode: tb;
  transform: rotate(180deg);
  color: var(--color-active);
}

.news-and-promotions-preview__center img {
  height: 80px;
}

.gradient-title {
  font-size: 120px;
  letter-spacing: -3px;
  color: var(--color-active);
  margin-left: 560px;
  line-height: 1em;
  margin-top: -25px;
}

.red-gradient-title {
  background: linear-gradient(73deg, #d52b2b 0%, darken(#d52b2b, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient-title {
  background: linear-gradient(73deg, #00a2af 0%, darken(#00a2af, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


//слайдер

.slider input {
  opacity: 0;
}

.slider{
  position:relative;
  height: 525px;
  width:100%;
  padding:0;
  overflow: hidden;
  border-bottom: 2px solid #212020;
}

.slider-controls label:after{
  display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"]{
  background: var(--color-active);
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]:after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]:after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]:after,
#btn-4:checked ~ .slider-controls label[for="btn-4"]:after{
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -6px;
  top: -6px;
  margin-right:20px;
  border-radius:50%;
  cursor:pointer;
  border: 1px solid var(--color-active);
}
#btn-1:checked ~ .slides .slide:nth-child(1){
  display: block;
  z-index:10;
  animation-name: slide;
  animation-duration: 300ms;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
  display: block;
  z-index:10;
  animation-name: slide;
  animation-duration: 300ms;
}
#btn-3:checked ~ .slides .slide:nth-child(3){
  display: block;
  z-index:10;
  animation-name: slide;
  animation-duration: 300ms;
}
#btn-4:checked ~ .slides .slide:nth-child(4){
  display: block;
  z-index:10;
  animation-name: slide;
  animation-duration: 300ms;
}

#btn-1:checked ~ .slides .hren:nth-child(1),
#btn-2:checked ~ .slides .hren:nth-child(2),
#btn-3:checked ~ .slides .hren:nth-child(3),
#btn-4:checked ~ .slides .hren:nth-child(4) {
  opacity: 0;
  z-index:0;
  top:525px;
  animation-name: hrens;
  animation-duration: 600ms;
}

.slider__index .slider-controls .btn__slider .active__slide:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -30px;
  margin-right: 20px;
  border-radius:50%;
  cursor:pointer;
  border: 1px solid var(--color-active);
}

.slider__index .slider-controls .btn__slider div:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 6px;
  top: -24px;
  margin-right: 20px;
  border-radius:50%;
  cursor:pointer;
  background: black;
}

.slider__index .slider-controls .btn__slider .active__slide:before {
  background: var(--color-active);
}

.slider__index .slider-controls .btn__slider .active__slide {
  color: var(--color-active);
}

.slider__index .slider-controls .btn__slider{
  display: flex;
}

.slider__index .slider-controls div {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.slider__index .slider-controls {
  top: 50%;
  right: -60px;
  margin-top: -30px;
  transform: rotate(270deg);
}

@keyframes slide{
  from{
    top:-525px;
  }
  to{
    opacity: 1;
  }
}

@keyframes hrens{
  from{
    opacity: 1;
    top:-525px;
    z-index:100;
  }
  to{
    opacity: 1;
    top:525px;
    z-index:100;
  }
}

.contents {
  position: relative;
  width:100%;
  height: 525px;
}

.slide{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 525px;
  overflow:hidden;
}

.hren {
  position:absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index:0;
  width: 100%;
  height: 525px;
  background: var(--color-active);
}

.slide .contents {
  display: flex;
}

.slider-controls{
  position:absolute;
  top: 50%;
  right: 10px;
  margin-top:-50px;
  z-index: 1;
}
.slider-controls label{
  position: relative;
  display:inline-block;
  width:6px;
  height:6px;
  background:#212020;
  margin-right:20px;
  margin-bottom: 20px;
  border-radius:50%;
  cursor:pointer;
}

.slider-controls:before,
.slider-controls:after {
  content: "";
  position: absolute;
  background: #212020;
  width: 40px;
  height: 2px;
  z-index: 99;
}

.slider-controls:before{
  top: 18px;
  left: 100%;
}

.slider-controls:after {
  top: 18px;
  right: 100%;
}

.red-block {
  position: absolute;
  top: 0;
  width: 35px;
  height: 525px;
  transform: skewX(-25deg);
  z-index: -1;
  background: linear-gradient(to bottom, darken(#d52b2b, 15%) 0%, #d52b2b 100%);
}

.blue-block {
  position: absolute;
  top: 0;
  width: 35px;
  height: 525px;
  transform: skewX(-25deg);
  z-index: -1;
  background: linear-gradient(to bottom, darken(#00a2af, 15%) 0%, #00a2af 100%);
}

.block__1 {
  left: 50%;
}

.block__2 {
  left: calc(50% + 105px);
  height: 55%;
}

.block__3 {
  left: calc(50% + 195px);
  height: 20%;
}

.content__left {
  padding-top: 115px;
  width: 50%;
}

.content__left h2 {
  margin-bottom: 60px;
}

.content__left p {
  line-height: 30px;
  width: 80%;
  margin-bottom: 60px;
}

.content__left .btn {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  min-width: 380px;
}

.content__right {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.content__right p {
  position: absolute;
  bottom: 40px;
  left: -15px;
  font-size: 200px;
  font-weight: 900;
  color: #b9b9b9;
}

.content__right p span {
  position: absolute;
  bottom: -40px;
  left: 115px;
  font-size: 150px;
  color: black;
}

.content__right .img-content {
  margin-bottom: -2px;
}

//блоки

.why-choose__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 250px;
}

.why-choose__block__image {
  position: relative;
}

.why-choose__block__image p {
  position: absolute;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  color: #cecece;
  z-index: -1;
  writing-mode: tb;
  transform: rotate(180deg);
}

.block__right .why-choose__block__image p {
  top: calc(50% - 250px);
  left: -10px;
}

.block__left .why-choose__block__image p {
  top: calc(50% - 370px);
  right: -75px;
}

.block__right:nth-child(4) .why-choose__block__image p {
  top: calc(50% - 370px);
}

.block__right .why-choose__block__text {
  flex-basis: 60%;
  border-left: 2px solid var(--color-active);
  padding-left: 45px;
}

.block__left .why-choose__block__text {
  flex-basis: 50%;
  border-right: 2px solid var(--color-active);
  padding-right: 45px;
}

.block__right .why-choose__block__text__text {
  line-height: 30px;
  width: 70%;
}

.block__left .why-choose__block__text__text {
  line-height: 30px;
  width: 78%;
}

.block__right .why-choose__block__image {
  flex-basis: 50%;
}

.why-choose__block__text__title {
  position: relative;
  font-size: 110px;
  font-weight: 900;
  color: var(--color-active);
  letter-spacing: -3px;
  margin-bottom: 100px;
}

.why-choose__block__text__title span {
  position: absolute;
  bottom: -35px;
  right: 82px;
  font-size: 72px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0;
}

.why-choose__block__text {
  right: -525px;
}

.animation__text__left {
  left: 0;
  animation-name: animation-text-left;
  animation-duration: 1s;
}

@keyframes animation-text-left {
  from {
    right: -575px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

//новости и акции

.news-and-action___block {
  display: flex;
  margin-bottom: 130px;
  margin-top: 100 - 35px;
}

.news-and-action__text {
  padding-left: 100px;
  padding-right: 100px;
}

.news-and-action__right  {
  margin-left: 12px;
  border-left: 2px solid var(--color-active);
}

.news-and-action__left  {
  margin-right: 12px;
  border-right: 2px solid var(--color-active);
}

.news-and-action___block h4 {
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 30px;
}

.news-and-action___block p {
  line-height: 30px;
}

//promo

.promotional-code {
  position: relative;
  height: 1035px;
  //background-color: #f5f5f5;
  background-color: transparent;
  padding-top: 200px;
}

p.promotional-code__maximus {
  position: absolute;
  left: 60px;
  top: calc(50% - 320px);
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  color: #8b8a8a;
  -webkit-writing-mode: tb;
  -ms-writing-mode: tb;
  writing-mode: tb;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.promotional-code__X img {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--color-active);
}


input[type="text"], input[type="tel"] {
  width: 380px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 25px 20px;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
  margin-bottom: 45px;
  margin-left: 100px;
}

.captcha {
  position: relative;
  margin-top: 75px;
  margin-bottom: 110px;
}

.btn__form__captcha {
  background-color: transparent;
  padding: 18px;
  animation: none;
}

.btn__form__captcha:hover {
  background-color: transparent;
}

.btn__form {
  border: 1px solid black;
  width: 380px;
  height: 65px;
  line-height: 30px;
  margin-left: 100px;
}

.promotional-code form {
  margin-top: 65px;
  width: 50%;
}

.checkbox__color__active {
  margin-bottom: 20px;
}

.input-checkbox {
  position: relative;
}

input.checkbox {
  margin-right: 10px;
  position: absolute;
  top: -2px;
  left: -28px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -31px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid black;
}

.checkbox:checked + label:before {
  border-color: var(--color-active);
}

.checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 1px;
  left: -26px;
}

.red-gradient-title:checked + label:after {
  background: linear-gradient(to bottom right, #d52b2b 0%, #d52b2b 30%, darken(#d52b2b, 10%) 70%, darken(#d52b2b, 10%) 100%);
}

.blue-gradient-title:checked + label:after {
  background: linear-gradient(to bottom right, #00a2af 0%, #00a2af 30%, darken(#00a2af, 10%) 70%, darken(#00a2af, 10%) 100%);
}

.partner .containers {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner {
  height: 325px;
}

//footer

.footer,
.footer a {
  color: white;
}

.footer__top {
  height: 470px;
  padding-top: 65px;
  padding-bottom: 75px;
  background: linear-gradient(124deg, #434242 0%, #212020 100%);
}

.footer__bottom {
  margin-top: -1px;
  height: 100px;
  background-color: #212020;
}

.footer__bottom .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__top .containers {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.copyrate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  font-weight: 300;
  height: 80%;
}

.footer__left__block,
.footer__center__block__clobal,
.footer__center__block__progressive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__left__block {
  padding-top: 20px;
}

  .footer__center__block {
    display: flex;
    justify-content: space-between;
    flex-basis: 33%;
    padding-top: 20px;
  }

  .download__application {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button.btn.btn__footer {
    width: 100%;
    height: 60px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
  }

  .footer a.social__link {
    color: white;
    font-size: 36px;
    line-height: 1;
  }

  .footer svg.svg-inline--fa.fa-vk.fa-w-18,
  .footer svg.svg-inline--fa.fa-instagram.fa-w-14 {
    width: 30px;
    height: 30px;
  }

  p.footer___block__title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
  }

  .footer__center__block__clobal__bottom p,
  .footer__center__block__progressive__bottom p {
    margin-bottom: 50px;
  }

  .footer__center__block__clobal__bottom p:last-child,
  .footer__center__block__progressive__bottom p:last-child{
    margin-bottom: 30px;
  }

  .footer__right__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #504f4f;
  }

  .footer__logo img{
    width: 280px;
  }

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 45%;
}

.footer__email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 45%;
}

.social {
  display: flex;
}

.header__menu__top,
.freeze-the-map p,
.login__top {
   display: none;
 }

.hip-hop-info {
  margin-top: 150px;
  margin-bottom: 200px;
}

.hip-hop-video {
  height: 726px;
}

.red-gradient-title__hover:hover {
  background: linear-gradient(73deg, #d52b2b 0%, #811919)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.blue-gradient-title__hover:hover {
  background: linear-gradient(73deg, #00a2af 0%, darken(#00a2af, 20%))!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}