.landing__red,
.landing__blue {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.landing__blue {
  padding-left: 6%;
  align-items: flex-end;
}

.landing__red {
  padding-right: 6%;
  flex-direction: row-reverse;
}

.landing__blue {
  margin-top: -364px;
  align-content: flex-end;
}

.landing__blue .landing__X,
.landing__adress,
.landing__services,
.landing__logo {
  display: flex;
}

.landing__adress,
.landing__services,
.landing__logo {
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
}

.landing__services,
.landing__logo {
  height: 375px;
  justify-content: space-between;
}

.landing__adress {
  height: 375px;
  justify-content: flex-end;
}

.landing__red .landing__logo {
  align-items: center;
  margin-left: -205px;
}

.landing__blue .landing__logo {
  align-items: center;
  margin-right: -205px;
}

.landing__red .landing__services p {
  text-align: right;
}

.landing__adress p {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  writing-mode: tb;
  transform: rotate(180deg);
}

.landing__adress p span {
  position: absolute;
  bottom: -60px;
  left: -30px;
  font-size: 150px;
  opacity: 0.5;
}

.langing__number {
  font-size: 24px;
}

.landing__logo {
  height: 345px;
}

.btn_landing__logo {
  cursor: pointer;
  width: 180px;
  text-align: center;
  font-size: 16px;
  height: 40px;
  border-radius: 0;
  border-bottom: 1px solid var(--color-active);
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  cursor: pointer;
  width: 180px;
  text-align: center;
  font-size: 16px;
  height: 40px;
  border-radius: 0;
  border-bottom: 1px solid var(--color-active);
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn__blue {
  width: 380px;
  height: 89px;
  font-size: 24px;
  border-bottom: 1px solid $color-blue;
}

.btn__red {
  width: 380px;
  height: 89px;
  font-size: 24px;
  border-bottom: 1px solid $color-red;
}

.btn_landing__logo:hover {
  color: white;
}

.btn:hover {
  color: white;
}

.landing__logo .btn__blue:hover  {
  background: $color-blue;
  animation: btn-hover-blue 500ms;
}

.landing__logo .btn__red:hover  {
  background: $color-red;
  animation: btn-hover-red 500ms;
}

@keyframes btn-hover-red {
  from {
    background: white;
    color: black;
    border: 0;
  }
  50% {
    color: white;
  }
  to {
    background: white;
    box-shadow: 0 -166px 0 0 $color-red inset;
    border: 1px solid $color-red;
  }
}

@keyframes btn-hover-blue {
  from {
    background: white;
    color: black;
    border: 0;
  }
  50% {
    color: white;
  }
  to {
    background: white;
    box-shadow: 0 -166px 0 0 $color-blue inset;
    border: 1px solid $color-blue;
  }
}


