.maximus-Global-video__btn__adress img {
  width: 23px;
  height: 35px;
}

svg#Capa_1 {
  width: 35px;
  height: 35px;
}

.cls-2 {
  fill: #cecece;
}

svg#Capa_1:hover .cls-2 {
  fill: #c32121;
}

.maximus-Global-video .containers h3 {
  color: #c2c2c2;
  font-size: 36px;
  text-transform: inherit;
  margin-bottom: 0;
}

.maximus-Global-video .containers h1 {
  color: #c32121;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}

.maximus-Global-video .containers h4 {
  color: #c32121;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-left: 300px;
  margin-bottom: 18px;
}

.maximus-Global-video .containers .content__left p {
  line-height: 24px;
  width: 100%;
  margin-bottom: 90px;
}

.maximus-Global-video .containers .content__left .btn {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 95px;
}

.maximus-Global-video__btn {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.maximus-Global-video__btn__adress {
  display: flex;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #c2c2c2;
  justify-content: space-between;
  align-items: center;
}

.maximus-Global-video .containers .content__left .maximus-Global-video__btn__adress p {
  margin-bottom: 0;
  margin-left: 15px;
}

.maximus-Global-video .containers {
  position: relative;
  margin-top: -15px;
}

.maximus-Global-video__cont {
  position: absolute;
  top: 16px;
  right: -370px;
  z-index: -2;
}

.maximus-Global-video .X {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 660px;
  z-index: -1;
}

.maximus-Global-video .containers  .content__left {
  padding-top: 100px;
  padding-bottom: 14px;
}

.actual-maximus-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 115px;
}

.maximus-Global-video {
  overflow: hidden;
  margin-top: -14px;
}

.actual-maximus-territoiriya.containers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.actual-maximus-territoiriya.containers h3 {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 24px;
  padding-bottom: 25px;
  color: #c2c2c2;
  border-bottom: 1px solid black;
}

.actual-maximus-territoiriya.containers p {
  width: 80%;
}

.actual-maximus-carousel h3 {
  font-size: 48px;
  margin-bottom: 60px;
}

.actual-maximus-carousel img {
  width: 280px;
  height: 167px;
  margin-right: 20px;
}

.actual-maximus-carousel img:last-child {
  margin-right: 0;
}

.actual-maximus-carousels {
  display: flex;
  justify-content: space-between;
}

img.arrow__left,
img.arrow__right {
  position: absolute;
  top: calc(50% - 35px);
  width: 30px;
  height: 70px;
  margin: 0;
}

img.arrow__left {
  left: -80px;
}

img.arrow__right {
  right: -80px;
}

.actual-maximus-carousel__container {
  position: relative;
}

.actual-maximus-carousel.containers {
  margin-bottom: 140px;
}

.maximus-Global-for__club__members {
  position: relative;
}

.maximus-Global-for__club__members__content.containers {
  position: absolute;
  top: 85px;
  color: white;
}

.maximus-Global-for__club__members__content.containers h4 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 100px;
}

.maximus-Global-for__club__members__contents {
  display: flex;
}

.maximus-Global-for__club__members__contents__left__blocks {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1920px) {
  .maximus-Global-for__club__members__contents__left__blocks {
    height: 560px;
  }
}

.maximus-Global-for__club__members__contents__right__blocks {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;
}

.maximus-Global-for__club__members__contents__left__block {
  height: 60px;
  margin-left: -50px;
}

.maximus-Global-for__club__members__content.containers span {
  padding: 20px 50px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.maximus-Global-for__club__members__content.containers span.active {
  color: #000;
  background-color: white;
}

.maximus-Global-for__club__members__contents__right__blocks p {
  margin-bottom: 95px;
  line-height: 24px;
}

.maximusGlobal-text .dance-studio__block__right .dance-studio__block__a {
  border-right: 1px solid #c32121;
}

.maximusGlobal-text .dance-studio__block__left .dance-studio__block__a {
  border-left: 1px solid #c32121;
}

.red-gradient-title__maximusGlobal {
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maximusGlobal__btn {
  border-bottom: 1px solid #c32121;
}

.maximusGlobal__btn:hover {
  background: #c32121;
  -webkit-animation: btn-hover-red 500ms;
  animation: btn-hover-red 500ms;
  border: 1px solid #c32121;
}

.actual-maximus-arrow .color__red {
  color: #c32121;
}

.maximus-Global-video__cont {
  width: 94%;
  height: 100%;
}

.video__cont,
.video {
  height: 100%;
}
.X768 {
  display: none;
}

.red-gradient-title__maximusGlobal + label:after {
  background: -webkit-gradient(linear, left top, right bottom, from(#d52b2b), color-stop(30%, #d52b2b), color-stop(70%, #ab2222), to(#ab2222));
  background: -webkit-linear-gradient(top left, #d52b2b 0%, #d52b2b 30%, #ab2222 70%, #ab2222 100%);
  background: -o-linear-gradient(top left, #d52b2b 0%, #d52b2b 30%, #ab2222 70%, #ab2222 100%);
  background: linear-gradient(to bottom right, #d52b2b 0%, #d52b2b 30%, #ab2222 70%, #ab2222 100%);
}

.red-gradient-title__maximusGlobal:checked + label:before {
  border-color: #c32121;
}

.promotional-code__Global .promotional-code__X img {
  background-color: #c32121;
}

.promotional-code.promotional-code__Global {
  margin-top: -5px;
}

.promotional-code.promotional-code__Global .btn:hover {
  border: 1px solid #c32121;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .maximus-Global-video__cont {
    right: -83px;
    top: 4px;
    width: 85%;
    height: 97%;
  }

  .maximus-Global-video {
    margin-top: -12px;
    overflow: inherit;
  }
  .maximus-Global-video .X768 {
    position: absolute;
    top: 0;
    right: 0;
    height: 304px;
    width: 100%;
    z-index: -1;
    display: block;
  }
  .X1920 {
    display: none;
  }

  .maximus-Global-video .containers h3 {
    font-size: 20px;
  }

  .maximus-Global-video .containers h1 {
    font-size: 36px;
  }

  .maximus-Global-video .containers h4 {
    font-size: 36px;
    margin-left: 86px;
  }

  .maximus-Global-video .containers .content__left img,
  .maximus-Global-video .containers .content__left p {
    display: none;
  }

  .maximus-Global-video .containers .maximus-Global-video__btn__adress p {
    display: block;
    color: #c2c2c2;
    font-size: 14px;
  }

  .maximus-Global-video .containers .content__left .btn {
    position: absolute;
    bottom: -113px;
    left: calc(50% - 162px);
    margin-bottom: 0;
    height: 52px;
    width: 325px;
    border: 1px solid #c32121;
  }

  .maximus-Global-video__btn {
    width: 190px;
    margin-top: 42px;
    margin-bottom: 31px;
    flex-direction: row-reverse;
  }

  .maximus-Global-video__btn__adress img {
    display: none;
  }

  .maximus-Global-video .containers .content__left {
    padding-bottom: 1px;
  }

  svg#Capa_1 {
    width: 30px;
    height: 30px;
  }

  .cls-2 {
    fill: #c32121;
  }

  .actual-maximus-arrow.containers {
    display: none;
  }

  .actual-maximus-territoiriya.containers {
    margin-bottom: 100px;
    margin-top: 202px;
  }

  .actual-maximus-territoiriya.containers h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
  }

  .actual-maximus-territoiriya.containers p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .actual-maximus-territoiriya__block {
    margin-right: 20px;
  }

  .actual-maximus-carousel h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 25px;
    text-transform: inherit;
  }

  .actual-maximus-carousel.containers {
    margin-bottom: 180px;
  }

  .actual-maximus-carousels img {
    width: 187px;
    height: 111px;
    margin-right: 20px;
  }

  .actual-maximus-carousels img:nth-child(3) {
    margin-right: 0;
  }

  img.arrow__left {
    left: -50px;
  }

  img.arrow__right {
    right: -50px;
  }

  .actual-maximus-carousels img:nth-child(4) {
    display: none;
  }

  .maximus-Global-for__club__members__content.containers h4 {
    font-size: 24px;
    margin-top: -140px;
    margin-bottom: 50px;
    color: #c32121;
  }

  .maximus-Global-for__club__members__contents__right__blocks {
    display: none;
  }

  .maximus-Global-for__club__members__contents__right__blocks p {
    display: none;
  }

  .maximus-Global-for__club__members__content.containers span {
    padding: 8px 19px;
    font-size: 20px;
    font-weight: 900;
  }

  .maximus-Global-for__club__members__contents__left__block {
    height: 52px;
    margin-left: -19px;
  }

  .maximus-Global-for__club__members__contents__left__blocks {
    flex-basis: 100%;
    height: 315px;
  }

  .dance-studio.containers.maximusGlobal-text {
    margin-top: 70px;
    margin-bottom: 150px;
  }

  .maximus-Global-for__club__dop {
    margin-bottom: 150px;
  }

  .promotional-code__Global {
    margin-bottom: 150px;
  }

  .promotional-code__Global .checkbox__color__active {
    position: absolute;
    bottom: -71px;
    margin-left: 0;
    left: 111px;
  }

  .promotional-code__Global .checkbox__color__active__2 {
    bottom: -111px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .maximus-Global-video__cont {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .maximus-Global-video {
    margin-top: -12px;
    overflow: inherit;
  }
  .maximus-Global-video .X768 {
    display: none;
  }
  .X1920 {
    display: none;
  }

  .maximus-Global-video .containers h3 {
    font-size: 16px;
  }

  .maximus-Global-video .containers h1 {
    display: inline;
    font-size: 24px;
  }

  .maximus-Global-video .containers h4 {
    display: inline;
    font-size: 24px;
    margin-left: 5px;
  }

  .maximus-Global-video .containers .content__left img,
  .maximus-Global-video .containers .content__left p {
    display: none;
  }

  .maximus-Global-video .containers .maximus-Global-video__btn__adress p {
    display: block;
    color: #c2c2c2;
    font-size: 14px;
  }
  .maximus-Global-video .containers .content__left .maximus-Global-video__btn__adress p {
    font-weight: 900;
    margin-left: 0;
  }

  .maximus-Global-video .containers .content__left .btn {
    position: absolute;
    bottom: -75px;
    left: 0;
    margin-bottom: 0;
    height: 52px;
    width: 100%;
    border: 1px solid #c32121;
  }

  .maximus-Global-video__btn {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 19px;
  }

  .maximus-Global-video__btn__adress img {
    display: none;
  }

  .maximus-Global-video .containers .content__left {
    text-align: left;
  }

  svg#Capa_1 {
    width: 30px;
    height: 30px;
  }

  .cls-2 {
    fill: #c32121;
  }

  .actual-maximus-arrow.containers {
    display: none;
  }

  .actual-maximus-territoiriya.containers {
    margin-bottom: 70px;
    margin-top: 137px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actual-maximus-territoiriya.containers h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
  }

  .actual-maximus-territoiriya.containers p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .actual-maximus-territoiriya__block {
    margin-right: 0;
    flex-basis: 62%;
    text-align: center;
    margin-bottom: 50px;
  }

  .actual-maximus-territoiriya__block:last-child {
    margin-bottom: 0;
  }

  .actual-maximus-carousel h3 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: inherit;
  }

  .actual-maximus-carousel.containers {
    margin-bottom: 180px;
  }

  .actual-maximus-carousels img {
    width: 187px;
    height: 111px;
    margin-right: 0;
  }

  img.arrow__left {
    left: -50px;
  }

  img.arrow__right {
    right: -50px;
  }

  img.arrow__left, img.arrow__right {
    position: absolute;
    top: calc(50% - 13px);
    width: 14px;
    height: 26px;
    margin: 0;
  }

  .actual-maximus-carousel__container {
    position: relative;
    width: 187px;
    margin: auto;
  }

  .actual-maximus-carousels img:nth-child(2),
  .actual-maximus-carousels img:nth-child(3),
  .actual-maximus-carousels img:nth-child(4) {
    display: none;
  }

  .maximus-Global-for__club__members__content.containers h4 {
    font-size: 20px;
    text-align: center;
    margin-top: -160px;
    margin-bottom: 50px;
    color: #c32121;
  }


  .maximus-Global-for__club__members__contents__right__blocks {
    display: none;
  }

  .maximus-Global-for__club__members__contents__right__blocks p {
    display: none;
  }

  .maximus-Global-for__club__members__content.containers span {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    cursor: pointer;
  }

  .maximus-Global-for__club__members__contents__left__block {
    height: 52px;
    margin-left: 0;
    text-align: center;
    cursor: pointer;
  }

  .maximus-Global-for__club__members__contents__left__blocks {
    flex-basis: 100%;
    height: 330px;
  }

  .maximus-Global-for__club__members img.active {
    height: 360px;
  }

  .dance-studio.containers.maximusGlobal-text {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .maximus-Global-for__club__dop {
    margin-bottom: 150px;
  }

  .maximus-Global-for__club__dop .maximus-Global-for__club__members__content.containers {
    position: absolute;
    top: 115px;
    color: white;
    width: 94%;
  }

  .promotional-code__Global .promotional-code__title h2,
  .promotional-code__Global .promotional-code__title h3 {
    color: #c32121;
  }

  .promotional-code.promotional-code__Global {
    padding-bottom: 53px;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.2);
  }
}



//sertificates
.gift-certificates .club-card__block__right {
  margin-left: 100px;
}

.gift-certificates h2 {
  margin-bottom: 100px;
  color: #cecece;
  text-align: center;
  font-size: 48px;
}

.gift-certificates .club-card__block__left h3 {
  margin-bottom: 0;
}

.gift-certificates .club-card__block__left img {
  margin-left: -5px;
  width: 520px;
}

.gift-certificates .club-card__block__left {
  margin-bottom: 0;
}

.gift-certificates .club-card__block {
  margin-bottom: 90px;
}

.gift-certificates .club-card__block__left {
  position: relative;
}

@media (min-width: 1366px) {

  .gift-certificates .club-card__block__left:hover .club-card__block__left__title .btn {
    position: absolute;
    border: 0;
    color: white;
    bottom: 33%;
    display: block;
    width: 100%;
    margin-top: 0;
    z-index: 99;
    margin-left: -5px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .gift-certificates .club-card__block__left:hover .club-card__block__left__title .btn:hover {
    border: 0;
    background-color: transparent;
    animation: none;

  }

  .images-hover {
    position: relative;
  }

  .gift-certificates .club-card__block__left:hover .black__hren {
    width: 98%;
    height: 91%;
    position: absolute;
    bottom: 11px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

@media (max-width: 1365px) and (min-width: 768px) {
  .club-card.gift-certificates.containers {
    margin-top: 85px;
  }

  .gift-certificates .club-card__block__left img {
    width: 323px;
  }

  .gift-certificates h2 {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .gift-certificates .club-card__block__left__title .btn {
    width: 256px;
  }

  .gift-certificates .club-card__block__left__title {
    margin-left: 20px;
  }

  .gift-certificates .club-card__block__right {
    margin-left: 0;
    margin-top: 40px;
  }

  .gift-certificates .club-card__block {
    margin-bottom: 50px;
  }

  .gift-certificates .club-card__block__left p {
    font-size: 16px;
    line-height: 19px;
  }

  .gift-certificates .club-card__block__left h3 {
    color: var(--color-active);
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .gift-certificates h2 {
    margin-bottom: 73px;
    font-size: 14px;
  }

  .gift-certificates .club-card__block__left__title {
    flex-direction: row;
    align-items: center;
  }

  .gift-certificates .club-card__block__left img {
    width: 100%;
  }

  .gift-certificates .club-card__block__left p {
    font-size: 12px;
    line-height: 15px;
  }

  .gift-certificates .club-card__block__left h3 {
    color: var(--color-active);
    font-size: 20px;
    line-height: 24px;
  }

  .gift-certificates .club-card__block__left {
    position: relative;
  }

  .gift-certificates .club-card__block__left__title .btn {
    position: absolute;
    border: 1px solid white;
    color: white;
    bottom: 35px;
    display: block;
    width: 94%;
    margin-top: 0;
    z-index: 99;
    margin-left: -5px;
  }

  .images-hover {
    position: relative;
  }

  .gift-certificates .club-card__block__left img {
    margin-left: -3px;
  }

  .gift-certificates .club-card__block__left .black__hren {
    width: 98%;
    height: 96%;
    position: absolute;
    bottom: -25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .gift-certificates .club-card__block__right {
    margin-left: 0;
    margin-top: 65px;
  }

  .gift-certificates .club-card__block {
    margin-bottom: 70px;
  }
}