.maximus-Progressive-video__btn__adress img {
  width: 23px;
  height: 35px;
}

svg#Capa_1 {
  width: 35px;
  height: 35px;
}

.cls-3 {
  fill: #cecece;
}

svg#Capa_1:hover .cls-2 {
  fill: #00a2af;
}

.maximus-Progressive-video .containers h3 {
  color: #c2c2c2;
  font-size: 36px;
  text-transform: inherit;
  margin-bottom: 0;
}

.maximus-Progressive-video .containers h1 {
  color: #00a2af;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}

.maximus-Progressive-video .containers h4 {
  color: #00a2af;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-left: 300px;
  margin-bottom: 18px;
}

.maximus-Progressive-video .containers .content__left p {
  line-height: 24px;
  width: 100%;
  margin-bottom: 90px;
}

.maximus-Progressive-video .containers .content__left .btn {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 95px;
}

.maximus-Progressive-video__btn {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.maximus-Progressive-video__btn__adress {
  display: flex;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #c2c2c2;
  justify-content: space-between;
  align-items: center;
}

.maximus-Progressive-video .containers .content__left .maximus-Progressive-video__btn__adress p {
  margin-bottom: 0;
  margin-left: 15px;
}

.maximus-Progressive-video .containers {
  position: relative;
  margin-top: -15px;
}

.maximus-Progressive-video__cont {
  position: absolute;
  top: 16px;
  right: -370px;
  z-index: -2;
}

.maximus-Progressive-video .X {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 660px;
  z-index: -1;
}

.maximus-Progressive-video .containers  .content__left {
  padding-top: 100px;
  padding-bottom: 14px;
}

.actual-maximus-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 115px;
}

.maximus-Progressive-video {
  overflow: hidden;
  margin-top: -14px;
}

.actual-maximus-territoiriya.containers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.actual-maximus-territoiriya.containers h3 {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 24px;
  padding-bottom: 25px;
  color: #c2c2c2;
  border-bottom: 1px solid black;
}

.actual-maximus-territoiriya.containers p {
  width: 80%;
}

.actual-maximus-carousel h3 {
  font-size: 48px;
  margin-bottom: 60px;
}

.actual-maximus-carousel img {
  width: 280px;
  height: 167px;
  margin-right: 20px;
}

.actual-maximus-carousel img:last-child {
  margin-right: 0;
}

.actual-maximus-carousels {
  display: flex;
  justify-content: space-between;
}

img.arrow__left,
img.arrow__right {
  position: absolute;
  top: calc(50% - 35px);
  width: 30px;
  height: 70px;
  margin: 0;
}

img.arrow__left {
  left: -80px;
}

img.arrow__right {
  right: -80px;
}

.actual-maximus-carousel__container {
  position: relative;
}

.actual-maximus-carousel.containers {
  margin-bottom: 140px;
}

.maximus-Progressive-for__club__members {
  position: relative;
}

.maximus-Progressive-for__club__members__content.containers {
  position: absolute;
  top: 85px;
  color: white;
}

.maximus-Progressive-for__club__members__content.containers h4 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 100px;
}

.maximus-Progressive-for__club__members__contents {
  display: flex;
}

.maximus-Progressive-for__club__members__contents__left__blocks {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1920px) {
  .maximus-Progressive-for__club__members__contents__left__blocks {
    height: 560px;
  }
}

.maximus-Progressive-for__club__members__contents__right__blocks {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;
}

.maximus-Progressive-for__club__members__contents__left__block {
  height: 60px;
  margin-left: -50px;
}

.maximus-Progressive-for__club__members__content.containers span {
  padding: 20px 50px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.maximus-Progressive-for__club__members__content.containers span.active {
  color: #000;
  background-color: white;
}

.maximus-Progressive-for__club__members__contents__right__blocks div {
  margin-bottom: 95px;
  line-height: 24px;
}

.maximusProgressive-text .dance-studio__block__right .dance-studio__block__a {
  border-right: 1px solid #00a2af;
}

.maximusProgressive-text .dance-studio__block__left .dance-studio__block__a {
  border-left: 1px solid #00a2af;
}

.red-gradient-title__maximusProgressive {
  background: -webkit-linear-gradient(17deg, #00a2af 0%, #004449);
  background: -o-linear-gradient(17deg, #00a2af 0%, #004449);
  background: linear-gradient(73deg, #00a2af 0%, #004449);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maximusProgressive__btn {
  border-bottom: 1px solid #00a2af;
}

.maximusProgressive__btn:hover {
  background: #00a2af;
  -webkit-animation: btn-hover-blue 500ms;
  animation: btn-hover-blue 500ms;
  border: 1px solid #00a2af;
}

.actual-maximus-arrow .color__red__prodressive {
  color: #00a2af;
}

.maximus-Progressive-video__cont {
  width: 94%;
  height: 100%;
}

.video__cont,
.video {
  height: 100%;
}
.X768 {
  display: none;
}

.red-gradient-title__maximusProgressive + label:after {
  background: -webkit-gradient(linear, left top, right bottom, from(#00a2af), color-stop(30%, #00a2af), color-stop(70%, #00737c), to(#00737c));
  background: -webkit-linear-gradient(top left, #00a2af 0%, #00a2af 30%, #00737c 70%, #00737c 100%);
  background: -o-linear-gradient(top left, #00a2af 0%, #00a2af 30%, #00737c 70%, #00737c 100%);
  background: linear-gradient(to bottom right, #00a2af 0%, #00a2af 30%, #00737c 70%, #00737c 100%);
}

.red-gradient-title__maximusProgressive:checked + label:before {
  border-color: #00a2af;
}

.promotional-code__Progressive .promotional-code__X img {
  background-color: #00a2af;
}

.promotional-code.promotional-code__Progressive {
  margin-top: -5px;
}

.promotional-code.promotional-code__Progressive .btn:hover {
  border: 1px solid #00a2af;
}

.dance-studio__block__title.paid_occupation {
  position: relative;
}

.paid_occupation:before {
  content: "₽";
  position: absolute;
  font-size: 185px;
  line-height: 145px;
  z-index: -1;
  left: 615px;
  top: 0;
  color: #cecece;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .maximus-Progressive-video__cont {
    right: -83px;
    top: 4px;
    width: 85%;
    height: 97%;
  }

  .maximus-Progressive-video {
    margin-top: -12px;
    overflow: inherit;
  }
  .maximus-Progressive-video .X768 {
    position: absolute;
    top: 0;
    right: 0;
    height: 304px;
    width: 100%;
    z-index: -1;
    display: block;
  }
  .X1920 {
    display: none;
  }

  .maximus-Progressive-video .containers h3 {
    font-size: 20px;
  }

  .maximus-Progressive-video .containers h1 {
    font-size: 36px;
  }

  .maximus-Progressive-video .containers h4 {
    font-size: 36px;
    margin-left: 86px;
  }

  .maximus-Progressive-video .containers .content__left img,
  .maximus-Progressive-video .containers .content__left p {
    display: none;
  }

  .maximus-Progressive-video .containers .maximus-Progressive-video__btn__adress p {
    display: block;
    color: #c2c2c2;
    font-size: 14px;
  }

  .maximus-Progressive-video .containers .content__left .btn {
    position: absolute;
    bottom: -113px;
    left: calc(50% - 162px);
    margin-bottom: 0;
    height: 52px;
    width: 325px;
    border: 1px solid #00a2af;
  }

  .maximus-Progressive-video__btn {
    width: 190px;
    margin-top: 42px;
    margin-bottom: 31px;
    flex-direction: row-reverse;
  }

  .maximus-Progressive-video__btn__adress img {
    display: none;
  }

  .maximus-Progressive-video .containers .content__left {
    padding-bottom: 1px;
  }

  svg#Capa_1 {
    width: 30px;
    height: 30px;
  }

  .cls-2 {
    fill: #00a2af;
  }

  .actual-maximus-arrow.containers {
    display: none;
  }

  .actual-maximus-territoiriya.containers {
    margin-bottom: 100px;
    margin-top: 202px;
  }

  .actual-maximus-territoiriya.containers h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
  }

  .actual-maximus-territoiriya.containers p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .actual-maximus-territoiriya__block {
    margin-right: 20px;
  }

  .actual-maximus-carousel h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 25px;
    text-transform: inherit;
  }

  .actual-maximus-carousel.containers {
    margin-bottom: 180px;
  }

  .actual-maximus-carousels img {
    width: 187px;
    height: 111px;
    margin-right: 20px;
  }

  .actual-maximus-carousels img:nth-child(3) {
    margin-right: 0;
  }

  img.arrow__left {
    left: -50px;
  }

  img.arrow__right {
    right: -50px;
  }

  .actual-maximus-carousels img:nth-child(4) {
    display: none;
  }

  .maximus-Progressive-for__club__members__content.containers h4 {
    font-size: 24px;
    margin-top: -140px;
    margin-bottom: 50px;
    color: #00a2af;
  }

  .maximus-Progressive-for__club__members__contents__right__blocks {
    display: none;
  }

  .maximus-Progressive-for__club__members__contents__right__blocks div {
    display: none;
  }

  .maximus-Progressive-for__club__members__content.containers span {
    padding: 8px 19px;
    font-size: 20px;
    font-weight: 900;
  }

  .maximus-Progressive-for__club__members__contents__left__block {
    height: 52px;
    margin-left: -19px;
  }

  .maximus-Progressive-for__club__members__contents__left__blocks {
    flex-basis: 100%;
    height: 315px;
  }

  .dance-studio.containers.maximusGlobal-text {
    margin-top: 70px;
    margin-bottom: 150px;
  }

  .maximus-Progressive-for__club__dop {
    margin-bottom: 150px;
  }

  .promotional-code__Progressive {
    margin-bottom: 150px;
  }

  .promotional-code__Progressive .checkbox__color__active {
    position: absolute;
    bottom: -71px;
    margin-left: 0;
    left: 111px;
  }

  .promotional-code__Progressive .checkbox__color__active__2 {
    bottom: -111px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .maximus-Progressive-video__cont {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .maximus-Progressive-video {
    margin-top: -12px;
    overflow: inherit;
  }
  .maximus-Progressive-video .X768 {
    display: none;
  }
  .X1920 {
    display: none;
  }

  .maximus-Progressive-video .containers h3 {
    font-size: 16px;
  }

  .maximus-Progressive-video .containers h1 {
    display: inline;
    font-size: 24px;
  }

  .maximus-Progressive-video .containers h4 {
    display: inline;
    font-size: 24px;
    margin-left: 5px;
  }

  .maximus-Progressive-video .containers .content__left img,
  .maximus-Progressive-video .containers .content__left p {
    display: none;
  }

  .maximus-Progressive-video .containers .maximus-Progressive-video__btn__adress p {
    display: block;
    color: #c2c2c2;
    font-size: 14px;
  }
  .maximus-Progressive-video .containers .content__left .maximus-Progressive-video__btn__adress p {
    font-weight: 900;
    margin-left: 0;
  }

  .maximus-Progressive-video .containers .content__left .btn {
    position: absolute;
    bottom: -75px;
    left: 0;
    margin-bottom: 0;
    height: 52px;
    width: 100%;
    border: 1px solid #00a2af;
  }

  .maximus-Progressive-video__btn {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 19px;
  }

  .maximus-Progressive-video__btn__adress img {
    display: none;
  }

  .maximus-Progressive-video .containers .content__left {
    text-align: left;
  }

  svg#Capa_1 {
    width: 30px;
    height: 30px;
  }

  .cls-2 {
    fill: #00a2af;
  }

  .actual-maximus-arrow.containers {
    display: none;
  }

  .actual-maximus-territoiriya.containers {
    margin-bottom: 70px;
    margin-top: 137px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actual-maximus-territoiriya.containers h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
  }

  .actual-maximus-territoiriya.containers p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .actual-maximus-territoiriya__block {
    margin-right: 0;
    flex-basis: 62%;
    text-align: center;
    margin-bottom: 50px;
  }

  .actual-maximus-territoiriya__block:last-child {
    margin-bottom: 0;
  }

  .actual-maximus-carousel h3 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: inherit;
  }

  .actual-maximus-carousel.containers {
    margin-bottom: 180px;
  }

  .actual-maximus-carousels img {
    width: 187px;
    height: 111px;
    margin-right: 0;
  }

  img.arrow__left {
    left: -50px;
  }

  img.arrow__right {
    right: -50px;
  }

  img.arrow__left, img.arrow__right {
    position: absolute;
    top: calc(50% - 13px);
    width: 14px;
    height: 26px;
    margin: 0;
  }

  .actual-maximus-carousel__container {
    position: relative;
    width: 187px;
    margin: auto;
  }

  .actual-maximus-carousels img:nth-child(2),
  .actual-maximus-carousels img:nth-child(3),
  .actual-maximus-carousels img:nth-child(4) {
    display: none;
  }

  .maximus-Progressive-for__club__members__content.containers h4 {
    font-size: 20px;
    text-align: center;
    margin-top: -160px;
    margin-bottom: 50px;
    color: #00a2af;
  }


  .maximus-Progressive-for__club__members__contents__right__blocks {
    display: none;
  }

  .maximus-Progressive-for__club__members__contents__right__blocks div {
    display: none;
  }

  .maximus-Progressive-for__club__members__content.containers span {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    cursor: pointer;
  }

  .maximus-Progressive-for__club__members__contents__left__block {
    height: 52px;
    margin-left: 0;
    text-align: center;
    cursor: pointer;
  }

  .maximus-Progressive-for__club__members__contents__left__blocks {
    flex-basis: 100%;
    height: 330px;
  }

  .maximus-Progressive-for__club__members img.active {
    height: 360px;
  }

  .dance-studio.containers.maximusProgressive-text {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .maximus-Progressive-for__club__dop {
    margin-bottom: 150px;
  }

  .maximus-Progressive-for__club__dop .maximus-Progressive-for__club__members__content.containers {
    position: absolute;
    top: 115px;
    color: white;
    width: 94%;
  }

  .promotional-code__Progressive .promotional-code__title h2,
  .promotional-code__Progressive .promotional-code__title h3 {
    color: #00a2af;
  }

  .promotional-code.promotional-code__Progressive {
    padding-bottom: 53px;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.2);
  }
}

//модалки

.childrens__room__modal h4.value,
.tanning__studio__modal h4.value {
  text-align: left;
  color: #c2c2c2;
  font-weight: 900;
}

.btn.club__members__contents__btn {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  margin-top: 20px;
  margin-left: calc(43% - 90px);
}

.btn.club__members__contents__btn:hover {
  border: 1px solid white;
}

.info {
  margin-bottom: 100px;
}

.maximus-for__club__members__contents__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.maximus-for__club__members__contents__value__block {
  display: flex;
  flex-basis: 40%;
}

.maximus-for__club__members__contents__value__block p {
  flex-basis: 50%;
}

p.value__block__title {
  font-weight: 700;
}

.maximus-for__club__members__contents__value .maximus-for__club__members__contents__value__block {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  height: 50px;
}

.maximus-Progressive-for__club__members__contents__right__blocks .maximus-for__club__members__contents__value {
  margin-bottom: -35px;
  margin-top: 50px;
}

p.maximus-for__club__members__contents__value__block__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: -20px;
}
@media (max-width: 1365px) and (min-width: 320px) {
  .childrens__room__modal h4.value,
  .tanning__studio__modal h4.value {
    text-align: center;
    color: var(--color-active);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}