.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  width: 780px;
  background-color: #fafafa;
  padding: 60px 100px 70px;
  overflow: auto;
}

.modal form h4 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 65px;
}

.freeze-the-map__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.freeze-the-map__block input[type="text"],
.freeze-the-map__block input[type="tel"],
.freeze-the-map__block input[type="date"],
.freeze-the-map__block input[type="number"],
.freeze-the-map__block select{
  width: 280px;
  padding: 11px 20px;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
}

.modal form .checkbox__color__active {
  margin-top: 70px;
  margin-left: 30px;
}

.modal form .captcha {
  margin-top: 80px;
  margin-bottom: 0;
}

.modal__close {
  display: none;
}

.successful__sending__modal__block {
  width: 780px;
  background-color: #fafafa;
  padding: 130px 100px;
}

.successful__sending__modal__block h4 {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .modal__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    font-size: 50px;
    line-height: 0.5;
  }

  .modal form {
    width: 601px;
    padding: 60px 69px 80px;
    position: relative;
  }

  .modal form h4 {
    font-size: 14px;
  }

  .freeze-the-map__block {
    margin-bottom: 30px;
  }

  .freeze-the-map__block p {
    font-weight: 300;
    font-size: 14px;
  }

  .freeze-the-map__block input[type="text"], .freeze-the-map__block input[type="tel"],
  .freeze-the-map__block input[type="date"], .freeze-the-map__block input[type="number"],
  .freeze-the-map__block select {
    width: 325px;
    font-size: 14px;
    font-weight: 300;
  }

  .modal form .checkbox__color__active {
    margin-top: 60px;
    font-size: 14px;
  }

  .modal form .btn__form {
    width: 325px;
    margin-left: 0;
  }

  .modal form .captcha {
    text-align: center;
  }

  .successful__sending__modal__block {
    width: 601px;
    padding: 115px 100px;
  }

  .successful__sending__modal__block h4 {
    font-size: 32px;
    line-height: 1;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .modal__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    font-size: 50px;
    line-height: 0.5;
  }

  .modal form {
    width: 100%;
    padding: 60px 10px 60px;
    position: relative;
  }

  .modal form h4 {
    font-size: 14px;
  }

  .freeze-the-map__block {
    margin-bottom: 30px;
    align-items: flex-end;
  }

  .freeze-the-map__block p {
    flex-basis: 25%;
    font-weight: 300;
    font-size: 14px;
  }

  .freeze-the-map__block input[type="text"], .freeze-the-map__block input[type="tel"],
  .freeze-the-map__block input[type="date"], .freeze-the-map__block input[type="number"],
  .freeze-the-map__block select {
    flex-basis: 75%;
    font-size: 14px;
    font-weight: 300;
  }

  .modal form .checkbox__color__active {
    margin-top: 64px;
    font-size: 10px;
  }

  .modal form .btn__form {
    width: 100%;
    margin-left: 0;
  }

  .modal form .captcha {
    text-align: center;
    margin-top: 64px;
  }

  .successful__sending__modal__block {
    width: 100%;
    padding: 70px 0;
  }

  .successful__sending__modal__block h4 {
    font-size: 20px;
    line-height: 1;
  }
}