.news-and-action-all {
  margin-top: 200px;
}

.news-and-action-all .news-famili-maximus__block {
  flex-basis: 42%;
}

.news-and-action-all .image {
  margin-bottom: 20px;
}

.news-and-action-all h4 {
  font-weight: 900;
}

.news-and-action-all .text {
  display: none;
  top: 70%;
  text-align: left;
}

.news-and-action-all .text p {
  width: 75%;
  margin-left: 20px;
}

.news-and-action-all .news-famili-maximus__block:hover .text {
  display: block;
}

.news-and-action-all .news-famili-maximus__block:hover .date {
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-and-action___block img {
  width: 490px;
}