.result-search.containers {
  margin-top: 200px;
}

span.result {
  font-weight: 700;
}

.search-form {
  display: flex;
  margin-right: 180px;
  margin-left: 180px;
  margin-top: 55px;
  margin-bottom: 115px;
}

.result-search input[type="text"] {
  width: 100%;
  height: 55px;
  border: 0;
  border-bottom: 1px solid var(--color-active);
  background-color: transparent;
  color: #8b8a8a;
  margin-bottom: 0;
  margin-left: 0;
  padding: 20px;
}

button.btn.search-form__btn {
  height: 55px;
}

.result-search__block h4 {
  font-weight: 700;
  margin-bottom: 30px;
}

.result-search__blocks a:hover .result-search__block h4 {
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-search__block span {
  color: var(--color-active);
}

.result-search__block {
  margin-bottom: 125px;
}

.result-search__block p {
  line-height: 24px;
}