.schedule.containers {
  margin-top: 135px;
}

.schedule.containers p {
  font-size: 24px;
}

.schedule__text {
  display: flex;
}

.schedule__text a.social__link {
  color: #cecece;
  font-size: 30px;
  line-height: 1;
}

.schedule__text a.social__link:hover {
  color: var(--color-active);
}

.schedule__block {
  margin-top: 110px;
  height: 1595px;
  background-color: #ebebeb;
  text-align: center;
  padding-top: 50%;
}

.schedule.containers .schedule__block p {
  font-size: 72px;
  text-transform: uppercase;
}

