.success-stories__alls .success-stories___blocks {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.success-stories__alls .success-stories___block {
  flex-basis: 28%;
  margin-top: 85px;
  margin-right: 65px;
}

.success-stories__alls .success-stories___block:nth-child(3n) {
  margin-right: 0;
}

.success-stories__alls,
.success-stories__alls .success-stories___blocks {
  margin-bottom: 0;
}

.success-stories___block:hover p{
  background: -webkit-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: -o-linear-gradient(17deg, #d52b2b 0%, #811919);
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//modal

.success-stories__modal__photo__img {
  width: 280px;
}

.success-stories__form {
  width: 1180px;
  background-color: #fafafa;
  padding: 60px 100px 70px;
  overflow: auto;
}

.success-stories__modal__photo,
.success-stories__form__bottom,
.success-stories__modal__photo__block {
  display: flex;
}

.success-stories__modal__photo {
  flex-direction: column;
}

.success-stories__form__title h4 {
  font-weight: 900;
  margin-bottom: 55px;
}

.success-stories__modal__photo__from {
  margin-right: 20px;
}

.success-stories__modal__photo__from h4 {
  font-weight: 900;
  text-align: center;
  margin-top: 65px;
}

.success-stories__block {
  display: flex;
  justify-content: space-between;
}

.success-stories__block p {
  flex-basis: 50%;
}

.success-stories__block__last {
  flex-wrap: wrap;
}

.success-stories__block__last .success-stories__title {
  margin-bottom: 35px;
}

.success-stories__block__last p {
  flex-basis: 100%;
}

.success-stories__modal__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.success-stories__title {
  font-weight: 700;
}

.success-stories__modal__info a {
  text-align: center;
}

@media (max-width: 1365px) and (min-width: 768px) {
  .success-stories__form {
    width: 768px;
    padding: 60px 83px;
  }

  .success-stories__form__title h4 {
    margin-bottom: 44px;
    font-size: 18pt;
  }

  .success-stories__modal__photo__img {
    width: 256px;
  }

  .success-stories__form__bottom {
    flex-direction: column;
  }

  .success-stories__modal__photo__block {
    justify-content: space-between;
  }

  .success-stories__modal__photo__from {
    margin-right: 0;
  }

  .success-stories__modal__photo__from h4 {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .success-stories__block {
    margin-bottom: 26px;
  }

  .success-stories__block p {
    flex-basis: 55%;
    font-weight: 300;
  }

  p.success-stories__title {
    flex-basis: 45%;
    font-weight: 500;
  }

  .success-stories__modal__info {
    position: relative;
  }

  button.btn.success-stories__modal__btn {
    position: absolute;
    bottom: 37px;
    left: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {

  .modal {
    display: block;
  }

  .success-stories__form {
    width: 100%;
    padding: 60px 10px 35px;
  }

  .success-stories__form__title h4 {
    margin-bottom: 45px;
    font-size: 16px;
    text-align: center;
  }

  .success-stories__modal__photo__img {
    width: 100%;
    text-align: center;
  }

  .success-stories__modal__photo__img img {
    width: 212px;
  }

  .success-stories__form__bottom {
    flex-direction: column;
  }

  .success-stories__modal__photo__block {
    justify-content: center;
  }

  .success-stories__modal__photo__from {
    margin-right: 0;
  }

  .success-stories__modal__photo__to {
    display: none;
  }

  .success-stories__modal__photo__from h4 {
    display: none;
  }

  .success-stories__block {
    margin-top: 35px;
    flex-wrap: wrap;
  }

  .success-stories__block p {
    flex-basis: 100%;
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
  }

  p.success-stories__title {
    flex-basis: 100%;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
  }

  .success-stories__block.success-stories__block__last p {
    text-align: left;
  }

  .success-stories__block__last .success-stories__title {
    margin-bottom: 0;
    text-align: center;
  }

  button.btn.success-stories__modal__btn {
    width: 300px;
    height: 52px;
    margin-top: 40px;
  }
}