.success-stories.success-stories__alls.trainers__all {
  margin-top: 160px;
}

.trainers__all__select {
  display: flex;
  justify-content: space-evenly;
}

.trainers__all .success-stories___block {
  margin-top: 130px;
  cursor: pointer;
}

.trainers__all .success-stories___blocks {
  margin-top: 20px;
  margin-bottom: 70px;
}

.trainers__all p.trainers__all___name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.trainers__all .success-stories___block:hover p {
  color: var(--color-active);
}

.trainers__alls {
  text-align: center;
}

.trainers__alls a {
  font-size: 18px;
}


//modal

.trainers__form {
  width: 1180px;
  background-color: #fafafa;
  padding: 60px 100px 75px;
  overflow: auto;
}

.trainers__form .success-stories___images img {
  width: 280px;
}

.trainers__form .success-stories___block {
  margin-right: 20px;
}

.trainers__modal__top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 510px;
}

.trainers__modal__top  p.trainers__all___name {
  width: 280px;
  margin-bottom: 75px;
  text-align: center;
}

.trainers__modal__top  .success-stories___images {
  width: 280px;
  margin-bottom: 30px;
}

.trainers__modal__top h4 {
  margin-bottom: 0;
}

.trainers__modal__top h4.red-gradient-title,
.trainers__modal__top h4.blue-gradient-title {
  font-weight: 900;
  margin-bottom: 15px;
}

.trainers__modal__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.trainers__modal__info__2 {
  position: relative;
}

.trainers__modal__info p {
  line-height: 24px;
  margin-top: 20px;
}

p.trainers__modal__number {
  font-size: 24px;
  text-align: center;
  width: 280px;
  margin-bottom: 50px;
}

button.btn.trainers__modal__btn {
  width: 380px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
}


@media (max-width: 1365px) and (min-width: 768px) {
  .trainers__form {
    width: 601px;
    background-color: #fafafa;
    padding: 50px 49px 68px 69px;
    position: relative;
  }

  .trainers__form .success-stories___images img,
  .trainers__modal__top p.trainers__all___name,
  p.trainers__modal__number {
    width: 187px;
  }

  p.trainers__modal__number {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .trainers__modal__top p.trainers__all___name {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .trainers__modal__top {
    flex-direction: row;
    height: 100%;
  }

  .trainers__modal__top h4.red-gradient-title,
  .trainers__modal__top h4.blue-gradient-title {
    font-weight: 900;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
  }

  .trainers__modal__top h4 {
    margin-bottom: 0;
    font-size: 14px;
  }

  .trainers__modal__info p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
  }
  .trainers__modal__top .success-stories___images {
    width: 187px;
  }

  .trainers__modal__info.trainers__modal__info__1 {
    flex-basis: 57%;
  }

  .trainers__modal__info.trainers__modal__info__2 {
    flex-basis: 100%;
  }

  .trainers__form .success-stories___block {
    margin-right: 20px;
    flex-basis: 30%;
  }

  button.btn.trainers__modal__btn {
    width: 325px;
    height: 52px;
    border: 1px solid var(--color-active);
    font-size: 14px;
    position: relative;
    margin: auto;
    margin-top: 43px;
  }
}


@media (max-width: 767px) and (min-width: 320px) {
  .trainers__form {
    width: 100%;
    padding: 95px 10px 50px 10px;
    position: relative;
  }

  .trainers__form .success-stories___images img,
  .trainers__modal__top p.trainers__all___name,
  p.trainers__modal__number {
    width: 100%;
  }

  p.trainers__modal__number {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .trainers__modal__top p.trainers__all___name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .trainers__modal__top {
    flex-direction: row;
    height: 100%;
  }

  .trainers__modal__top h4.red-gradient-title,
  .trainers__modal__top h4.blue-gradient-title {
    font-weight: 900;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 40px;
    width: 200px;
    left: calc(50% - 100px);
  }

  .trainers__modal__top h4 {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .trainers__modal__info p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
  }
  .trainers__modal__top .success-stories___images {
    width: 100%;
    margin-bottom: 20px;
  }

  .trainers__modal__info.trainers__modal__info__1,
  .trainers__modal__info.trainers__modal__info__2 {
    flex-basis: 100%;
    text-align: center;
  }

  .trainers__modal__info.trainers__modal__info__2 p {
    display: none;
  }

  .trainers__form .success-stories___block {
    margin-right: 0;
    flex-basis: 100%;
  }

  button.btn.trainers__modal__btn {
    width: 300px;
    height: 52px;
    border: 1px solid var(--color-active);
    font-size: 14px;
    position: relative;
    margin: auto;
    margin-top: 50px;
  }

  .modal.trainers__modal {
    align-items: flex-start;
  }
}