.vacansies__image img {
  width: 100%;
}

.vacansies__image {
  margin-bottom: 120px;
}

.vacansies.containers {
  display: flex;
}

.vacansies__conditions,
.vacansies__all,
.vacansies__respond {
  flex-basis: 50%;
}

.vacansies__conditions {
  height: 100%;
  border-right: 1px solid var(--color-active);
}

.vacansies__conditions h2{
  margin-bottom: 50px;
}

.vacansies__conditions p {
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
}

.vacansies__all h4 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-top: 70px;
  cursor: pointer;
  margin-bottom: 20px;
}

.vacansies__all h4:first-child {
  margin-top: 0;
}

.vacansies__all h4:hover {
  background: linear-gradient(73deg, #d52b2b 0%, #811919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vacansies__job-block {
  text-align: center;
}

.vacansies__all p {
  margin-bottom: 20px;
  text-align: left;
}

p.vacansies__job-block__demands,
p.vacansies__job-block__adress {
  margin-top: 60px;
  margin-bottom: 60px;
}

button.btn.vacansies__btn {
  width: 280px;
  background: var(--color-active);
  height: 45px;
  color: #fff;
  animation: none;
  margin-top: 60px;
}

h4.vacansies__respond__title {
  font-weight: 700;
}

.vacansies__respond__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.vacansies__respond__block input[type="text"],
.vacansies__respond__block input[type="tel"],
.vacansies__respond__block input[type="email"],
.vacansies__respond__block input[type="date"] {
  flex-basis: 50%;
  width: 100%;
  border: 0;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 12px 20px;
  background-color: transparent;
  font-size: 16px;
  color: #8b8a8a;
  margin-bottom: 0;
  margin-left: 0;
}

.vacansies__respond__block input[type="text"]:hover,
.vacansies__respond__block input[type="tel"]:hover,
.vacansies__respond__block input[type="email"]:hover,
.vacansies__respond__block input[type="date"]:hover {
  border-bottom: 1px solid var(--color-active);
}

.vacansies__respond__block input[type="text"]:focus,
.vacansies__respond__block input[type="tel"]:focus,
.vacansies__respond__block input[type="email"]:focus,
.vacansies__respond__block input[type="date"]:focus {
  border: 1px solid var(--color-active);
}

.vacansies__respond__blocks h4 {
  font-weight: 900;
  margin-top: 70px;
}

.vacansies__respond__block textarea {
  border: 1px solid black;
  flex-basis: 100%;
  height: 140px;
  margin-top: 20px;
}

.vacansies__respond__block textarea:hover,
.vacansies__respond__block textarea:focus{
  border: 1px solid var(--color-active);
}

.btn.btn__form.btn__form__captcha {
  animation: none;
}
.btn.btn__form.btn__form__captcha:hover {
  color: black;
}

.vacansies__respond__blocks .btn.btn__form.btn__form__captcha {
  background: white;
}

.modal-form__file label {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

input.file_upload {
  display: none;
}

.modal-form__file label img {
  margin-left: 70px;
  width: 30px;
}