@media (max-width: 767px) and (min-width: 320px) {
  .title a {
    font-size: 10px;
    color: #000000;
  }

  .title {
    top: 15px;
    font-size: 10px;
    color: black;
  }

  .title__h1 {
    top: 38px;
  }

  .title__h1 h1 {
    font-size: 20px;
    color: #000;
  }

  .slider input {
    position: absolute;
  }

  .slider-famili-maximus {
    margin-top: 88px;
  }

  .slider-famili-maximus .slide .containers {
    position: relative;
    bottom: 0;
  }

  .slider-famili-maximus .slide .contents {
    color: black;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    height: 100%;
  }

  .slider-famili-maximus .slide .contents p {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
  }

  .slider-famili-maximus .slide .contents h4 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .slider-famili-maximus .slide {
    position: relative;
    height: 100%;
  }

  .slider-famili-maximus .slider-controls {
    height: 70px;
    right: calc(50% - 79px);
    top: 100%;
  }

  .slider-famili-maximus .slider {
    height: 100%;
  }

  p.date {
    text-align: center;
    font-size: 20px;
    margin-bottom: 18px;
    color: var(--color-active);
  }

  .news-famili-maximus__block {
    flex-basis: 100%;
    margin-bottom: 111px;
  }

  .text {
    top: 0;
    position: relative;
  }

  .text p {
    width: 100%;
    margin: auto;
    color: black;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 15px;
  }

  .news-famili-maximus__block:nth-child(4),
  .news-famili-maximus__block:nth-child(5),
  .news-famili-maximus__block:nth-child(6) {
    display: none;
  }

  .all-family-members .why-choose__block {
    margin-bottom: 170px;
  }

  .all-family-members .why-choose .gradient-title {
    margin-left: 0;
    font-size: 58px;
    line-height: 1;
    margin-top: 0;
    text-transform: uppercase;
  }

  .all-family-members .why-choose h2 {
    text-transform: unset;
  }

  .all-family-members .why-choose__block__1 .why-choose__block__image img {
    margin-left: -40px;
  }

  .all-family-members .block__right .why-choose__block__image p {
    top: calc(50% - 210px);
    left: 68%;
    font-size: 85px;
  }

  .all-family-members .why-choose__block__text__title {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }

  .all-family-members .why-choose__block__1 .why-choose__block__image img {
    width: 250px;
    height: 440px;
  }

  .all-family-members .block__right .why-choose__block__text, .all-family-members .block__left .why-choose__block__text {
    padding-left: 0;
    flex-basis: 100%;
    height: 100%;
  }

  .all-family-members .block__right .why-choose__block__text__text {
    line-height: 18px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
  }

  .all-family-members .why-choose__block__text {
    height: 187px;
    overflow: hidden;
  }

  .all-family-members .why-choose__block.block__right.why-choose__block__1 {
    margin-bottom: 173px;
  }

  .all-family-members .block__left .why-choose__block__image p {
    top: calc(50% - 240px);
    right: 70%;
    font-size: 85px;
  }

  .all-family-members .why-choose__block__2 .why-choose__block__image img {
    width: 310px;
    height: 334px;
    top: 0;
    right: 0;
    position: relative;
  }

  .all-family-members .why-choose__block__3 .why-choose__block__image img {
    width: 307px;
    height: 525px;
    margin-left: 0;
  }

  .all-family-members .block__right:nth-child(4) .why-choose__block__image p {
    top: calc(50% - 295px);
    left: 74%;
  }

  .all-family-members .why-choose__block__3 .why-choose__block__image {
    margin-bottom: 40px;
  }

  .all-family-members .why-choose__block__2 .why-choose__block__image {
    margin-bottom: 55px;
  }

  .all-family-members .family-maximus__btn {
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    min-width: 100%;
    position: absolute;
    bottom: -145px;
    margin-left: 0;
    left: 0;
  }

  .all-family-members .block__right:nth-child(4) {
    margin-bottom: 300px;
  }

  .success-stories h3 {
    font-size: 22px;
    text-align: center;
    line-height: 1;
  }

  .success-stories___block:nth-child(3) {
    display: none;
  }

  .success-stories___block {
    flex-basis: 46%;
  }

  .success-stories__alls .success-stories___block {
    margin-right: 0;
  }

  p.success-stories___name {
    font-size: 16px;
    font-weight: 500;
  }

  .success-stories___blocks {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .success-stories___images {
    margin-bottom: 15px;
  }

  .success-stories__all a {
    font-size: 16px;
    color: var(--color-active);
  }

  .success-stories {
    margin-bottom: 100px;
  }

  .question-answer h3 {
    font-size: 22px;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
  }

  .title-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .title-h4 {
    margin-left: 50px;
  }

  .answer {
    margin-left: 0;
  }

  .drop-down-question {
    margin-left: 0;
    margin-bottom: 50px;
  }

  p.answer {
    margin-top: 10px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
  }

  //events

  .news-famili-maximus.events.containers {
    margin-top: 90px;
  }

  .events .news-famili-maximus__block {
    margin-bottom: 50px;
  }

  //events-pages

  .events-pages-info.containers {
    margin-top: 45px;
    margin-bottom: 115px;
  }

  .events-pages-info__blocks,
  .events-pages-info__social p{
    line-height: 24px;
    font-size: 12px;
    font-weight: 300;
  }
  .events-pages-info__social {
    flex-wrap: wrap;
  }

  .events-pages-info__social p {
    order: -1;
    flex-basis: 100%;
  }

  .events-pages-info__blocks {
    column-count: 1;
  }

  .events-pages-info__social a.social__link {
    background-color: var(--color-active);
  }

  .events-pages-form h4 {
    font-size: 20px;
    text-align: center;
  }

  .events-pages-form .checkbox__color__active {
    flex-basis: 100%;
  }

  .events-pages-form input[type="text"],
  .events-pages-form input[type="tel"],
  .events-pages-form .captcha {
    flex-basis: 100%;
  }

  .events-pages-form .captcha {
    margin-bottom: 66px;
  }

  .events-pages-form__flex {
    align-items: center;
  }

  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(4),
  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(5),
  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(6) {
    display: block;
  }

  //success-stories

  .success-stories__alls, .success-stories__alls .success-stories___blocks {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .success-stories__alls .success-stories___block {
    flex-basis: 100%;
    margin-top: 100px;
  }

  //about-company

  .about-company-title.containers img {
    /* margin-top: 10px; */
    /* width: 85%; */
    display: none;
  }

  p.about-company-title__maximus,
  p.about-company-title__maximus {
    font-size: 54px;
    margin-top: 80px;
  }

  .about-company-info p {
    line-height: 15px;
  }

  .events-pages-info.about-company-info.containers {
    margin-bottom: 100px;
    margin-top: 60px;
  }

  .about-company-info .events-pages-info__block:first-child {
    display: none;
  }

  .about-company-blocks h2 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .about-company-blocks img {
    width: 100%;
  }

  .containers.about-company-block__1,
  .containers.about-company-block__2,
  .containers.about-company-block__3 {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    color: black;
    line-height: 18px;
    font-size: 14px;
  }

  .containers.about-company-block__1 p,
  .containers.about-company-block__2 p,
  .containers.about-company-block__3 p {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
  }

  .about-company-block__left {
    float: inherit;
  }

  .about-company-blocks {
    position: relative;
    margin-bottom: 75px;
  }

  .containers.about-company-block__2 p {
    float: initial;
  }

  .btn-container {
    margin-top: 45px;
  }

  button.btn.about-company__btn {
    margin-top: 0;
    width: 300px;
    height: 51px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  //club-card

  .club-card.containers {
    margin-top: 85px;
  }

  .club-card__block {
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .club-card__block__left {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .club-card__block__left img {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }

  .club-card__block__left__title {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .club-card__block__left h3 {
    color: black;
    font-size: 24px;
    line-height: 29px;
  }

  .club-card__block__left p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  .club-card__block__left__title .btn {
    display: block;
    width: 100%;
    height: 51px;
    font-size: 14px;
    margin-top: 27px;
  }

  .club-card__block__right {
    flex-basis: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    padding-left: 0;
    border-left: none;
  }

  .club-card__block:last-child {
    margin-bottom: 0;
  }

  //articles

  .articles__block h4 {
    font-weight: 900;
    margin-left: 0;
    font-size: 16px;
    color: var(--color-active);
  }

  .articles.containers a {
    flex-basis: 100%;
  }

  .articles__block p {
    display: block;
    margin-top: 10px;
    padding-left: 0;
    border-left: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }

  .articles__block {
    margin-bottom: 50px;
    min-height: 0;
  }

  .articles.containers {
    margin-top: 85px;
  }

  .articles__all {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-active);
    font-weight: 700;
  }

  .modern-page-navigation {
    display: none;
  }

  .articles__pagination.containers {
    text-align: center;
  }

  //

  .articles-page-img-title,
  .title__h1 h4 {
    display: none;
  }

  .articles-page-title .events-pages-info.about-company-info.containers {
    margin-top: 140px;
    margin-bottom: 60px;
  }

  //trainers

  .trainers__all__select {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  select {
    flex-basis: 100%;
    margin-bottom: 100px;
    padding: 20px;
  }

  .success-stories.success-stories__alls.trainers__all {
    margin-top: 120px;
    margin-bottom: 0;
  }

  .trainers__all, .trainers__all .success-stories___blocks {
    margin-top: 0;
    margin-bottom: 0;
  }

  .trainers__all .success-stories___block {
    margin-top: 0;
    margin-bottom: 100px;
  }

  .trainers__alls a {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-active);
  }

  //advertising-and-partner

  .advertising-and-partners.containers {
    margin-top: 85px;
    margin-bottom: 100px;
  }

  .advertising-and-partners.containers h3 {
    margin-bottom: 50px;
    line-height: 24px;
    font-size: 14px;
  }

  .advertising-and-partners__blocks {
    flex-wrap: wrap;
  }

  .advertising-and-partners__blocks__left {
    line-height: 18px;
    font-size: 12px;
    font-weight: 300;
    height: 510px;
    flex-basis: 100%;
    border-right: none;
    margin-bottom: 50px;
  }

  .advertising-and-partners__blocks__right {
    flex-basis: 100%;
  }

  .advertising-and-partners__blocks__right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advertising-and-partners__blocks__right input[type="text"],
  .advertising-and-partners__blocks__right input[type="email"],
  .advertising-and-partners__blocks__right select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  .advertising-and-partners__blocks__right textarea {
    width: 100%;
    border: 1px solid black;
    height: 113px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin-top: 40px;
    margin-bottom: 50px;
    flex-basis: 100%;
  }

  .advertising-and-partners__blocks__right .btn.btn__form.btn__form {
    margin-left: 0;
  }

  .advertising-and-partners__blocks__right .captcha {
    width: 100%;
    margin: 0;
  }

  .advertising-and-partners__blocks__right p.fz__form {
    position: absolute;
    width: 100%;
    bottom: -130px;
    text-align: left;
    left: 0;
    font-size: 10px;
    line-height: 18px;
    font-weight: 300;
  }


  //comments-and-suggestions

  .comments-and-suggestions.containers {
    margin-top: 85px;
  }

  .comments-and-suggestions__block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 70px;
  }

  .comments-and-suggestions__block h3 {
    margin-bottom: 10px;
    line-height: 18px;
    text-transform: unset;
  }

  .comments-and-suggestions__block h4 {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .comments-and-suggestions__block p {
    line-height: 18px;
    font-size: 12px;
    font-weight: 300;
  }

  .comments-and-suggestions__block__date {
    margin-top: 10px;
  }

  .comments-and-suggestions__all {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }

  .comments-and-suggestions__all a {
    color: var(--color-active);
  }

  .comments-and-suggestions-form form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
  }

  .comments-and-suggestions-form input[type="text"],
  .comments-and-suggestions-form input[type="email"],
  .comments-and-suggestions-form input[type="tel"],
  .comments-and-suggestions-form select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  .comments-and-suggestions-form textarea {
    width: 100%;
    border: 1px solid black;
    height: 113px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin-top: 17px;
    margin-bottom: 25px;
    flex-basis: 100%;
  }

  .comments-and-suggestions-form__flex {
    margin-bottom: 0;
  }

  .comments-and-suggestions-form .captcha {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .comments-and-suggestions-form p.fz__form {
    font-size: 10px;
    line-height: 18px;
    font-weight: 300;
  }

  //schedule

  .schedule.containers {
    margin-top: 91px;
  }

  .schedule.containers p {
    font-size: 12px;
    line-height: 18px;
  }

  .schedule__text {
    align-items: center;
  }

  .schedule__text a.social__link {
    color: var(--color-active);
  }

  .schedule__block {
    margin-top: 30px;
    height: 727px;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 100%;
  }

  .schedule.containers .schedule__block p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
  }


  //404

  p.error__title {
    font-size: 130px;
  }

  .error.containers {
    margin-top: 190px;
  }

  .error.containers img {
    top: -145px;
    left: calc(50% - 145px);
    width: 302px;
    height: 456px;
  }

  p.error__text {
    font-size: 20px;
    margin-top: 167px;
    left: calc(50% - 130px);
  }

  .error__a {
    margin-top: 247px;
  }

  .error.containers a {
    border: 1px solid var(--color-active);
    padding: 15px 65px;
    font-size: 14px;
  }


  //vacansies

  .vacansies__image.containers {
    display: none;
  }

  .vacansies.containers {
    flex-wrap: wrap;
  }

  .vacansies__conditions, .vacansies__all, .vacansies__respond {
    flex-basis: 100%;
    margin-top: 85px;
  }

  .vacansies__all{
    margin-top: 50px;
  }

  .vacansies__conditions h2 {
    margin-bottom: 30px;
    text-transform: initial;
    font-size: 20px;
    text-align: center;
  }

  .vacansies__conditions p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .vacansies__conditions {
    border-right: none;
    border-bottom: 1px solid var(--color-active);
    padding-bottom: 30px;
  }

  .vacansies__all h4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
  }


  .vacansies__all h4:hover {
    font-weight: 900;
  }

  .vacansies__all p {
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
  }

  .vacansies__job-block {
    text-align: center;
  }

  p.vacansies__job-block__demands, p.vacansies__job-block__adress {
    margin-top: 20px;
  }

  button.btn.vacansies__btn {
    background: transparent;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .vacansies__respond h4{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .vacansies__respond__blocks h4 {
    text-align: left;
    margin-top: 55px;
  }

  .vacansies__respond__block {
    margin-bottom: 55px;
    margin-top: 27px;
  }

  .vacansies__respond__block p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .vacansies__respond__block input[type="text"],
  .vacansies__respond__block input[type="tel"],
  .vacansies__respond__block input[type="email"],
  .vacansies__respond__block input[type="date"] {
    flex-basis: 100%;
    padding: 10px 20px;
    font-size: 14px;
  }

  .vacansies__respond.active form {
    width: 300px;
    margin: auto;
  }

  .vacansies__respond__blocks .btn.btn__form.btn__form__captcha {
    margin: 0;
    width: 100%;
    height: 64px;
    border: 1px solid black;
  }

  .modal-form__file label img {
    margin-left: 50px;
    width: 20px;
  }

  //buy-card

  .buy-card.containers {
    margin-top: 60px;
  }

  .buy-card__title h2 {
    font-size: 24px;
  }

  .buy-card__title h1 {
    font-size: 57px;
    margin-bottom: 0;
  }

  .buy-card__title p,
  .buy-card__title__img {
    display: none;
  }

  .buy-card__title__text {
    margin-top: 0;
    text-align: center;
  }

  .buy-card__title {
    margin-left: 0;
  }

  .constructor__card {
    margin-top: 60px;
    margin-bottom: 250px;
  }

  .info-left {
    display: none;
  }

  .constructor__level {
    max-width: 100%;
    min-width: 256px;
    margin: auto;
  }

  .constructor__level h3 {
    margin-top: 0;
    text-align: center;
  }

  .constructor__level input[type="text"],
  .constructor__level input[type="tel"] {
    margin-bottom: 55px;
    width: 100%;
    margin-left: 0;
  }

  .constructor__level form {
    width: 300px;
    margin: auto;
  }

  .constructor__level .btn {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 32px;
    border: 1px solid var(--color-active);
    height: 52px;
    width: 100%;
    font-size: 14px;
    padding-top: 18px;
  }

  .constructor__level1:after,
  .constructor__level2:after,
  .constructor__level3:after,
  .constructor__level4:after,
  .constructor__level5:after {
    display: none;
  }

  .constructor__level2__logo__img {
    width: 118px;
  }

  p.constructor__level2__adress {
    font-size: 10px;
    color: #212020;
    margin-top: 12px;
    font-weight: 300;
  }
  .constructor__level .constructor__level1 h3 {
    margin-bottom: 40px;
  }

  .constructor__level h3 {
    margin-bottom: 40px;
  }

  .constructor__level2__logo {
    margin-bottom: 50px;
  }

  .constructor__level2 .btn {
    margin-top: 15px;
  }

  .constructor__level3__block h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  .constructor__level3__block {
    margin-bottom: 40px;
  }

  .constructor__level3__block p {
    font-size: 10px;
    line-height: 13px;
  }

  .constructor__level3 .btn {
    margin-top: 34px;
  }

  .constructor__level4__all {
    margin-left: 0;
  }

  .constructor__level4__all .checkbox__color__active {
    margin-bottom: 52px;
    text-align: center;
    position: relative;
  }

  .constructor__level4__all .checkbox + label:before,
  .constructor__level4__all input.checkbox {
    left: 0;
  }

  .constructor__level4__all .checkbox:checked + label:after {
    left: 5px;
  }

  .constructor__level4 .btn.btn__next {
    margin-top: 0;
    margin-bottom: 0;
  }

  .constructor__level4 .btn.btn__back {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .constructor__level4 .input-checkbox {
    position: initial;
  }

  .constructor__level5 .btn.btn__back {
    margin-top: 38px;
  }

  .constructor__level5 .card__month {
    color: #212020;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .selected__card {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 160px;
  }

  .selected__card__image img {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .selected__card__image {
    width: 203px;
    order: 1;
    text-align: center;
  }

  .selected__card__image a {
    font-size: 10px;
    line-height: 13px;
  }

  .selected__card__title {
    max-width: 100%;
    min-width: 100%;
  }

  .selected__card__title__top {
    width: 100%;
    text-align: center;
  }

  .selected__card__title h4 {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
  }

  .selected__card__title .selected__card__title__black {
    margin-bottom: 7px;
  }

  .selected__card__title p {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .selected__card__title__button {
    flex-wrap: wrap;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 153px);
  }

  .selected__card__title__button .btn {
    border-bottom: 1px solid var(--color-active);
    width: 100%;
    height: 52px;
    margin-top: 25px;
    font-size: 14px;
  }

  //hip-hop-dance

  .hip-hop-video {
    height: 100%;
    margin-top: 108px;
  }

  .hip-hop-info {
    margin-top: 50px;
  }

  .hip-hop-video .slider-famili-maximus .slider-controls {
    top: calc(100% + 45px);
  }

  //dance-studio

  .dance-studio-slider .contents {
    display: none;
  }

  .dance-studio-slider .slide .containers {
    height: 50px;
  }

  .dance-studio {
    margin-top: 100px;
  }

  .dance-studio__block h2 {
    font-size: 20px;
    color: #212020;
    margin-bottom: 63px;
  }

  .dance-studio__block__right h2 {
    text-align: right;
  }

  .dance-studio__block {
    margin-bottom: 70px;
    display: block;
    position: relative;
  }

  .dance-studio__block .dance-studio__block__a {
    border: none;
    overflow: inherit;
    position: initial;
  }

  .dance-studio__block .dance-studio__block__title {
    margin: 0;
  }

  .dance-studio__block__right  .dance-studio__block__a p {
    right: 0;
    top: 40px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
  }

  .dance-studio__block__left  .dance-studio__block__a p {
    left: 0;
    top: 40px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
  }

  .dance-studio__block__left:hover .dance-studio__block__a p {
    -webkit-animation: none;
    animation: none;
    left: calc(100% - 209px);
  }

  .dance-studio__block__right:hover .dance-studio__block__a p {
    -webkit-animation: none;
    animation: none;
    right: calc(100% - 209px);
  }

  .dance-studio__block p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 300;
  }

  .promotional-code.one-off-visit {
    height: 555px;
    padding-top: 20px;
  }

  .promotional-code.one-off-visit form {
    width: 100%;
    margin-top: 0;
  }

  .promotional-code.one-off-visit select,
  .promotional-code.one-off-visit input[type="text"],
  .promotional-code.one-off-visit input[type="tel"],
  .promotional-code.one-off-visit input[type="date"] {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  .promotional-code.one-off-visit form .btn__form {
    margin-left: 0;
  }

  .promotional-code.one-off-visit form .captcha {
    margin-top: 10px;
    margin-bottom: 32px;
  }

  .promotional-code.one-off-visit .promotional-code__title h3 {
    font-size: 12px;
    line-height: 15px;
  }

  .promotional-code.one-off-visit  .promotional-code__title {
    top: -60px;
  }

  .promotional-code.one-off-visit .one-off-visit__title h3 {
    top: -100px;
    font-size: 14px;
    text-transform: unset;
    text-align: center;
    width: 100%;
  }
}