@media (min-width: 320px) and (max-width: 767px) {
  .header__menu__top {
    display: block;
    order: -3;
  }

  .containers {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .header__menu__top li.social__item {
    margin-top: 6px;
  }

  svg.svg-inline--fa.fa-bars.fa-w-14 {
    width: 20px;
    height: 20px;
  }

  .header__logo {
    width: 118px;
    height: 35px;
    order: -2;
  }

  .btn {
    width: 130px;
    font-size: 12px;
    height: 26px;
    color: black;
    padding-top: 7px;
    border: 1px solid var(--color-active);
  }

  .header__bottom,
  button.header__search,
  .selected-club {
    display: none;
  }

  .header {
    height: 66px;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 47px;
  }

  .freeze-the-map p {
    display: block;
    width: 27px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  button.btn.freeze-the-map {
    color: transparent;
    border-color: white;
    width: 27px;
    height: 20px;
    position: relative;
    animation: none;
  }

  button.btn.freeze-the-map:hover {
    color: transparent;
    border-color: white;
    background-color: white;
  }

  .header__btn {
    align-items: center;
    flex-basis: 70%;
  }

  .social-btn {
    margin-bottom: 0;
  }

  .login__top {
    display: none;
    order: -1;
  }

  .login__disactive {
    margin-top: 7px;
  }

  .header__link {
    flex-basis: 100%;
  }

  .header__top {
    flex-wrap: wrap;
    height: 96px;
  }

  // slider
  h2 {
    font-size: 24px;
  }

  .content__left h2 {
    margin-bottom: 45px;
    min-width: 280px;
  }

  .content__left p {
    text-align: left;
    line-height: 15px;
    width: 100%;
    margin-bottom: 147px;
    font-size: 12px;
    color: #212020;
  }

  .slider {
    height: 455px;
    overflow: inherit;
  }

  .content__left {
    padding-top: 40px;
    width: 100%;
    text-align: center;
  }

  .content__left .btn {
    font-size: 12px;
    height: 36px;
    min-width: 207px;
    font-weight: 500;
    padding-top: 9px;
  }

  .contents {
    height: 307px;
    flex-wrap: wrap;
  }

  .img-content img,
  .red-block {
    display: none;
  }

  .content__right p {
    font-size: 80px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #d52b2b 0%, darken(#d52b2b, 30%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
  }

  .content__right p span {
    bottom: 0;
    left: 0;
    position: relative;
    font-size: inherit;
    background: linear-gradient(180deg, #d52b2b 0%, darken(#d52b2b, 30%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content__right {
    position: absolute;
    bottom: 0;
    left: calc(50% - 90px);
  }

  .slider-controls label[for="btn-1"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-2"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-3"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-4"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label {
    width: 4px;
    height: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"]:after,
  #btn-2:checked ~ .slider-controls label[for="btn-2"]:after,
  #btn-3:checked ~ .slider-controls label[for="btn-3"]:after,
  #btn-4:checked ~ .slider-controls label[for="btn-4"]:after {
    width: 14px;
    height: 14px;
  }

  /*.slider-controls {
    height: 70px;
    right: calc(50% - 20px);
    top: 115%;
    transform: rotate(90deg);
  }*/

  .slider-controls div {
    margin-top: 13px;
    margin-right: 7px;
    margin-left: 7px;
    position: relative;
    font-size: 12px;
  }

  .slider-controls .btn__slider .active__slide:after {
    left: -1px;
    top: -25px;
  }

  .slider-controls .btn__slider div:before {
    left: 5px;
    top: -19px;
  }

  .slider__index .slider-controls {
    top: 103%;
    right: calc(50% - 64px);
    margin-top: 0;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(0deg);
  }

  .news-and-promotions-preview__left img,
  .news-and-promotions-preview__right img {
    width: 100%;
    height: inherit;
  }

  h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .news-and-promotions-preview__center {
    display: none;
  }

  .news-and-promotions-preview h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  .news-and-promotions-preview {
    margin-top: 120px;
    margin-bottom: 95px;
    flex-wrap: wrap;
  }

  .news-and-promotions-preview__right {
    margin-top: 40px;
  }

  .why-choose h2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  h2.gradient-title {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 1;
    margin: auto;
    margin-top: 10px;
  }

  .why-choose__block {
    margin-top: 98px;
    margin-bottom: 143px;
    flex-wrap: wrap;
  }

  .containers .why-choose__block__image,
  .containers .why-choose__block__text{
    flex-basis: 100%;
  }

  .containers .why-choose__block__text{
    border: 0;
    padding: 0;
  }

  .why-choose__block__1 .why-choose__block__image img {
    width: 250px;
    height: 336px;
  }

  .why-choose__block__2 .why-choose__block__image img {
    width: 179px;
    height: 387px;
  }

  .why-choose__block__3 .why-choose__block__image img {
    width: 166px;
    height: 381px;
  }

  .block__right .why-choose__block__image p {
    top: calc(50% - 118px);
    left: 15px;
  }

  .why-choose__block__image p {
    font-size: 77px;
  }

  .why-choose__block__2 .why-choose__block__image {
    order: -1;
  }

  .containers .why-choose__block__image {
    text-align: center;
  }

  .why-choose__block__text__title {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 84px;
    margin-top: 45px;
  }

  .why-choose__block__text__title span {
    bottom: -35px;
    right: 63px;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
  }

  .block__right .why-choose__block__text__text {
    line-height: 15px;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
  }

  .block__left .why-choose__block__text__text {
    line-height: 15px;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
  }

  .block__left .why-choose__block__text {
    padding-right: 20px;
  }

  .block__left .why-choose__block__image p {
    top: calc(50% - 170px);
    right: 0px;
  }

  .block__right:nth-child(4) .why-choose__block__image p {
    top: calc(50% - 188px);
    left: 30px;
  }

  .block__right:nth-child(4) img {
    margin-left: 40px;
  }

  .block__right:nth-child(4) {
    margin-bottom: 115px;
  }

  .news-and-action h3.red-gradient-title {
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .news-and-action___block {
    flex-wrap: wrap;
    margin-bottom: 45px;
    margin-top: 40px;
  }

  .news-and-action___block:nth-child(3) {
    margin-bottom: 130 + 65px;
  }

  .news-and-action___block img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }

  .news-and-action__image {
    width: 100%;
  }

  .news-and-action___block h4 {
    font-weight: 700;
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .news-and-action__right {
    margin-left: 0;
    border-left: 0;
  }

  .news-and-action__left {
    margin-right: 0;
    border-right: 0;
    order: 2;
  }

  .news-and-action__text {
    padding-left: 0;
    padding-right: 0;
  }

  .news-and-action___block p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
  }

  p.promotional-code__maximus {
    display: none;
  }

  .promotional-code {
    height: 429px;
    padding-top: 57px;
    overflow: inherit;
    background-color: rgba(206, 206, 206, 0.2);
  }

  .promotional-code__title {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: -92px;
    justify-content: center;
    width: 94%;
  }

  .promotional-code__title h2,
  .promotional-code__title h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    line-height: 24px;
    color: var(--color-active);
  }

  .promotional-code form {
    margin-top: 0;
    width: 100%;
  }

  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .captcha {
    position: relative;
    margin-top: 14px;
    margin-bottom: 34px;
  }

  .btn__form {
    border: 1px solid black;
    width: 100%;
    height: 65px;
    line-height: 50px;
    margin-left: 0;
  }

  .btn__form__captcha .input-checkbox {
    position: relative;
    margin-left: 25px;
  }

  .checkbox__color__active {
    margin-bottom: 27px;
    margin-left: 32px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 300;
  }

  .promotional-code__X {
    display: none;
  }

  .partner .containers {
    justify-content: space-around;
  }

  .partner {
    height: 186px;
  }

  .partner__block {
    width: 76px;
  }

  .partner__block img {
    width: 100%;
  }

  //footer

  .footer__top .containers {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .footer__center__block {
    display: none;
  }

  .footer__top {
    height: 558px;
    padding-top: 42px;
    padding-bottom: 56px;
  }

  .footer__logo img {
    width: 186px;
  }

  .footer__left__block {
    flex-basis: 60%;
  }

  button.btn.btn__footer {
    width: 187px;
    height: 46px;
    font-weight: 300;
    font-size: 14px;
  }

  .download__application {
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
  }

  .footer a.social__link {
    margin-left: 0;
    margin-right: 24px;
    margin-top: 20px;
  }

  .footer .social__item:last-child a.social__link {
    margin-right: 0;
  }

  .footer__contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 300;
  }

  .footer__right__block {
    width: 100%;
    height: 134px;
    padding-left: 25px;
    padding-right: 25px;
  }

  p.number:nth-child(1) {
    text-align: right;
  }

  p.number {
    margin-bottom: 20px;
    flex-basis: 45%;
  }

  .footer__email {
    display: none;
  }

  .footer__bottom {
    height: 132px;
    position: relative;
    padding-bottom: 16px;
  }

  .copyrate {
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    justify-content: flex-end;
  }

  .copyrate p:last-child{
    position: absolute;
    top: 25px;
    text-align: center;
  }

  .footer__bottom .containers {
    align-items: flex-end;
  }

  .logo-tau {
    width: 109px;
  }

  .logo-tau img {
    width: 100%;
  }

  .social {
    justify-content: center;
    flex-basis: 100%;
  }

  //adaptive-menu

  .menu {
    z-index: 100;
    position: absolute;
  }

  .header__bottom,
  button.header__search,
  .selected-club {
    display: none;
    position: fixed;
  }

  .menu-adaptive,
  .search__form__header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 568px;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid black;
  }

  .menu-adaptive ul.menu-main {
    flex-direction: column;
    height: 330px;
    align-items: center;
    width: 100%;
    margin-top: 180px;
  }

  .menu-adaptive,
  .search__form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search__form__header {
    z-index:12;
    justify-content: center;
    height: 658px;
  }

  .menu-main-submenu {
    width: 100%;
  }

  p.back {
    font-size: 10px;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
  }

  .menu-adaptive li.menu-main__item {
    font-size: 16px;
    font-weight: 700;
  }

  .menu-adaptive__close,
  .search-form__close {
    position: fixed;
    top: 34px;
    right: 10px;
  }

  .selected-club {
    display: block;
    top: 84px;
    left: 10px;
    z-index: 11;
    font-size: 14px;
    font-weight: 400;
    width: 320px;
  }

  .header select {
    width: 175px;
    font-size: 14px;
    color: var(--color-active);
    font-weight: 400;
  }

  button.header__search {
    display: block;
    top: 34px;
    right: 79px;
    z-index: 11;
    width: 20px;
    height: 20px;
  }

  .menu-main-submenu-background {
    background-color: transparent;
    padding: 0;
    width: 100%;
    border-left: none;
    color: #212020;
    -webkit-box-shadow: -2px 2px 20px -4px black;
    box-shadow: none;
    text-align: center;
  }

  .menu-main-container {
    margin-top: 115px;
  }

  .search__form__header input.search-form__input {
    width: 100%;
    height: 35px;
    border: 1px solid #212020;
    margin-left: 0;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  .search__form__header button.btn.search-form__btn {
    width: 118px;
    background: var(--color-active);
    color: #fff;
    height: 35px;
    border: 1px solid var(--color-active);
    animation: none;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 36px;
  }

  button.header__search,
  .selected-club {
    display: none;
    position: fixed;
  }

  form.search-form__header {
    text-align: center;
  }

  svg.svg-inline--fa.fa-times.fa-w-12 {
    width: 20px;
    height: 20px;
  }

  .menu-adaptive li.social__item {
    margin-top: 0;
  }
}