@media (min-width: 320px) and (max-width: 767px) {
  .landing__red .landing__services,
  .landing__blue .landing__services,
  .landing__red .landing__X,
  .landing__blue .landing__X,
  .landing__blue .btn,
  .landing__red .btn {
    display: none;
  }

  .landing__blue {
    margin-top: 0;
    flex-direction: column;
  }

  .landing__logo img {
    width: 187px;
    height: 55px;
  }

  .landing__red .landing__logo {
    margin-left: 0;
  }

  .landing__blue .landing__logo {
    margin-right: 0;
  }

  .landing__red {
    flex-direction: column-reverse;
  }

  .landing__blue,
  .landing__red {
    padding: 41px 66px;
    align-items: center;
    position: relative;
  }

  .landing__logo {
    height: 100%;
  }

  .landing__adress {
    height: 100%;
  }

  .landing__adress p {
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    writing-mode: inherit;
    transform: rotate(360deg);
    color: #707070;
  }

  .landing__adress p span {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 20px;
    opacity: 1;
    color: #707070;
  }

  .langing__number {
    font-size: 20px;
    color: #707070;
  }

  .landing__adress,
  .landing__logo {
    margin: 0;
  }

  .btn_landing__logo {
    display: none;
  }

  .btn {
    width: 187px;
    font-size: 16px;
    height: 54px;
    color: white;
  }

  .btn__red {
    background: #c32121;
    border: 1px solid #c32121;
  }

  .btn__blue {
    background: #00a2af;
    border: 1px solid #00a2af;
  }

  .landing__blue .landing__logo,
  .landing__red .landing__logo {
    position: relative;
    align-items: center;
  }

  .landing__blue .landing__logo {
    flex-direction: column-reverse;
  }

  .landing__adress {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .landing__red .langing__number {
    margin-bottom: 90px;
  }

  .landing__blue .langing__number {
    margin-top: 120px;
  }

  .landing__blue .landing__adress {
    position: absolute;
    top: 106px;
  }

  .landing__red .landing__adress {
    margin-top: 10px;
  }
}