<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAXIMUS</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="assets/script/vendor.js"></script>
    <link rel="stylesheet" href="assets/style/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    {{> header}}
    {{> background}}
    <main class="content">
        <div class="events__title title">
            <div class="containers">
                <a href="index.html">Главная </a> / Купить карту
            </div>
        </div>

        {{> buy-card}}
        {{> one-off-visit}}
        {{> partner}}
    </main>
    {{> footer}}
</div>
</body>
<script src="assets/script/modules/localStorage.js"></script>
<script src="assets/script/modules/logo.js"></script>
<script src="assets/script/modules/index-parallax.js"></script>
<script src="assets/script/modules/buy-card.js"></script>
<script src="assets/script/modules/maskinput.js"></script>
<script type="text/javascript">
    jQuery(function($){
        $(".phonemask").mask("+7(999)999-99-99");
    });
</script>
</html>