@media (max-width: 1365px) and (min-width: 768px) {

  .btn {
    cursor: pointer;
    width: 180px;
    text-align: center;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    border-bottom: 1px solid var(--color-active);
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .title a {
    font-size: 10px;
  }

  .title {
    top: 25px;
    font-size: 10px;
  }

  .title__h1 {
    top: 48px;
  }

  .title__h1 h1 {
    font-size: 24px;
  }

  .slider-famili-maximus .slide .containers {
    position: relative;
    bottom: 0;
  }

  .slider-famili-maximus .slide .contents {
    color: black;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    height: 100%;
  }

  .slider input {
    position: absolute;
  }

  .slides {
    height: 100%;
  }

  .slider-famili-maximus .slide .contents p {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .slider-famili-maximus .slide .contents h4 {
    font-weight: 500;
    margin-bottom: 18px;
    font-size: 20px;
    margin-top: 25px;
  }

  .slider-famili-maximus .slide {
    position: relative;
    height: 100%;
  }

  .slider-famili-maximus .slider-controls {
    height: 70px;
    right: calc(50% - 90px);
    top: 100%;
  }

  .slider-famili-maximus .slider {
    height: 100%;
  }

  p.date {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .news-famili-maximus__block {
    flex-basis: 43%;
    margin-bottom: 101px;
  }

  .text {
    top: 0;
    position: relative;
  }

  .text p {
    width: 100%;
    margin: auto;
    color: black;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 15px;
  }

  .news-famili-maximus__block:nth-child(3),
  .news-famili-maximus__block:nth-child(4),
  .news-famili-maximus__block:nth-child(5),
  .news-famili-maximus__block:nth-child(6) {
    display: none;
  }

  .all-family-members .why-choose__block {
    margin-bottom: 170px;
  }

  .all-family-members .why-choose .gradient-title {
    margin-left: 230px;
    font-size: 52px;
    margin-top: 0;
    text-transform: uppercase;
  }

  .all-family-members .why-choose h2 {
    text-transform: unset;
  }

  .all-family-members .block__right .why-choose__block__image p {
    top: calc(50% - 210px);
    left: 18px;
    font-size: 85px;
  }

  .all-family-members .why-choose__block__text__title {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  .all-family-members .why-choose__block__1 .why-choose__block__image img {
    width: 250px;
    height: 440px;
  }

  .all-family-members .block__right .why-choose__block__text, .all-family-members .block__left .why-choose__block__text {
    padding-left: 20px;
  }

  .all-family-members .block__right .why-choose__block__text__text {
    line-height: 18px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
  }

  .all-family-members .why-choose__block__text {
    height: 187px;
    overflow: hidden;
  }

  .all-family-members .why-choose__block.block__right.why-choose__block__1 {
    margin-bottom: 236px;
  }

  .all-family-members .block__left .why-choose__block__image p {
    top: calc(50% - 240px);
    right: -30px;
    font-size: 85px;
  }

  .all-family-members .why-choose__block__2 .why-choose__block__image img {
    width: 393px;
    height: 405px;
    top: -205px;
    right: 0;
  }

  .all-family-members .why-choose__block__3 .why-choose__block__image img {
    width: 307px;
    height: 525px;
  }

  .all-family-members .block__right:nth-child(4) .why-choose__block__image p {
    top: calc(50% - 295px);
    left: -5px;
  }

  .all-family-members .family-maximus__btn {
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    min-width: 325px;
    position: absolute;
    bottom: -145px;
    margin-left: 0;
    left: calc(50% - 162px);
  }

  .all-family-members .block__right:nth-child(4) {
    margin-bottom: 300px;
  }

  .success-stories h3 {
    font-size: 32px;
    line-height: 1;
  }

  .success-stories___block:nth-child(3) {
    display: none;
  }

  .success-stories__alls .success-stories___block:nth-child(3) {
    display: block;
  }

  .success-stories__alls .success-stories___block {
    margin-right: 95px;
  }

  .success-stories__alls .success-stories___block:nth-child(3n) {
    margin-right: 95px;
  }

  .success-stories__alls .success-stories___block:nth-child(2n) {
    margin-right: 0;
  }

  .success-stories___block {
    flex-basis: 42%;
  }

  p.success-stories___name {
    font-size: 16px;
    font-weight: 700;
  }

  .success-stories___blocks {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .success-stories__all a {
    font-size: 16px;
    color: var(--color-active);
  }

  .success-stories {
    margin-bottom: 130px;
  }

  .question-answer h3 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 60px;
  }

  .title-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .title-h4, .answer {
    margin-left: 40px;
  }

  .drop-down-question {
    margin-left: 28px;
    margin-bottom: 45px;
  }

  p.answer {
    margin-top: 20px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
    width: 80%;
  }

  //events

  .news-famili-maximus.events.containers {
    margin-top: 105px;
  }

  .events .news-famili-maximus__block {
    margin-bottom: 45px;
  }

  //events-pages

  .events-pages-info.containers {
    margin-top: 45px;
    margin-bottom: 80px;
  }

  .events-pages-info__blocks,
  .events-pages-info__social p{
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
  }

  .events-pages-info__social a.social__link {
    background-color: var(--color-active);
  }

  .events-pages-form h4 {
    font-size: 20px;
  }

  .events-pages-form .captcha {
    order: 1;
  }

  .events-pages-form .checkbox__color__active {
    flex-basis: 35%;
  }

  .events-pages-form input[type="text"],
  .events-pages-form input[type="tel"] {
    flex-basis: 43%;
  }

  .events-pages-form .btn__form__captcha {
    width: 256px;
  }

  .events-pages-form__flex {
    align-items: center;
  }

  .events-pages-form .btn__form {
    border: 1px solid black;
    height: 64px;
    font-size: 14px;
  }

  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(3),
  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(4),
  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(5),
  .news-famili-maximus.events.containers .news-famili-maximus__block:nth-child(6) {
    display: block;
  }

  //success-stories

  .success-stories__alls .success-stories___block {
    flex-basis: 42%;
  }

  //about-company

  p.about-company-title__maximus,
  p.about-company-title__maximus {
    font-size: 115px;
  }

  .about-company-info p {
    line-height: 18px;
  }

  .events-pages-info.about-company-info.containers {
    margin-bottom: 112px;
  }

  .about-company-blocks h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .about-company-blocks img {
    width: 100%;
  }

  .containers.about-company-block__1,
  .containers.about-company-block__2,
  .containers.about-company-block__3 {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    color: black;
    line-height: 18px;
    font-size: 14px;
  }

  .containers.about-company-block__1 p,
  .containers.about-company-block__2 p,
  .containers.about-company-block__3 p {
    width: 100%;
  }

  .about-company-blocks {
    position: relative;
    margin-bottom: 75px;
  }

  .containers.about-company-block__2 p {
    float: initial;
  }

  .btn-container {
    margin-top: 45px;
  }

  button.btn.about-company__btn {
    margin-top: 0;
    width: 325px;
    height: 51px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  //club-card
  .club-card__block {
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .club-card__block__left {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .club-card__block__left img {
    margin-top: 0;
    width: 323px;
    height: 209px;
  }

  .club-card__block__left__title {
    flex-basis: 43%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .club-card__block__left h3 {
    color: black;
    font-size: 24px;
    line-height: 29px;
  }

  .club-card__block__left p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  .club-card__block__left__title .btn {
    display: block;
    width: 100%;
    height: 51px;
    font-size: 14px;
  }

  .club-card__block__right {
    flex-basis: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding-left: 0;
    border-left: none;
  }

  .club-card__block:last-child {
    margin-bottom: 0;
  }

  //articles

  .articles__block h4 {
    font-weight: 900;
    margin-left: 0;
    font-size: 16px;
    color: var(--color-active);
  }

  .articles__block p {
    display: block;
    margin-top: 10px;
    padding-left: 0;
    border-left: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }

  .articles__block {
    margin-bottom: 50px;
    min-height: 0;
  }

  .articles.containers {
    margin-top: 127px;
  }

  //articles-pages

  .title__h1 h4 {
    display: none;
  }

  //trainers

  .trainers__all__select {
    justify-content: space-between;
  }

  select {
    flex-basis: 42%;
  }

  .success-stories.success-stories__alls.trainers__all {
    margin-top: 120px;
    margin-bottom: 0;
  }

  .trainers__alls a {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-active);
  }

  //advertising-and-partner

  .advertising-and-partners.containers {
    margin-top: 104px;
    margin-bottom: 100px;
  }

  .advertising-and-partners.containers h3 {
    margin-bottom: 40px;
    line-height: 24px;
  }

  .advertising-and-partners__blocks {
    flex-wrap: wrap;
  }

  .advertising-and-partners__blocks__left {
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
    height: 380px;
    flex-basis: 100%;
    border-right: none;
    margin-bottom: 60px;
  }

  .advertising-and-partners__blocks__right {
    flex-basis: 100%;
  }

  .advertising-and-partners__blocks__right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advertising-and-partners__blocks__right input[type="text"],
  .advertising-and-partners__blocks__right input[type="email"],
  .advertising-and-partners__blocks__right select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin: 0;
    margin-bottom: 20px;
    flex-basis: 46%;
  }

  .advertising-and-partners__blocks__right textarea {
    width: 100%;
    border: 1px solid black;
    height: 113px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin-top: 17px;
    margin-bottom: 25px;
    flex-basis: 100%;
  }

  .advertising-and-partners__blocks__right .btn.btn__form.btn__form {
    margin-left: 0;
  }

  .advertising-and-partners__blocks__right .captcha {
    width: 100%;
    margin: 0;
  }

  .advertising-and-partners__blocks__right p.fz__form {
    position: absolute;
    width: 100%;
    bottom: -60px;
    text-align: left;
    left: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }

  //comments-and-suggestions

  .comments-and-suggestions.containers {
    margin-top: 120px;
  }

  .comments-and-suggestions__block {
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: 50px;
  }

  .comments-and-suggestions__block h3 {
    margin-bottom: 10px;
    line-height: 18px;
    text-transform: unset;
  }

  .comments-and-suggestions__block h4 {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .comments-and-suggestions__block p {
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
  }

  .comments-and-suggestions__block__date {
    margin-top: 10px;
  }

  .comments-and-suggestions__all {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }

  .comments-and-suggestions__all a {
    color: var(--color-active);
  }

  .comments-and-suggestions-form form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
  }

  .comments-and-suggestions-form input[type="text"],
  .comments-and-suggestions-form input[type="email"],
  .comments-and-suggestions-form input[type="tel"],
  .comments-and-suggestions-form select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin: 0;
    margin-bottom: 20px;
    flex-basis: 46%;
  }

  .comments-and-suggestions-form textarea {
    width: 100%;
    border: 1px solid black;
    height: 113px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: #8b8a8a;
    margin-top: 17px;
    margin-bottom: 25px;
    flex-basis: 100%;
  }

  .comments-and-suggestions-form__flex {
    margin-bottom: 0;
  }

  .comments-and-suggestions-form .captcha {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .comments-and-suggestions-form p.fz__form {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }

  //schedule

  .schedule.containers {
    margin-top: 101px;
  }

  .schedule.containers p {
    font-size: 14px;
    line-height: 18px;
  }

  .schedule__text {
    align-items: center;
  }

  .schedule__text a.social__link {
    color: var(--color-active);
  }

  .schedule__block {
    margin-top: 56px;
    height: 727px;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 50%;
  }

  .schedule.containers .schedule__block p {
    font-size: 24px;
    text-transform: uppercase;
  }

  //404

  p.error__title {
    font-size: 200px;
  }

  .error.containers {
    margin-top: 190px;
  }

  .error.containers img {
    top: -145px;
    left: calc(50% - 165px);
    width: 328px;
    height: 494px;
  }

  p.error__text {
    font-size: 34px;
    margin-top: 100px;
    left: calc(50% - 220px);
  }

  .error__a {
    margin-top: 207px;
  }

  .error.containers a {
    border: 1px solid var(--color-active);
    padding: 15px 45px;
    font-size: 14px;
  }

  //vacansies

  .vacansies__image.containers {
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .vacansies__conditions h2 {
    margin-bottom: 35px;
    text-transform: initial;
    font-size: 30px;
  }

  .vacansies__conditions p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .vacansies__conditions {
    margin-right: 69px;
    padding-right: 10px;
  }

  .vacansies__all h4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
  }


  .vacansies__all h4:hover {
    font-weight: 900;
  }

  .vacansies__all p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
  }

  .vacansies__job-block {
    text-align: left;
  }

  p.vacansies__job-block__demands, p.vacansies__job-block__adress {
    margin-top: 20px;
  }

  button.btn.vacansies__btn {
    background: transparent;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .vacansies__respond h4{
    font-size: 14px;
    line-height: 24px;
  }

  .vacansies__respond__block {
    margin-bottom: 55px;
    margin-top: 27px;
  }

  .vacansies__respond__block p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .vacansies__respond__block input[type="text"],
  .vacansies__respond__block input[type="tel"],
  .vacansies__respond__block input[type="email"],
  .vacansies__respond__block input[type="date"] {
    flex-basis: 100%;
    padding: 10px 20px;
    font-size: 14px;
  }

  .vacansies__respond.active {
    padding-left: 50px;
  }

  .vacansies__respond form {
    width: 276px;
  }

  .vacansies__respond__blocks .btn.btn__form.btn__form__captcha {
    margin: 0;
    width: 100%;
    height: 64px;
    border: 1px solid black;
  }

  .modal-form__file label img {
    margin-left: 50px;
    width: 20px;
  }

  //buy-card

  .buy-card.containers {
    margin-top: 60px;
  }

  .buy-card__title h2 {
    font-size: 24px;
  }

  .buy-card__title h1 {
    font-size: 60px;
    margin-bottom: 0;
  }

  .buy-card__title p {
    display: none;
  }

  .buy-card__title__img {
    width: 302px;
  }

  .buy-card__title {
    margin-left: -46px;
  }

  .constructor__card {
    margin-top: 68px;
    margin-bottom: 275px;
  }

  .info-left {
    max-width: 187px;
    min-width: 187px;
    height: 356px;
    padding: 37px 13px 85px 17px;
  }

  .info-left h3 {
    margin-top: 0;
    line-height: 18px;
    margin-bottom: 105px;
    font-size: 12px;
  }

  .info-left p {
    font-size: 14px;
    line-height: 18px;
    color: #cecece;
  }

  .constructor__level {
    max-width: 256px;
    min-width: 256px;
  }

  .constructor__level h3 {
    margin-top: 0;
    text-align: center;
  }

  .constructor__level input[type="text"],
  .constructor__level input[type="tel"] {
    margin-bottom: 55px;
    width: 100%;
    margin-left: 0;
  }

  .constructor__level .btn {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
    border: 1px solid var(--color-active);
    height: 52px;
    width: 100%;
    font-size: 14px;
    padding-top: 18px;
  }

  .constructor {
    position: relative;
    padding-bottom: 80px;
  }

  .constructor__level1:after,
  .constructor__level2:after,
  .constructor__level3:after,
  .constructor__level4:after,
  .constructor__level5:after {
    display: none;
  }

  .constructor__level1,
  .constructor__level2,
  .constructor__level3,
  .constructor__level4,
  .constructor__level5 {
    position: inherit;
  }

  .constructor__level1 .check__1,
  .constructor__level1 .check__2 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .constructor__level1 .check__2 {
    bottom: -40px;
  }

  .constructor__level2__logo__img {
    width: 118px;
  }

  p.constructor__level2__adress {
    font-size: 10px;
    color: #212020;
    margin-top: 12px;
    font-weight: 300;
  }
  .constructor__level .constructor__level1 h3 {
    margin-bottom: 80px;
  }

  .constructor__level h3 {
    margin-bottom: 40px;
  }

  .constructor__level2__logo {
    margin-bottom: 50px;
  }

  .constructor__level2 .btn {
    margin-top: 15px;
  }

  .constructor__level3__block h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  .constructor__level3__block {
    margin-bottom: 40px;
  }

  .constructor__level3__block p {
    font-size: 10px;
    line-height: 13px;
  }

  .constructor__level3 .btn {
    margin-top: 34px;
  }

  .info-left .constructor__level2__logo {
    margin-bottom: 25px;
  }

  .info-left .constructor__level3__block h4 {
    margin-bottom: 4px;
  }

  .info-left .constructor__level3__block p {
    font-size: 10px;
    line-height: 13px;
  }

  .constructor__level4__all {
    margin-left: 0;
  }

  .constructor__level4__all .checkbox__color__active {
    margin-bottom: 52px;
  }

  .constructor__level4 .btn.btn__next {
    margin-top: 0;
  }

  .constructor__level4 .btn.btn__back {
    margin-top: 35px;
  }

  .constructor__level5 .btn.btn__back {
     margin-top: 38px;
   }

  .info-left .constructor__level3__block {
    margin-bottom: 25px;
  }

  .info-left .checkbox__color__active {
    margin-bottom: 29px;
    text-align: center;
    margin-left: 0;
  }

  .info-left .checkbox + label:before,
  .info-left .checkbox + label:after,
  .info-left input.checkbox {
    display: none;
  }

  .constructor__level5 .card__month {
    color: #212020;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .selected__card__image img {
    margin-left: 0;
    margin-top: 0;
  }

  .selected__card__image {
    width: 345px;
  }

  .selected__card__title {
    max-width: 256px;
  }

  .selected__card__title__top {
    width: 100%;
    text-align: center;
  }

  .selected__card__title h4 {
    font-weight: 500;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 18px;
  }

  .selected__card__title .selected__card__title__black {
    margin-bottom: 23px;
  }

  .selected__card__title p {
    font-size: 20px;
  }

  .selected__card__title__button {
    flex-wrap: wrap;
    margin-bottom: -25px;
  }

  .selected__card__title__button .btn {
    border-bottom: 1px solid var(--color-active);
    width: 100%;
    height: 52px;
    margin-top: 25px;
    font-size: 14px;
  }

  //result-search

  .result-search.containers {
    margin-top: 82px;
  }

  .result-search.containers  h4 {
    font-size: 14px;
    line-height: 18px;
  }

  .search-form {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 64px;
    margin-bottom: 106px;
  }

  .result-search input[type="text"] {
    height: 31px;
    border-bottom: 1px solid #707070;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
  }

  button.btn.search-form__btn {
    height: 31px;
    border: 0;
    border-bottom: 1px solid #707070;
    color: var(--color-active);
    width: 89px;
    font-size: 16px;
    line-height: 19px;
  }

  .result-search__block {
    margin-bottom: 60px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .result-search__block h4 {
    font-weight: 500;
    margin-bottom: 20px;
  }

  .result-search__block p {
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
  }

  .result-search__block span {
    color: inherit;
  }

  .hip-hop-video {
    height: 100%;
  }

  .hip-hop-info {
    margin-top: 65px;
  }

  .hip-hop-video .slider-famili-maximus .slider-controls {
    top: calc(100% + 45px);
  }

  //dance-studio

  .dance-studio-slider .contents {
    display: none;
  }

  .dance-studio-slider .slide .containers {
    height: 50px;
  }

  .dance-studio {
    margin-top: 138px;
  }

  .dance-studio__block h2 {
    font-size: 20px;
    color: #212020;
    margin-bottom: 25px;
  }

  .dance-studio__block__right h2 {
    text-align: right;
  }

  .dance-studio__block {
    margin-bottom: 50px;
    display: block;
    position: relative;
  }

  .dance-studio__block .dance-studio__block__a {
    border: none;
    overflow: inherit;
    position: initial;
  }

  .dance-studio__block .dance-studio__block__title {
    margin: 0;
  }

  .dance-studio__block__right  .dance-studio__block__a p {
    right: calc(100% - 209px);
    top: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
  }

  .dance-studio__block__left  .dance-studio__block__a p {
    left: calc(100% - 209px);
    top: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
  }

  .dance-studio__block__left:hover .dance-studio__block__a p {
    -webkit-animation: none;
    animation: none;
    left: calc(100% - 209px);
  }

  .dance-studio__block__right:hover .dance-studio__block__a p {
    -webkit-animation: none;
    animation: none;
    right: calc(100% - 209px);
  }

  .dance-studio__block p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 300;
  }

  .promotional-code.one-off-visit {
    height: 366px;
    padding-top: 14px;
  }

  .promotional-code.one-off-visit input[type="text"],
  .promotional-code.one-off-visit input[type="tel"],
  .promotional-code.one-off-visit input[type="date"],
  .promotional-code.one-off-visit input[type="number"],
  .promotional-code.one-off-visit select {
    width: 276px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  .promotional-code.one-off-visit form {
    margin-top: 0;
  }

  .promotional-code.one-off-visit form .captcha {
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
  }

  .promotional-code.one-off-visit .checkbox__color__active {
    position: absolute;
    bottom: -71px;
    margin-left: 0;
    left: 111px;
  }

  .promotional-code.one-off-visit .checkbox__color__active__2 {
    bottom: -111px;
  }

  .promotional-code.one-off-visit {
    margin-bottom: 150px;
  }

  .promotional-code.one-off-visit .promotional-code__title {
    top: -54px;
  }

  .promotional-code.one-off-visit .promotional-code__title h3 {
    margin-left: 0;
  }

  .promotional-code.one-off-visit .one-off-visit__title h3 {
    position: absolute;
    top: -95px;
    font-size: 20px;
    text-transform: unset;
  }

  .promotional-code.one-off-visit form .btn__form {
    margin-left: 0;
  }


}