@media (max-width: 1365px) and (min-width: 768px) {

  .btn {
    width: 187px;
    font-size: 16px;
    height: 54px;
    color: white;
  }

  .header__menu__top {
    display: block;
  }

  .containers {
    margin-left: 83px;
    margin-right: 83px;
    padding: 0;
  }

  .header__menu__top li.social__item {
    margin-top: 6px;
  }

  svg.svg-inline--fa.fa-bars.fa-w-14 {
    width: 20px;
    height: 20px;
  }

  .header__logo {
    width: 118px;
    height: 35px;
  }

  .btn {
    width: 130px;
    font-size: 12px;
    height: 26px;
    color: black;
    padding-top: 7px;
    border: 1px solid var(--color-active);
  }

  .header {
    height: 66px;
    border-bottom: 1px solid #F3F3F3;
  }

  .freeze-the-map p {
    display: block;
    width: 27px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  button.btn.freeze-the-map {
    color: transparent;
    border-color: white;
    width: 27px;
    height: 20px;
    position: relative;
    animation: none;
  }

  button.btn.freeze-the-map:hover {
    color: transparent;
    border-color: white;
    background-color: white;
  }

  .header__btn {
    align-items: center;
    flex-basis: 70%;
  }

  .social-btn {
    margin-bottom: 0;
  }

  .login__top {
    display: none;
  }

  .login__disactive {
    margin-top: 7px;
  }

  .header__link {
    flex-basis: 50%;
  }

  // slider
  h2 {
    font-size: 24px;
  }

  .content__left h2 {
    margin-bottom: 18px;
    min-width: 280px;
  }

  .content__left p {
    line-height: 15px;
    width: 90%;
    margin-bottom: 26px;
    font-size: 12px;
    color: #212020;
  }

  .slider {
    height: 307px;
  }

  .content__left {
    padding-top: 69px;
  }

  .content__left .btn {
    font-size: 12px;
    height: 36px;
    min-width: 207px;
    font-weight: 600;
  }

  .contents {
    height: 307px;
  }

  .content__right {
    margin-left: -30px;
  }

  .img-content img {
    border-style: none;
    width: 270px;
    height: 282px;
  }

  .red-block {
    width: 20px;
    height: 307px;
  }

  .block__2 {
    left: calc(50% + 60px);
    height: 55%;
  }

  .block__3 {
    left: calc(50% + 113px);
    height: 20%;
  }

  .content__right p {
    left: 10px;
    font-size: 80px;
  }

  .content__right p span {
    bottom: -20px;
    left: 70px;
    font-size: 60px;
  }

  .slider-controls label[for="btn-1"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-2"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-3"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label[for="btn-4"]:before{
    top: -3px;
    left: 13px;
    font-size: 10px;
  }

  .slider-controls label {
    width: 4px;
    height: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"]:after,
  #btn-2:checked ~ .slider-controls label[for="btn-2"]:after,
  #btn-3:checked ~ .slider-controls label[for="btn-3"]:after,
  #btn-4:checked ~ .slider-controls label[for="btn-4"]:after {
    width: 14px;
    height: 14px;
  }

  .slider-controls {
    height: 70px;
    right: -17px;
  }

  .slider__index .slider-controls div {
    margin-top: 13px;
    margin-right: 7px;
    margin-left: 7px;
    position: relative;
    font-size: 12px;
  }

  .slider__index .slider-controls .btn__slider .active__slide:after {
    left: -1px;
    top: -25px;
  }

  .slider__index .slider-controls .btn__slider div:before {
    left: 5px;
    top: -19px;
  }

  .news-and-promotions-preview__left img,
  .news-and-promotions-preview__right img {
    width: 256px;
    height: 121px;
  }

  h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .news-and-promotions-preview__center {
    display: none;
  }

  .news-and-promotions-preview {
    margin-top: 45px;
    margin-bottom: 97px;
  }

  .why-choose h2 {
    font-size: 36px;
  }

  h2.gradient-title {
    font-size: 50px;
    margin-left: 230px;
    margin-top: 0;
    letter-spacing: 0;
  }


  .why-choose__block {
    margin-top: 112px;
    margin-bottom: 78px;
  }

  .why-choose__block__1 .why-choose__block__image img {
    width: 250px;
    height: 336px;
  }

  .why-choose__block__2 .why-choose__block__image img {
    width: 179px;
    height: 387px;
  }

  .why-choose__block__3 .why-choose__block__image img {
    width: 166px;
    height: 381px;
  }

  .block__right .why-choose__block__image p {
    top: calc(50% - 118px);
  }

  .why-choose__block__image p {
    font-size: 77px;
  }

  .why-choose__block__text__title {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 87px;
  }

  .why-choose__block__text__title span {
    bottom: -35px;
    right: 63px;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
  }

  .block__right .why-choose__block__text {
    padding-left: 20px;
  }

  .block__right .why-choose__block__text__text {
    line-height: 18px;
    width: 87%;
    font-size: 14px;
  }

  .block__left .why-choose__block__text__text {
    line-height: 18px;
    width: 96%;
    font-size: 14px;
  }

  .block__left .why-choose__block__text {
    padding-right: 20px;
  }

  .block__left .why-choose__block__image p {
    top: calc(50% - 170px);
    right: -60px;
  }

  .block__right:nth-child(4) .why-choose__block__image p {
    top: calc(50% - 188px);
  }

  .block__right:nth-child(4) img {
    margin-left: 40px;
  }

  .why-choose__block__text {
    height: 250px;
    overflow: hidden;
  }

  .block__right:nth-child(4) {
    margin-bottom: 176px;
  }

  .news-and-action h3.red-gradient-title {
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 60px;
  }

  .news-and-action___block {
    flex-wrap: wrap;
    margin-bottom: 87px;
  }

  .news-and-action___block:nth-child(3) {
    margin-bottom: 130 + 65px;
  }

  .news-and-action___block img {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
  }

  .news-and-action__image {
    width: 100%;
  }

  .news-and-action___block h4 {
    font-weight: 700;
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .news-and-action__right {
    margin-left: 0;
    border-left: 0;
  }

  .news-and-action__left {
    margin-right: 0;
    border-right: 0;
    order: 2;
  }

  .news-and-action__text {
    padding-left: 0;
    padding-right: 0;
  }

  .news-and-action___block p {
    font-size: 14px;
    line-height: 18px;
  }

  p.promotional-code__maximus {
    font-size: 48px;
    line-height: 58px;
    color: #CECECE;
    left: 25px;
    top: 61px;
  }

  .promotional-code {
    height: 366px;
    padding-top: 14px;
  }

  .promotional-code__title {
    position: absolute;
    display: flex;
    top: -65px;
  }

  .promotional-code__title h2,
  .promotional-code__title h3 {
    font-size: 20px;
    margin: 0;
    line-height: 24px;
  }

  .promotional-code__title h3 {
    margin-left: 5px;
  }

  .promotional-code form {
    margin-top: 0;
    width: 60%;
  }

  input[type="text"],
  input[type="tel"] {
    width: 276px;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: 49px;
  }

  .captcha {
    position: relative;
    margin-top: 14px;
    margin-bottom: 30px;
  }

  body .btn__form {
    border: 1px solid black;
    width: 276px;
    height: 65px;
    line-height: 50px;
    margin-left: 49px;
  }

  .btn__form__captcha .input-checkbox {
    position: relative;
    margin-left: 25px;
  }

  .checkbox__color__active {
    margin-bottom: 15px;
    margin-left: 80px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
  }

  /*.promotional-code__X {
    position: absolute;
    right: -190px;
    top: 0;
    font-size: 600px;
    line-height: 383px;
  }*/

  .partner .containers {
    justify-content: space-around;
  }

  .partner {
    height: 170px;
  }

  .partner__block {
    width: 150px;
  }

  .partner__block img {
    width: 100%;
  }

  //footer
  .footer__center__block {
    display: none;
  }

  .footer__top {
    height: 340px;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .footer__logo img {
    width: 186px;
  }

  button.btn.btn__footer {
    width: 187px;
    height: 46px;
    font-weight: 300;
    font-size: 14px;
  }

  .download__application {
    flex-wrap: wrap;
    width: 200px;
    justify-content: flex-start;
  }

  .footer a.social__link {
    margin-left: 0;
    margin-right: 24px;
    margin-top: 20px;
  }

  .footer .social__item:last-child a.social__link {
    margin-right: 0;
  }

  .footer__contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 300;
  }

  .footer__right__block {
    width: 276px;
  }

  .footer__email {
    font-size: 14px;
    font-weight: 300;
    align-items: center;
  }

  p.title__bold {
    font-weight: 500;
    margin-top: 10px;
  }

  .footer__bottom {
    height: 72px;
  }

  .copyrate {
    font-size: 12px;
    font-weight: 300;
    height: 60%;
  }

  .logo-tau {
    width: 109px;
  }

  .logo-tau img {
    width: 100%;
  }

  .menu {
    z-index: 100;
    position: absolute;
  }

  p.back {
    display: none;
  }

  .header__bottom,
  button.header__search,
  .selected-club {
    display: none;
    position: fixed;
  }

  .menu-adaptive,
  .search__form__header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 670px;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid black;
  }

  .menu-adaptive ul.menu-main {
    flex-direction: column;
    height: 400px;
    align-items: center;
    width: 100%;
  }

  .menu-adaptive,
  .search__form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding-left: 83px;
    padding-right: 84px;
  }

  .search__form__header {
    z-index:12;
    justify-content: center;
    height: 956px;
  }

  .menu-adaptive li.menu-main__item {
    font-size: 16px;
    font-weight: 700;
  }

  .menu-adaptive__close,
  .search-form__close {
    position: fixed;
    top: 30px;
    right: 84px;
  }

  .selected-club {
    display: block;
    top: 34px;
    left: 83px;
    z-index: 11;
    font-size: 14px;
    font-weight: 400;
  }

  .header select {
    width: 190px;
    font-size: 14px;
    color: var(--color-active);
    font-weight: 400;
  }

  button.header__search {
    display: block;
    top: 34px;
    right: 153px;
    z-index: 11;
    width: 20px;
    height: 20px;
  }

  .menu-main-submenu-background {
    background-color: transparent;
    padding: 0;
    padding-left: 140px;
    width: 400px;
    border-left: 1px solid var(--color-active);
    color: #212020;
    -webkit-box-shadow: -2px 2px 20px -4px black;
    box-shadow: none;
  }

  ul.active__main.menu-main {
    align-items: flex-start;
  }

  a.menu-main__link.active__menu__link {
    color: var(--color-active);
  }

  .search__form__header input.search-form__input {
    width: 394px;
    height: 35px;
    border: 1px solid #212020;
    margin-left: 0;
  }

  .search__form__header button.btn.search-form__btn {
    width: 118px;
    background: var(--color-active);
    color: #fff;
    height: 35px;
    border: 1px solid var(--color-active);
    animation: none;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 36px;
    margin-left: -15px;
    margin-top: -2px;
  }

  button.header__search,
  .selected-club {
    display: none;
    position: fixed;
  }

  form.search-form__header {
    text-align: center;
  }

  svg.svg-inline--fa.fa-times.fa-w-12 {
    width: 20px;
    height: 20px;
  }
  .menu-adaptive li.social__item {
    margin-top: 0;
  }

}