@media (max-width: 1919px) and (min-width: 768px) {
  .landing__red .landing__services,
  .landing__blue .landing__services,
  .landing__red .landing__X,
  .landing__blue .landing__X {
    display: none;
  }

  .landing__blue {
    margin-top: 0;
  }

  .landing__logo img {
    width: 187px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 35%;
  }

  .landing__red .landing__logo {
    margin-left: 0;
  }

  .landing__blue .landing__logo {
    margin-right: 0;
  }

  .landing__blue {
    flex-direction: row-reverse;
  }

  .landing__blue,
  .landing__red {
    padding: 41px 100px 65px 83px ;
    height: 512px;
  }

  .landing__red {
    border-bottom: 1px solid #707070;
  }

  .landing__logo {
    height: 100%;
    justify-content: flex-end;
  }

  .landing__adress {
    height: 100%;
  }

  .landing__adress p {
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    writing-mode: inherit;
    transform: rotate(360deg);
    color: #707070;
  }

  .landing__adress p span {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 20px;
    opacity: 1;
    color: #707070;
  }

  .langing__number {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #707070;
  }

  .landing__adress,
  .landing__logo {
    margin: 0;
  }

  .btn_landing__logo {
    width: 187px;
    font-size: 16px;
    height: 54px;
    color: white;
  }

  .btn__red {
    background: #c32121;
    border: 1px solid #c32121;
  }

  .btn__blue {
    background: #00a2af;
    border: 1px solid #00a2af;
  }

  .landing__blue .landing__logo,
  .landing__red .landing__logo {
    flex-basis: 66%;
    position: relative;
    align-items: flex-end;
  }

  .landing__adress {
    flex-basis: 33%;
    justify-content: flex-start;
    align-items: flex-end;
  }

}

@media (max-width: 1919px) and (min-width: 1366px) {
  .landing__blue .landing__logo,
  .landing__red .landing__logo {
    flex-basis: 60%;
  }

}