<div class="about-company-blocks">
    <div class="containers">
        <h2 class="red-gradient-title">Миссия и ценности</h2>
    </div>
    <img src="assets/images/nagrajdenie1.png">
    <div class="containers about-company-block__1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean euismod bibendum laoreet. Proin gravida dolor sit
            amet lacus accumsan et viverra justo commodo. Proin sodales
            pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum,
            nulla luctus pharetra vulputate, felis tellus mollis orci,
            sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            Proin gravida dolor sit amet lacus accumsan et viverra justo
            commodo. Proin sodales pulvinar tempor. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Nam fermentum, nulla luctus pharetra vulputate, felis
            tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Aenean euismod
            bibendum
        </p>
    </div>
</div>

<div class="about-company-blocks">
    <div class="containers">
        <h2 class="red-gradient-title about-company-block__left">Корпоративные ценности</h2>
    </div>
    <img src="assets/images/nagrajdenie1.png">
    <div class="containers about-company-block__2">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean euismod bibendum laoreet. Proin gravida dolor sit
            amet lacus accumsan et viverra justo commodo. Proin sodales
            pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum,
            nulla luctus pharetra vulputate, felis tellus mollis orci,
            sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            Proin gravida dolor sit amet lacus accumsan et viverra justo
            commodo. Proin sodales pulvinar tempor. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Nam fermentum, nulla luctus pharetra vulputate, felis
            tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Aenean euismod
            bibendum
        </p>
    </div>
</div>

<div class="about-company-blocks">
    <div class="containers">
        <h2 class="red-gradient-title">Награждение лучших сотрудников</h2>
    </div>
    <img src="assets/images/nagrajdenie1.png">
    <div class="containers about-company-block__3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean euismod bibendum laoreet. Proin gravida dolor sit
            amet lacus accumsan et viverra justo commodo. Proin sodales
            pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum,
            nulla luctus pharetra vulputate, felis tellus mollis orci,
            sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            Proin gravida dolor sit amet lacus accumsan et viverra justo
            commodo. Proin sodales pulvinar tempor. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Nam fermentum, nulla luctus pharetra vulputate, felis
            tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Aenean euismod
            bibendum
        </p>
    </div>
</div>

<div class="btn-container">
    <a href="buy-card.html">
        <button class="btn about-company__btn">Стать частью семьи MAXIMUS</button>
    </a>
</div>
