<div class="actual-maximus-arrow containers">
    <div class="news-and-promotions-preview__center">
        <p class="color__red color__red__prodressive">крути</p>
        <img src="assets/images/arrow-blue.png">
    </div>
</div>

<div class="actual-maximus-territoiriya containers">
    <div class="actual-maximus-territoiriya__block">
        <h3>15000 м2</h3>
        <p>Современного фитнес пространства</p>
    </div>
    <div class="actual-maximus-territoiriya__block">
        <h3>15000 м2</h3>
        <p>Современного фитнес пространства</p>
    </div>
    <div class="actual-maximus-territoiriya__block">
        <h3>15000 м2</h3>
        <p>Современного фитнес пространства</p>
    </div>
</div>

<div class="actual-maximus-carousel containers">
    <h3 class="red-gradient-title__maximusProgressive">Актуальное</h3>

    <div class="actual-maximus-carousel__container">
        <img class="arrow__left" src="assets/images/left-chevron.png">
        <div class="actual-maximus-carousels actual-maximus-carousels_1 is_active">
            <img src="assets/images/terassa_maximus_fitness_club_3.png">
            <img src="assets/images/saikl_maximus_fitness_club_1.png">
            <img src="assets/images/news-and-action.png">
            <img src="assets/images/news.png">
        </div>
        <div class="actual-maximus-carousels actual-maximus-carousels_1" style="display: none">
            <img src="assets/images/news-and-action.png">
            <img src="assets/images/terassa_maximus_fitness_club_3.png">
            <img src="assets/images/saikl_maximus_fitness_club_1.png">
            <img src="assets/images/group_maximus_fitness_club_1.png">
        </div>
        <img class="arrow__right" src="assets/images/right-chevron.png">
    </div>
</div>