<div class="advertising-and-partners containers">
    <h3>
        Уважаемые рекламодатели, мы предлагает вам
        новый уникальный вид рекламы - реклама в сети
        современных фитнес клубов MAXIMUS
    </h3>

    <div class="advertising-and-partners__blocks">
        <div class="advertising-and-partners__blocks__left">
            <p>Размещение информации рекламодателя в любых помещениях клубов
                <br>
                Печатная продукция (листовки, буклеты, флаеры)
                <br>
                Прикрепление флаера/буклета к каждому договору
                <br>
                Сэмплинг ( раздача образцов продукции)
                <br>
                Размещение стикеров на шкафчиках (А5)
                <br>
                Преимущества для рекламодателей:
                <br>
                Контакт с активной аудиторией (активной в покупательском смысле) 100% донесение информации до целевой аудитории
            </p>
            <p>Большое количество контактов с рекламным сообщением</p>
            <p>Возможность выборки целевой аудитории по территориальной характеристике</p>
            <p>Высокая степень доверия к материалам размещенным в фитнес-клубах Maximus</p>
            <p>Сеть фитнес-клубов Maximus оставляет за собой право отказать рекламодателю в размещении рекламы</p>
            <p>Все вопросы по сотрудничеству отправлять на почту: fcmaximus@fitnes.info</p>
        </div>
        <div class="advertising-and-partners__blocks__right">
            <form>
                <input type="text" name="name" id="name" placeholder="Ваше имя*">
                <input type="text" name="surname" id="surname" placeholder="Ваша Фамилия*">
                <input type="email" name="email" id="email" placeholder="Ваш email*">
                <select>
                    <option value="0" disabled="" selected="">Выберите клуб</option>
                    <option value="global">MAXIMUS Global</option>
                    <option value="progressive">MAXIMUS Progressive</option>
                </select>
                <textarea placeholder="Ваш отзыв">

                </textarea>

                <div class="captcha">
                    <div class="btn btn__form btn__form__captcha">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title advertising-and-partners__checkbox" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>

                <p class="fz__form">
                    В соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006,
                    отправляя данную форму, вы подтверждаете свое согласие на обработку персональных данных.
                </p>
            </form>
        </div>
    </div>
</div>