<div class="all-family-members containers">
    <div class="why-choose">
        <h2>Всем членам семьи</h2>
        <h2 class="gradient-title red-gradient-title">maximus</h2>
    </div>

    <div class="why-choose__block block__right why-choose__block__1">
        <div class="why-choose__block__image">
            <p>Скидки</p>
            <img src="assets/images/sale.png">
        </div>
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title red-gradient-title">бонусная система</p>
            <p class="why-choose__block__text__text">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
    </div>

    <div class="why-choose__block block__left why-choose__block__2">
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title red-gradient-title">соревнования и чемпионаты</p>
            <p class="why-choose__block__text__text">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="why-choose__block__image">
            <p>турниры</p>
            <img src="assets/images/man.png">
        </div>
    </div>

    <div class="why-choose__block block__right why-choose__block__3">
        <div class="why-choose__block__image">
            <p>праздники</p>
            <img src="assets/images/holiday.png">
        </div>
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title red-gradient-title">праздники и вечеринки</p>
            <p class="why-choose__block__text__text">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>

            <a href="buy-card.html">
                <button class="btn family-maximus__btn">Стать частью семьи MAXIMUS</button>
            </a>
        </div>
    </div>
</div>