<div class="articles containers">
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
    <a href="articles-page.html">
        <div class="articles__block">
            <h4>Заголовок статьи или очень-очень длинный заголовок статьи</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus</p>
        </div>
    </a>
</div>


<div class="articles__pagination containers">
    <div data-pagination-num="1">

        <div class="modern-page-navigation">
            <a rel="nofollow" class="modern-page-first" href="#">1</a>
            <a rel="nofollow" href="#">2</a>
            <span class="modern-page-current">3</span>
            <a class="modern-page-dots" href="#">...</a>
            <a href="#">36</a>
        </div>

    </div>

    <a class="articles__all" href="#">Показать еще</a>
</div>

