<div class="buy-card containers">
    <div class="buy-card__title">
        <div class="buy-card__title__img">
            <img src="assets/images/buy-card.png">
        </div>
        <div class="buy-card__title__text">
            <h2>Стать частью семьи</h2>
            <h1 class="red-gradient-title">MAXIMUS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor.
            </p>
        </div>
    </div>

    <div class="constructor__card">
        <div class="constructor">
            <div class="info-left">
                <h3 class="red-gradient-title">Платите только за то, что вам нужно!</h3>
                <p>Укажите свои пожелания и конструктор подберет вам подходящую карту.</p>
            </div>
            <div class="constructor__level">
                <form>
                <div class="constructor__level1">
                    <h3>Шаг 1. Заполните форму</h3>
                    <input type="text" placeholder="Ваше имя*">
                    <input type="tel" placeholder="+7(000)000-00-00">
                    <div class="btn">Подтвердить</div>

                    <div class="checkbox__color__active check__1">
                    <span class="input-checkbox">
                        <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                        <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
                    </span>
                    </div>

                    <div class="checkbox__color__active check__2">
                    <span class="input-checkbox">
                        <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                        <label><a class="rules__of__the__visit">Я согласен с правилами посещения фитнес-клуба MAXIMUS</a></label>
                    </span>
                    </div>

                </div>
                <div class="constructor__level2" style="display: none">
                    <h3>Шаг 2. Выберите клуб</h3>

                    <div class="constructor__level2__all">
                        <div class="constructor__level2__logo global">
                            <div class="constructor__level2__logo__img">
                                <img src="assets/images/logo-red.png">
                            </div>
                            <p class="constructor__level2__adress">Брауди, 8</p>
                        </div>

                        <div class="constructor__level2__logo progressive">
                            <div class="constructor__level2__logo__img">
                                <img src="assets/images/logo-blue.png">
                            </div>
                            <p class="constructor__level2__adress">Минская, 9</p>
                        </div>

                        <div class="constructor__level2__logo all">
                            <div class="constructor__level2__logo__img">
                                <img src="assets/images/logo-all.png">
                            </div>
                            <p class="constructor__level2__adress">Оба клуба</p>
                        </div>

                        <div class="btn btn__back">Вернуться назад</div>
                    </div>
                </div>
                <div class="constructor__level3" style="display: none">
                    <h3>Шаг 3. Выберите тип карты по времени посещения</h3>

                    <div class="constructor__level2__all">
                        <div class="constructor__level3__block unlimited">
                            <h4>Безлимит</h4>
                            <p>с 6:00 до 01:00</p>
                        </div>

                        <div class="constructor__level3__block daytime">
                            <h4>Дневная</h4>
                            <p>с 6:00 до 16:00</p>
                        </div>

                        <div class="constructor__level3__block evening">
                            <h4>Вечерняя</h4>
                            <p>с 16:00 до 22:00</p>
                        </div>

                        <div class="constructor__level3__block night">
                            <h4>Ночная</h4>
                            <p>с 20:00 до 01:00</p>
                        </div>

                        <div class="btn btn__back">Вернуться назад</div>
                    </div>
                </div>
                <div class="constructor__level4" style="display: none">
                    <h3>Шаг 4. Выберите дополнительные услуги</h3>

                    <div class="constructor__level4__all">
                        <div class="checkbox__color__active">
                            <span class="input-checkbox">
                                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                                <label><a class="rules__of__the__visit">Заморозка карты (30 дней)</a></label>
                            </span>
                        </div>

                        <div class="checkbox__color__active">
                            <span class="input-checkbox">
                                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                                <label><a class="rules__of__the__visit">1 полотенце</a></label>
                            </span>
                        </div>

                        <div class="checkbox__color__active">
                            <span class="input-checkbox">
                                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active">
                                <label><a class="rules__of__the__visit">2 полотенца</a></label>
                            </span>
                        </div>

                        <div class="checkbox__color__active">
                            <span class="input-checkbox">
                                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active">
                                <label><a class="rules__of__the__visit">Гостевые визиты (5 штук)</a></label>
                            </span>
                        </div>

                        <div class="btn btn__next">Подтвердить</div>
                        <br>
                        <div class="btn btn__back">Вернуться назад</div>
                    </div>
                </div>
                <div class="constructor__level5" style="display: none">
                    <h3>Шаг 5. Выберите срок действия карты</h3>

                    <div class="constructor__level2__all">
                        <h3 class="card__month six">6 месяцев</h3>

                        <h3 class="card__month twelve">12 месяцев</h3>

                        <h3 class="card__month eighteen">18 месяцев</h3>

                        <h3 class="card__month twenty__four">24 месяца</h3>

                        <div class="btn btn__back">Вернуться назад</div>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="selected__card" style="display: none">
            <div class="selected__card__image">
                <img src="assets/images/card_global_maximus_silver.png">
                <a href="club-card.html">Посмотреть все карты</a>
            </div>
            <div class="selected__card__title">
                <div class="selected__card__title__top">
                    <h4>Наиболее подходящая вам карта:</h4>
                    <h4 class="selected__card__title__black">"MAXIMUS SILVER LIGHT"</h4>
                    <p class="red-gradient-title">14 000 руб.</p>
                </div>
                <div class="selected__card__title__button">
                    <button class="btn buy-online__btn">Купить онлайн</button>
                    <button class="btn more-about-the-map__btn">Подробнее о карте</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal-buy-card}}