<div class="childrens-fitness-reklama">
    <img src="assets/images/rekl.png">
    <div class="childrens-fitness-reklama__block">
        <h3>Проведение праздников для детей</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Aenean euismod bibendum
            laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo. Proin
            sodales pulvinar tempor. Cum sociis natoque
            penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nam fermentum, nulla
            luctus pharetra vulputate, felis tellus
            mollis orci, sed rhoncus sapien nunc eget.
        </p>
        <a href="#">
            <button class="btn childrens-fitness__btn">Перейти на сайт</button>
        </a>
    </div>
</div>