<div class="club-card containers">
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus silver light</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Посещение летней террасы;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus silver</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Посещение летней террасы;</p>
            <p>- Аренда полотенца;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus gold light</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Аренда полотенца;</p>
            <p>- Заморозка 30 дней;</p>
            <p>- 3 гостевых визитов;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Фито-чай в баре;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
            <p>- Посещение летней террасы;</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus gold</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>Время посещения клуба:</p>
            <p>Будни с 6.30 до 00:30,</p>
            <p>Выходные и праздники с 7.00 до 00.00.</p>
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Аренда 2 полотенец;</p>
            <p>- Заморозка 45 дней;</p>
            <p>- 5 гостевых визитов;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Фито-чай в баре;</p>
            <p>- Скидка 10% от общего прейскуранта на все услуги в SPA центре;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
            <p>- Посещение летней террасы;</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus vip</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Посещение всех клубов сети MAXIMUS;</p>
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Аренда 2 полотенец;</p>
            <p>- Аренда халата;</p>
            <p>- 90 дней заморозки;</p>
            <p>- VIP место в раздевалке;</p>
            <p>- VIP место на парковке;</p>
            <p>- 10 сеансов солярия по 5 минут;</p>
            <p>- 10 гостевых визитов;</p>
            <p>- Посещение ребенком детской комнаты;</p>
            <p>- Посещение летней террасы;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Фито-чай в баре;</p>
            <p>- Скидка 15% от общего прейскуранта на все услуги в SPA центре;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus fitness</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Посещение летней террасы;</p>
            <p>- Аренда 1 полотенца;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus kids</h3>
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
                <button class="btn club-card__btn">Оформить карту</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Посещение клуба в сопровождении родителей;</p>
            <p>- Посещение детского бассейна;</p>
            <p>- Посещение детской игровой комнаты;</p>
            <p>- Посещение групповых программ согласно расписанию;</p>
            <p>- Посещение банного комплекса – финской сауны и хаммама в сопровождении родителей;</p>
            <p>- Посещение летнего «Фитнес пляжа» в сопровождении родителей;</p>
            <p>- Аренда 1 полотенца;</p>
            <p>- 90 дней заморозки.</p>
        </div>
    </div>
</div>

{{> modal-club-card}}