<div class="comments-and-suggestions containers">
    <div class="comments-and-suggestions__block">
        <h3>Сосин Евгений Маратович</h3>
        <h4>MAXIMUS GLOBAL</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
            lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
            rhoncus sapien nunc eget.
        </p>
        <p class="comments-and-suggestions__block__date">24.11.18</p>
    </div>

    <div class="comments-and-suggestions__block">
        <h3>Летунов Сергей Виктороыич</h3>
        <h4>MAXIMUS GLOBAL</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
            lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
            rhoncus sapien nunc eget.
        </p>
        <p class="comments-and-suggestions__block__date">13.12.18</p>
    </div>

    <div class="comments-and-suggestions__block">
        <h3>Трошин Андрей Денисович</h3>
        <h4>MAXIMUS GLOBAL</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
            lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
            rhoncus sapien nunc eget.
        </p>
        <p class="comments-and-suggestions__block__date">06.09.18</p>
    </div>

    <div class="comments-and-suggestions__all">
        <a href="">Показать еще</a>
    </div>
</div>