<div class="comments-and-suggestions-form containers">
    <form>
        <div class="comments-and-suggestions-form__flex">
            <input type="text" name="name" id="name" placeholder="Ваше Ф.И.О*">
            <input type="email" name="email" id="email" placeholder="E-mail*">
            <input type="number" name="number" id="number" placeholder="Телефон*">
            <select>
                <option value="0" disabled="" selected="">Выберите клуб</option>
                <option value="global">MAXIMUS Global</option>
                <option value="progressive">MAXIMUS Progressive</option>
            </select>
        </div>
        <textarea placeholder="Ваш отзыв">

                </textarea>

        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                    <span class="input-checkbox">
                        <input type="checkbox" class="checkbox red-gradient-title comments-and-suggestions__check" name="checkbox">
                        <label>Я не робот</label>
                    </span>
            </div>
        </div>

        <p class="fz__form">
            В соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006,
            отправляя данную форму, вы подтверждаете свое согласие на обработку персональных данных.
        </p>
    </form>
</div>