<div class="contacts-map contacts-map__1">
    <h2 class="contacts-map__title containers">Maximus global</h2>

    <div class="contacts-map__container contacts-map__container_1">
        <div id="map_1" class="map map_1" style="position: relative; overflow: hidden;"></div>
        <div class="contacts-map__content">
            <div class="containers">
                <p>
                    <span class="contacts-map__content__title">Фактический адрес:</span> г. Казань, ул.Брауди,
                    д.8, ТЦ "Московский"<br>
                    ООО "Фитнсесспорт" - ОГРН 1131690060622
                </p>
                <p>
                    <span class="contacts-map__content__title">Юридический адрес:</span> 420066, г. Казань,
                    ул.Чистопольская 9а
                </p>
                <p>
                    <span class="contacts-map__content__title">Контакнтый телефон:</span> <a href="+7(843)210-11-11">+7(843)210-11-11</a>
                </p>
                <p>
                    <span class="contacts-map__content__title">Email:</span> b.reception@fcmaximus.ru
                </p>
                <p>
                    <span class="contacts-map__content__title">Часы работы клуба:</span><br>
                    Понедельник-пятница: с 6:30 до 00:30<br>
                    Выходные и праздничные дни: с 7:00 до 00:00<br>
                    График работы отдела продаж:<br>
                    Каждый день с 9:00 до 21:00
                </p>
            </div>
        </div>
    </div>
    <div class="btn__container btn__container_1" style="display: none;">показать контакты</div>
</div>

