<div class="contacts-map contacts-map__1">
    <h2 class="contacts-map__title containers">Maximus Progressive</h2>

    <div class="contacts-map__container contacts-map__container_2">
        <div id="map_2" class="map map_2" style="position: relative; overflow: hidden;"></div>
        <div class="contacts-map__content">
            <div class="containers">
                <p>
                    <span class="contacts-map__content__title">Фактический адрес:</span> г. Казань, ул.Минская,
                    д.9, ТЦ "АЗИНО"<br>
                    ООО "Патрон" - ОГРН 1021603141299
                </p>
                <p>
                    <span class="contacts-map__content__title">Юридический адрес:</span> 420066, г. Казань,
                    ул.Чистопольская 9а
                </p>
                <p>
                    <span class="contacts-map__content__title">Контакнтый телефон:</span> <a href="+7(843)537-15-15">+7(843)437-15-15</a>
                </p>
                <p>
                    <span class="contacts-map__content__title">Email:</span> b.reception@fcmaximus.ru
                </p>
                <p>
                    <span class="contacts-map__content__title">Часы работы клуба:</span><br>
                    Ежедневно: с 6:00 до 01:00<br>
                    График работы отдела продаж:<br>
                    Каждый день с 9:00 до 21:00
                </p>
            </div>
        </div>
    </div>

    <div class="btn__container btn__container_2" style="display: none;">показать контакты</div>
</div>

<div class="cooperation">
    <p class="contacts-map__content__title">По вопросам сотрудничества:</p>
    <p>Отдел рекламы: marketing@fcmaimus.ru</p>
    <p>Отдел закупок: office@fcmaximus.ru</p>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2yz-leuPleq-QzOMVgeIYV-RyfnReBEA&amp;callback=initMap" async="" defer=""></script>

<script>
    styles=[
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#bdbdbd"
                }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#9b9b9b"
                },
                {
                    "weight": 1
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dadada"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#9b9b9b"
                },
                {
                    "visibility": "simplified"
                },
                {
                    "weight": 0.5
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#9b9b9b"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#9b9b9b"
                },
                {
                    "weight": 1
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#c9c9c9"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        }
    ];
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map_1'), {
            center: {lat: 55.820115, lng: 49.064178},
            zoom: 18,
            styles: styles
        });

        var map2 = new google.maps.Map(document.getElementById('map_2'), {
            center: {lat: 55.820115, lng: 49.064178},
            zoom: 18,
            styles: styles
        });

        if (window.matchMedia("(max-width: 1365px)").matches) {
            map = new google.maps.Map(document.getElementById('map_1'), {
                center: {lat: 55.820115, lng: 49.064178},
                zoom: 17,
                styles: styles
            });

            map2 = new google.maps.Map(document.getElementById('map_2'), {
                center: {lat: 55.820115, lng: 49.064178},
                zoom: 17,
                styles: styles
            });
        }

        if (window.matchMedia("(max-width: 767px)").matches) {
            map = new google.maps.Map(document.getElementById('map_1'), {
                center: {lat: 55.820007, lng: 49.066037},
                zoom: 17,
                styles: styles
            });

            map2 = new google.maps.Map(document.getElementById('map_2'), {
                center: {lat: 55.820007, lng: 49.066037},
                zoom: 17,
                styles: styles
            });
        }

        var image = 'assets/images/marker.png';
        var marker = new google.maps.Marker({
            position: {lat: 55.820007, lng: 49.066037},
            map: map,
            icon: image
        });

        var marker2 = new google.maps.Marker({
            position: {lat: 55.820007, lng: 49.066037},
            map: map2,
            icon: image
        });
    }
</script>