<div class="dance-studio containers">
    <div class="dance-studio__block dance-studio__block__left">
        <div class="dance-studio__block__title">
            <h2>Hip-Hop Dance</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
        </div>
        <div class="dance-studio__block__a">
            <p class="red-gradient-title"><a href="hip-hop-dance.html">Узнать подробнее</a></p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__right">
        <div class="dance-studio__block__a">
            <p class="red-gradient-title"><a href="pole-dance.html">Узнать подробнее</a></p>
        </div>
        <div class="dance-studio__block__title">
            <h2>Pole-Dance</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
            <p>
                Входит в карту : Maximus Fitness, Maximus silver light
            </p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__left">
        <div class="dance-studio__block__title">
            <h2>Hip-Hop Dance</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
        </div>
        <div class="dance-studio__block__a">
            <p class="red-gradient-title"><a href="hip-hop-dance.html">Узнать подробнее</a></p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__right">
        <div class="dance-studio__block__a">
            <p class="red-gradient-title"><a href="pole-dance.html">Узнать подробнее</a></p>
        </div>
        <div class="dance-studio__block__title">
            <h2>Pole-Dance</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
            <p>
                Входит в карту : Maximus Fitness, Maximus silver light
            </p>
        </div>
    </div>
</div>