<div class="events-pages-form containers">
    <h4 class="red-gradient-title">Напомнить мне о предстоящем мероприятии</h4>

    <form>
        <div class="events-pages-form__flex">
             <input type="text" name="text" id="text" placeholder="Ваше имя*">
            <input type="tel" name="phone" id="phone" class="phonemask" placeholder="Ваш телефон*">

            <div class="captcha">
                <div class="btn btn__form btn__form__captcha">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title events-pages__check" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                </div>
            </div>

            <div class="checkbox__color__active">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                    <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
                </span>
            </div>
        </div>
    </form>
</div>