<div class="footer">
    <div class="footer__top">
        <div class="containers">
            <div class="footer__left__block">
                <div class="footer__logo">
                    <img src="assets/images/logo-footer-red.png" class="logo-footer-red">
                    <img src="assets/images/logo-footer-blue.png" class="logo-footer-blue" style="display: none">
                </div>

                <button class="btn btn__footer">Заморозка карты</button>
                <div class="download__application">
                    <p>
                        Скачать приложение:
                        {{> socials icon='fab fa-apple' href='#' class=""}}
                        {{> socials icon='fab fa-android' href='#' class=""}}
                    </p>
                </div>
            </div>

            <div class="footer__center__block">
                <div class="footer__center__block__clobal">
                    <div class="footer__center__block__clobal__top">
                        <p class="footer___block__title">global</p>
                        <p><a href="schedule.html">Расписание</a></p>
                    </div>
                    <div class="footer__center__block__clobal__bottom">
                        <p><a href="about-company.html">О компании</a></p>
                        <p><a href="contacts.html">Контакты</a></p>
                        <p><a href="vacancies.html">Карьера</a></p>
                    </div>
                </div>
                <div class="footer__center__block__progressive">
                    <div class="footer__center__block__progressive__top">
                        <p class="footer___block__title">progressive</p>
                        <p><a href="schedule.html">Расписание</a></p>
                    </div>
                    <div class="footer__center__block__progressive__bottom">
                        <p><a href="news-and-action.html">Новости и акции</a></p>
                        <p><a href="comments-and-suggestions.html">Отзывы</a></p>
                        <p><a href="buy-card.html">Купить карту</a></p>
                    </div>
                </div>
            </div>

            <div class="footer__right__block">
                <div class="footer__contacts">
                    <p class="number"><a href="+78432101111">+7 (843)210-11-11</a></p>
                    <p class="number"><a href="+78435371515">+7 (843)537-15-15</a></p>
                    <p>Мы в социальных сетях</p>
                    <div class="social">
                        {{> socials icon='fab fa-instagram' href='#' class=""}}
                        {{> socials icon='fab fa-vk' href='#' class=""}}
                    </div>
                </div>
                <div class="footer__email">
                    <p>По вопросам сотрудничества:</p>
                    <p class="title__bold">Отдел рекламы:</p>
                    <p>marketing@fcmaximus.ru</p>
                    <p class="title__bold">Отдел закупок:</p>
                    <p>office@fcmaximus.ru</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="containers">
            <div class="copyrate">
                <p>© 2018</p>
                <p>Собственником данного сайта является ООО "Название компании"</p>
            </div>
            <div class="logo-tau">
                <img src="assets/images/logo-tau.png">
            </div>
        </div>
    </div>
</div>