<div class="club-card gift-certificates containers">
    <h2>SPA & BEAUTY</h2>

    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <p>
                    Подарочный сертификат
                </p>
                <h3>1000 руб.</h3>
                <button class="btn buy-online">Купить онлайн</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/gift-sertificates.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin
                sodales pulvinar tempor.
            </p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <p>
                    Подарочный сертификат
                </p>
                <h3>2000 руб.</h3>
                <button class="btn buy-online">Купить онлайн</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/gift-sertificates.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin
                sodales pulvinar tempor.
            </p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <p>
                    Подарочный сертификат
                </p>
                <h3>5000 руб.</h3>
                <button class="btn buy-online">Купить онлайн</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/gift-sertificates.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin
                sodales pulvinar tempor.
            </p>
        </div>
    </div>
    <div class="club-card__block">
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <p>
                    Подарочный сертификат
                </p>
                <h3>10000 руб.</h3>
                <button class="btn buy-online">Купить онлайн</button>
            </div>
            <div class="images-hover">
                <img src="assets/images/gift-sertificates.png">
                <div class="black__hren"></div>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin
                sodales pulvinar tempor.
            </p>
        </div>
    </div>
</div>

{{> modal-gift}}