<div class="header">
    <div class="containers">
        <div class="header__top">
            <div class="header__menu__top">
                {{> socials icon='fas fa-bars' href='#' class="header__menu__adaptiv__up"}}
                <div class="menu menu-adaptive"  style="display: none">
                    <div class="menu-adaptive__close">
                        {{> socials icon='fas fa-times' href='#' class=""}}
                    </div>
                    <ul class="menu-main">

                        <li class="menu-main__item _has-submenu submenu__1">
                            <div class="menu-main__items _has-submenu">
                                <a href="#" class="menu-main__link">MAXIMUS <span>∨</span></a>

                                <div class="menu-main__line"></div>

                            </div>
                        </li>

                        <li class="menu-main__item">
                            <a href="../buy-card.html" class="menu-main__link">Купить карту</a>
                        </li>

                        <li class="menu-main__item _has-submenu submenu__2">
                            <div class="menu-main__items _has-submenu">
                                <a href="#" class="menu-main__link">Клубы <span>∨</span></a>

                                <div class="menu-main__line"></div>

                            </div>
                        </li>

                        <li class="menu-main__item">
                            <a href="../schedule.html" class="menu-main__link">Расписание</a>
                        </li>

                        <li class="menu-main__item">
                            <a href="../vacancies.html" class="menu-main__link">Карьера</a>
                        </li>
                    </ul>

                    <ul class="menu-main-submenu link__1" style="display: none">
                        <div class="menu-main-container">
                            <div class="menu-main-submenu-background">
                                <li class="menu-main-submenu__item">
                                    <a href="../about-company.html" class="menu-main-submenu__link">
                                        О компаниии
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../family-maximus.html" class="menu-main-submenu__link">
                                        Семья MAXIMUS
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../club-card.html" class="menu-main-submenu__link">
                                        Клубные карты
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../news-and-action.html" class="menu-main-submenu__link">
                                        Новости и акции
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../articles.html" class="menu-main-submenu__link">
                                        Статьи
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../comments-and-suggestions.html" class="menu-main-submenu__link">
                                        Отзывы
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../trainers.html" class="menu-main-submenu__link">
                                        Тренеры
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../contacts.html" class="menu-main-submenu__link">
                                        Контакты
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../advertising-and-partners.html" class="menu-main-submenu__link">
                                        Реклама и партнеры
                                    </a>
                                </li>

                                <p class="back back__1">вернуться назад</p>
                            </div>
                        </div>
                    </ul>

                    <ul class="menu-main-submenu link__2" style="display: none">
                        <div class="menu-main-container">
                            <div class="menu-main-submenu-background">
                                <li class="menu-main-submenu__item">
                                    <a href="../maximus-Clobal.html" class="menu-main-submenu__link">
                                        MAXIMUS Global
                                    </a>
                                </li>
                                <li class="menu-main-submenu__item">
                                    <a href="../maximus-Progressive.html" class="menu-main-submenu__link">
                                        MAXIMUS Progressive
                                    </a>
                                </li>
                                <p class="back back__2">вернуться назад</p>
                            </div>
                        </div>
                    </ul>

                    <div class="search__form__header" style="display: none">
                        <div class="search-form__close">
                            {{> socials icon='fal fa-times' href='#' class=""}}
                        </div>
                        <form class="search-form__header">
                            <input type="text" class="search-form__input" placeholder="Введите поисковый запрос">
                            <button class="btn search-form__btn">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="header__logo">
                <a href="index.html"><img src="assets/images/logo-red.png" class="logo logo__red"></a>
                <a href="index.html"><img src="assets/images/logo-blue.png" class="logo logo__blue"></a>
            </div>
            <div class="header__link">
                <div class="header__btn">
                    <div class="header__call">
                        <button class="btn request-a-call">Заказать звонок</button>
                        <button class="btn header__call__number">+7(843)210-11-11</button>
                    </div>
                    <button class="btn freeze-the-map">Заморозить карту
                        <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.468 21.879">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: var(--color-active);
                                    }
                                </style>
                            </defs>
                            <g id="Group_8" data-name="Group 8" transform="translate(0)">
                                <g id="credit-card" transform="translate(0)">
                                    <g id="Group_6" data-name="Group 6" transform="translate(0 0)">
                                        <path id="Path_6" data-name="Path 6" class="cls-1" d="M2.189,80.057V71.188H24.978v.893c.083-.006.159-.006.242-.006h1.247c.134,0,.267.006.395.019V67.407a3.514,3.514,0,0,0-3.5-3.507H3.5A3.514,3.514,0,0,0,0,67.407V80.012a3.514,3.514,0,0,0,3.5,3.507H19.04v-2.2H3.455A1.261,1.261,0,0,1,2.189,80.057Zm0-12.695a1.271,1.271,0,0,1,1.266-1.269H23.711a1.271,1.271,0,0,1,1.266,1.269v.485H2.189Z" transform="translate(0 -63.9)"/>
                                    </g>
                                </g>
                                <g id="snowflake-shape" transform="translate(20.092 8.838)">
                                    <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                        <path id="Path_7" data-name="Path 7" class="cls-1" d="M42.376,3.287l-.582-.345-1.587.848V2.651l-.423-.239-.4.239V4.427L38.3,4.984V3.764l-1.085.61V3.234l1.64-.822V1.856l-.582-.318-1.058.557V.371L36.688,0l-.529.371V2.094l-.926-.557-.45.292v.61l1.376.8v1.14l-1.085-.583V4.984L34.069,4.4,34.1,2.73l-.529-.318-.4.318V3.817l-1.534-.848L31,3.26V3.95l1.508.822-.979.557v.61l.556.265,1.4-.822.979.557-.979.61,1.005.583h.026l-.979.583-1.429-.848-.582.318V7.82l1.005.477L31,9.172v.689l.661.265,1.508-.848v1.087l.37.292.45-.318V8.695l1.085-.557V9.331l1.085-.663v1.14l-1.376.8v.61l.45.292.926-.557v1.723l.529.371.529-.371V10.948l.926.557.45-.239V10.6l-1.376-.8V8.668l1.085.61V8.164l1.085.583v1.643l.423.292.4-.292V9.3l1.482.822.688-.292V9.172L40.948,8.3l.9-.5V7.21l-.5-.318-1.455.8-1.032-.53,1.005-.583-.952-.61.979-.636,1.455.848.5-.265V5.3l-.952-.53,1.482-.848ZM37.217,7.343h-.952l-.5-.8.476-.848h.952l.45.848Z" transform="translate(-31)"/>
                                    </g>
                                </g>
                            </g>
                        </svg></p>
                    </button>
                    <button class="header__search">
                        <img src="assets/images/search.png" class="search">
                    </button>
                </div>
                <div class="header__social">
                    <div class="social-btn">
                        {{> socials icon='fab fa-instagram' href='#' class="insta"}}
                        {{> socials icon='fab fa-vk' href='#' class="vk"}}
                    </div>
                    <div class="selected-club">
                        Выбранный клуб:
                        <script>
                            function selectClub(evt) {
                                var selectedClubOptions = document.querySelector('.selected-club').querySelectorAll('option');
                                var headerLogoRed = document.querySelector('.header__logo').querySelector('.logo__red');
                                var headerLogoBlue = document.querySelector('.header__logo').querySelector('.logo__blue');
                                var footerLogoRed = document.querySelector('.logo-footer-red');
                                var footerLogoBlue = document.querySelector('.logo-footer-blue');

                                if(evt.target.value === "red") {
                                    window.localStorage[key] = "red";
                                    body.classList = "red";
                                    selectedClubOptions[0].setAttribute("selected", true);
                                    if (selectedClubOptions[1].hasAttribute("selected")) {
                                        selectedClubOptions[1].removeAttribute("selected");
                                    }
                                    headerLogoRed.style.display = "";
                                    headerLogoBlue.style.display = "none";
                                    footerLogoRed.style.display = "";
                                    footerLogoBlue.style.display = "none";
                                    var redColor = document.querySelectorAll('.blue-gradient-title');
                                    for(var i = 0; i < redColor.length; i++) {
                                        redColor[i].classList.remove('blue-gradient-title');
                                        redColor[i].classList.add('red-gradient-title');
                                    }
                                } else if(evt.target.value === "blue") {
                                    window.localStorage[key] = "blue";
                                    body.classList = "blue";
                                    if(selectedClubOptions[0].hasAttribute("selected")) {
                                        selectedClubOptions[0].removeAttribute("selected");
                                    }
                                    selectedClubOptions[1].setAttribute("selected", true);
                                    headerLogoRed.style.display = "none";
                                    headerLogoBlue.style.display = "";
                                    footerLogoRed.style.display = "none";
                                    footerLogoBlue.style.display = "";
                                    var blueColor = document.querySelectorAll('.red-gradient-title');
                                    for(var i = 0; i < blueColor.length; i++) {
                                        blueColor[i].classList.remove('red-gradient-title');
                                        blueColor[i].classList.add('blue-gradient-title');
                                    }
                                }
                            }
                        </script>
                        <select onchange="selectClub(event);">
                            <option value="red">MAXIMUS Global</option>
                            <option value="blue">MAXIMUS Progressive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="login login__top">
                <div class="login__disactive">
                    <a href="#">
                        <img src="assets/images/user-image.png" class="login__omg">
                    </a>
                </div>
                <div class="login__active" style="display: none">
                    <img>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="containers">
            <div class="header__menu">
                {{> menu-main}}
            </div>
            <div class="login">
                <div class="login__disactive">
                    <a href="#">Войти  </a>
                    <img src="assets/images/user-image.png" class="login__omg">
                </div>
                <div class="login__active" style="display: none">
                    <img>
                </div>
            </div>
        </div>
    </div>
</div>
{{> modal}}