<div class="landing__container">
    <div class="landing__red">
        <div class="landing__adress">
            <p>Баруди <span>8</span></p>
        </div>

        <div class="landing__services">
            <p>Бассейн</p>
            <p>Йога и пилатес</p>
            <p>Аэробика</p>
            <p>Уроки танцев</p>
            <p>Силовой тренинг</p>
            <p>Фитнес, для людей старше 50</p>
            <p>Функциональный тренинг</p>
            <p>Единоборства</p>
            <p>Транировки на растяжку и гибкость</p>
            <p>Детский фитнес</p>
        </div>

        <div class="landing__logo">
            <p class="langing__number">+7(843)210-11-11</p>
            <a href="index.html" class="logo__red__a">
                <img src="assets/images/logo-red.png">
            </a>
            <a href="index.html" class="btn__red__a">
                <button class="btn_landing__logo btn__red">Выбрать клуб</button>
            </a>
        </div>

        <div class="landing__X">
            <img src="assets/images/X-red.png">
        </div>
    </div>

    <div class="landing__blue">
        <div class="landing__adress">
            <p>Минская <span>9</span></p>
        </div>

        <div class="landing__services">
            <p>Йога и пилатес</p>
            <p>Аэробика</p>
            <p>Уроки танцев</p>
            <p>Силовой тренинг</p>
            <p>Фитнес, для людей старше 50</p>
            <p>Функциональный тренинг</p>
            <p>Единоборства</p>
            <p>Транировки на растяжку и гибкость</p>
            <p>Детский фитнес</p>
        </div>

        <div class="landing__logo">
            <p class="langing__number">+7(843)537-15-15</p>
            <a href="index.html" class="logo__blue__a">
                <img src="assets/images/logo-blue.png">
            </a>
            <a href="index.html" class="btn__blue__a">
                <button class="btn_landing__logo btn__blue">Выбрать клуб</button>
            </a>
        </div>

        <div class="landing__X">
            <img src="assets/images/X-blue.png">
        </div>
    </div>
</div>