<div class="dance-studio containers maximusProgressive-text">
    <div class="dance-studio__block dance-studio__block__left">
        <div class="dance-studio__block__title">
            <h2>Тренажерный зал</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
        </div>
        <div class="dance-studio__block__a">
            <p class="red-gradient-title__maximusProgressive"><a href="#">Узнать подробнее</a></p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__right">
        <div class="dance-studio__block__a">
            <p class="red-gradient-title__maximusProgressive"><a href="#">Узнать подробнее</a></p>
        </div>
        <div class="dance-studio__block__title">
            <h2>Групповые занятия</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
            <p>
                Входит в карту : Maximus Fitness, Maximus silver light
            </p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__left">
        <div class="dance-studio__block__title">
            <h2>Детский фитнес</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
        </div>
        <div class="dance-studio__block__a">
            <p class="red-gradient-title__maximusProgressive"><a href="children's-fitness.html">Узнать подробнее</a></p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__right dance-studio__block__pay">
        <div class="dance-studio__block__a">
            <p class="red-gradient-title__maximusProgressive"><a href="dance-studio.html">Узнать подробнее</a></p>
        </div>
        <div class="dance-studio__block__title paid_occupation">
            <h2>Танцевальная студия</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
        </div>
    </div>

    <div class="dance-studio__block dance-studio__block__left">
        <div class="dance-studio__block__title">
            <h2>Единоборства</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam fermentum,
                nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed rhoncus sapien nunc eget.
            </p>
            <p>
                Входит в карту : Maximus Fitness, Maximus silver light
            </p>
        </div>
        <div class="dance-studio__block__a">
            <p class="red-gradient-title__maximusProgressive"><a href="#">Узнать подробнее</a></p>
        </div>
    </div>
</div>