<div class="maximus-Global-video">
    <div class="containers">
        <div class="content__left">
            <h3>Добро пожаловать в</h3>
            <h1>Maximus</h1>
            <h4>Global</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo.
            </p>
            <a href="buy-card.html">
                <button class="btn maximusGlobal__btn">Стать частью семьи MAXIMUS</button>
            </a>
            <div class="maximus-Global-video__btn">
                <div class="maximus-Global-video__btn__adress">
                    <img src="assets/images/location-mark.png">
                    <p>ул.Баруди, д. 8</p>
                </div>
                <div class="maximus-Global-video__btn__schedule">
                    <a href="schedule.html">
                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 493 493" style="enable-background:new 0 0 493 493;" xml:space="preserve">
                            <g>
                                <g>
                                    <path class="cls-2" d="M473.167,45.333h-51c-9.35,0-17,7.65-17,17s7.65,17,17,17h34V459H36.833V79.333h45.333c9.35,0,17-7.65,17-17
                                        s-7.65-17-17-17H19.833c-9.35,0-17,7.65-17,17V476c0,9.35,7.65,17,17,17h453.333c9.35,0,17-7.65,17-17V62.333
                                        C490.167,52.983,482.517,45.333,473.167,45.333z"/>
                                    <path class="cls-2" d="M269.167,45.333H221c-9.35,0-17,7.65-17,17s7.65,17,17,17h48.167c9.35,0,17-7.65,17-17S278.517,45.333,269.167,45.333z"/>
                                    <path class="cls-2" d="M144.5,351.333h-39.667c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17H144.5c9.35,0,17-7.65,17-17v-28.333
                                        C161.5,358.983,153.85,351.333,144.5,351.333z"/>
                                    <path class="cls-2" d="M266.333,351.333h-42.5c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17h42.5c9.35,0,17-7.65,17-17v-28.333
                                        C283.333,358.983,275.683,351.333,266.333,351.333z"/>
                                    <path class="cls-2" d="M161.5,274.833c0-9.35-7.65-17-17-17h-39.667c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17H144.5
                                        c9.35,0,17-7.65,17-17V274.833z"/>
                                    <path class="cls-2" d="M283.333,274.833c0-9.35-7.65-17-17-17h-42.5c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17h42.5
                                        c9.35,0,17-7.65,17-17V274.833z"/>
                                    <path class="cls-2" d="M385.333,257.833h-39.667c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17h39.667c9.35,0,17-7.65,17-17v-28.333
                                        C402.333,265.483,394.683,257.833,385.333,257.833z"/>
                                    <path class="cls-2" d="M87.833,178.5v28.333c0,9.35,7.65,17,17,17H144.5c9.35,0,17-7.65,17-17V178.5c0-9.35-7.65-17-17-17h-39.667
                                        C95.483,161.5,87.833,169.15,87.833,178.5z"/>
                                    <path class="cls-2" d="M283.333,178.5c0-9.35-7.65-17-17-17h-42.5c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17h42.5c9.35,0,17-7.65,17-17
                                        V178.5z"/>
                                    <path class="cls-2" d="M402.333,178.5c0-9.35-7.65-17-17-17h-39.667c-9.35,0-17,7.65-17,17v28.333c0,9.35,7.65,17,17,17h39.667
                                        c9.35,0,17-7.65,17-17V178.5z"/>
                                    <path class="cls-2" d="M155.833,113.333c9.35,0,17-7.65,17-17V17c0-9.35-7.65-17-17-17h-17c-9.35,0-17,7.65-17,17v79.333c0,9.35,7.65,17,17,17
                                        H155.833z"/>
                                    <path class="cls-2" d="M351.333,0h-17c-9.35,0-17,7.65-17,17v79.333c0,9.35,7.65,17,17,17h17c9.35,0,17-7.65,17-17V17
                                        C368.333,7.65,360.683,0,351.333,0z"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>

                    </a>
                </div>
            </div>
        </div>

        <div class="maximus-Global-video__cont">
            <div class="video">
                <div class="video__cont">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/py9rsmg07tk?rel=0&controls=0&showinfo=0&egm=0&autoplay=1&fs=1&loop=1&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <img class="X X1920" src="assets/images/X-club1920.png">
    <img class="X X768" src="assets/images/X-club768.png">
</div>