<div class="maximus-Global-for__club__members slider__maximus__top">
    <img src="assets/images/progres.png" style="display: none">
    <img class="active active__img" src="assets/images/global.png">
    <img src="assets/images/progres.png" style="display: none">
    <img src="assets/images/global.png" style="display: none">
    <img src="assets/images/progres.png" style="display: none">
    <img src="assets/images/global.png" style="display: none">
    <div class="maximus-Global-for__club__members__content containers">
        <h4>Для всех членов клуба доступно</h4>

        <div class="maximus-Global-for__club__members__contents">
            <div class="maximus-Global-for__club__members__contents__left__blocks slider__maximus__top__contents__left">
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>100 бесплатных групповых занятий в неделю</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span class="active active__block">Бассейн</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Финская сауна</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Хаммам</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Летняя фитнесс-терраса</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Фиточай</span>
                </div>
            </div>
            <div class="maximus-Global-for__club__members__contents__right__blocks slider__maximus__top__contents__right">
                <div style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div class="active__info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus accumsan et viverra justo commodo. Proin
                    sodales pulvinar tempor. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Nam fermentum, nulla luctus pharetra vulputate, felis
                    tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
            </div>
        </div>
    </div>
</div>