<div class="maximus-Global-for__club__members maximus-Global-for__club__dop slider__maximus__bottom">
    <img class="active active__img" src="assets/images/child.png">
    <img src="assets/images/child.png" style="display: none">
    <img src="assets/images/child.png" style="display: none">
    <img src="assets/images/child.png" style="display: none">
    <img src="assets/images/child.png" style="display: none">
    <div class="maximus-Global-for__club__members__content containers">
        <h4>Дополнительные услуги</h4>

        <div class="maximus-Global-for__club__members__contents">
            <div class="maximus-Global-for__club__members__contents__left__blocks slider__maximus__bottom__contents__left">
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span class="active active__block">Детские праздники</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Подарочные сертификаты</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Детская комната</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Студия загара</span>
                </div>
                <div class="maximus-Global-for__club__members__contents__left__block">
                    <span>Салон красоты Spa& Beauty</span>
                </div>
            </div>
            <div class="maximus-Global-for__club__members__contents__right__blocks slider__maximus__bottom__contents__right">
                <div class="info active__info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit
                        amet lacus accumsan et viverra justo commodo. Proin
                        sodales pulvinar tempor. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis
                        tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>

                    <a href="https://vk.com/public101993037" class="btn club__members__contents__btn maximusProgressive__btn">подробнее</a>
                </div>
                <div class="info" style="display: none;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit
                        amet lacus accumsan et viverra justo commodo. Proin
                        sodales pulvinar tempor. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis
                        tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>

                    <a href="gift-certificates.html" class="btn club__members__contents__btn maximusProgressive__btn">подробнее</a>
                </div>
                <div class="info" style="display: none;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit
                        amet lacus accumsan et viverra justo commodo. Proin
                        sodales pulvinar tempor. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis
                        tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>

                    <div class="maximus-for__club__members__contents__value">
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">1 час:</p>
                            <p>500 руб.</p>
                        </div>
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">2 часа:</p>
                            <p>800 руб.</p>
                        </div>
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">3 часа:</p>
                            <p>1100 руб.</p>
                        </div>
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">4 часа:</p>
                            <p>1500 руб.</p>
                        </div>
                    </div>

                    <button class="btn club__members__contents__btn maximusProgressive__btn childrens__room__btn">купить</button>
                </div>
                <div class="info" style="display: none;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit
                        amet lacus accumsan et viverra justo commodo. Proin
                        sodales pulvinar tempor. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis
                        tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>

                    <p class="maximus-for__club__members__contents__value__block__title">Обычные лампы</p>
                    <div class="maximus-for__club__members__contents__value">
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">30 мин:</p>
                            <p>500 руб.</p>
                        </div>
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">60 мин:</p>
                            <p>500 руб.</p>
                        </div>
                    </div>

                    <p class="maximus-for__club__members__contents__value__block__title">Крутые лампы</p>
                    <div class="maximus-for__club__members__contents__value">
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">30 мин:</p>
                            <p>1100 руб.</p>
                        </div>
                        <div class="maximus-for__club__members__contents__value__block">
                            <p class="value__block__title">60 мин:</p>
                            <p>1100 руб.</p>
                        </div>
                    </div>

                    <button class="btn club__members__contents__btn maximusProgressive__btn tanning__studio__btn">купить</button>
                </div>
                <div class="info" style="display: none;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit
                        amet lacus accumsan et viverra justo commodo. Proin
                        sodales pulvinar tempor. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis
                        tellus mollis orci, sed rhoncus sapien nunc eget.

                        <a href="http://spa.fcmaximus.ru/" class="btn club__members__contents__btn maximusProgressive__btn">подробнее</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal-maximus}}