<div class="modal club-card__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close club-card__modal__close">
            &times;
        </div>
        <h4>Оформить карту</h4>
        <div class="freeze-the-map__block">
            <p>Ваше Ф.И.О.</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Номер карты</p>
            <input type="number">
        </div>
        <div class="freeze-the-map__block">
            <p>Телефон</p>
            <input type="tel" class="phonemask" placeholder="+7(000)000-00-00">
        </div>
        <div class="freeze-the-map__block">
            <p>Дата рождения</p>
            <input type="date">
        </div>
        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>

        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title club-card__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>
