<div class="modal buy-online__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close buy-online__modal__close">
            &times;
        </div>
        <h4>Карта MAXIMUS SILVER LIGHT</h4>
        <div class="freeze-the-map__block">
            <p>E-mail</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Дата рождения</p>
            <input type="date">
        </div>

        <h4 class="value">Стоимость: 14 000 рублей</h4>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>
        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>
        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title buy-online__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>



<div class="modal trainers__modal more-about-the-map__modal" style="display: none">
    <div class="club-card__block">
        <div class="modal__close success-stories__modal__close">
            &times;
        </div>
        <div class="club-card__block__left">
            <div class="club-card__block__left__title">
                <h3>maximus silver light</h3>
                <img src="assets/images/card_progressive_maximus_bezlimit.png">
                <p>
                    Будни с 6.30 до 00:30,<br>
                    Выходные и праздники с 7.00 до 00.00.
                </p>
            </div>
        </div>
        <div class="club-card__block__right">
            <p>- Тренажерный зал, бассейн, кардио-зона и групповые программы;</p>
            <p>- Занятия в студиях YOGA – ANTIGRAVITY, PILATES и CYCLE;</p>
            <p>- Посещение зала бокса и боевых искусств;</p>
            <p>- Посещение многофункционального игрового зала;</p>
            <p>- Финская сауна и хаммам;</p>
            <p>- Посещение летней террасы;</p>
            <p>- Посещение внутриклубных мероприятий;</p>
            <p>- Скидка 5% в заведениях холдинга.</p>
        </div>
    </div>
</div>

