<div class="modal childrens__room__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close freeze-the-map__modal__close">
            &times;
        </div>
        <h4>Оплатить услугу «Детская комната»</h4>
        <div class="freeze-the-map__block">
            <p>Ваше Ф.И.О.</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>E-mail</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Время</p>
            <select>
                <option value="1">1 час</option>
                <option value="1">2 часа</option>
                <option value="1">3 часа</option>
                <option value="1">4 часа</option>
            </select>
        </div>

        <h4 class="value">500 рублей</h4>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>

        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title childrens__room__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>



<div class="modal tanning__studio__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close freeze-the-map__modal__close">
            &times;
        </div>
        <h4>Оплатить услугу «Детская комната»</h4>
        <div class="freeze-the-map__block">
            <p>Ваше Ф.И.О.</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>E-mail</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Время</p>
            <select>
                <option value="30">30 минут</option>
                <option value="60">60 минут</option>
            </select>
        </div>

        <div class="freeze-the-map__block">
            <p>Тип ламп</p>
            <select>
                <option value="30">Обычные лампы</option>
                <option value="60">Крутые лампы</option>
            </select>
        </div>

        <h4 class="value">500 рублей</h4>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>
        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title tanning__studio__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>