<div class="modal gift-certificates__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close freeze-the-map__modal__close">
            &times;
        </div>
        <h4>Купить подарочный сертификат</h4>
        <div class="freeze-the-map__block">
            <p>Ваше Ф.И.О.</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Телефон</p>
            <input type="tel" class="phonemask">
        </div>
        <div class="freeze-the-map__block">
            <p>Номинал</p>
            <select>
                <option value="1">500 рублей</option>
                <option value="1">1000 рублей</option>
            </select>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>

        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title gift-certificates__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>


