<div class="modal trainers__modal" style="display: none">
    <div class="trainers__form">
        <div class="modal__close trainers__modal__close">
            &times;
        </div>
        <div class="trainers__modal__top">
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/rizenkin.png">
                </div>
                <p class="trainers__all___name">Рыженькин Евгений</p>
                <p class="trainers__modal__number"><a href="+7(927)437-04-72">+7(927)437-04-72</a></p>
            </div>
            <div class="trainers__modal__info  trainers__modal__info__1">
                <h4 class="red-gradient-title">Инструктор групповых программ ФК Maximus</h4>
                <h4>Персональный тренер ФК Maximus</h4>
                <h4>Опыт работы в фитнесе 10 лет</h4>
                <p>Работа в направлениях:</p>
                <p>
                    Йогатерапия позвоночника (грыжи, протрузии, сколиоз)<br>
                    Кореекция нарушений осанки<br>
                    Программы реабилитации.
                </p>
            </div>
            <div class="trainers__modal__info  trainers__modal__info__2">
                <p>
                    Школа йоги, г.Марсель, Франция.<br>
                    Well-fitness Company, курс "Йога по методу Айенгара" 1,2,3 уровни.<br>
                    Курс "Йогатерапия" от Леонида Кедрова (метод Аштанга-Виньяса).<br>
                    Курс Wellstream training Аштанга йоги от Инги Яхней (Индия).<br>
                    Студент Института йоги по методу Айенгара, г.Москва.<br>
                    Международная школа "Йога в воздухе (антигравити)" 1,2,3 уровни, г.Москва.
                </p>
                <button class="btn trainers__modal__btn">Получить персональную тренировку</button>
            </div>
        </div>
    </div>
</div>

<div class="modal get-personal-training__modal" style="display: none">
    <form class="freeze-the-map__form">
        <div class="modal__close get-personal-training__modal__close">
            &times;
        </div>
        <h4>Получить персональную тренировку</h4>
        <div class="freeze-the-map__block">
            <p>Ваше Ф.И.О.</p>
            <input type="text">
        </div>
        <div class="freeze-the-map__block">
            <p>Телефон</p>
            <input type="tels" class="phonemask" placeholder="+7(000)000-00-00">
        </div>
        <div class="freeze-the-map__block">
            <p>E-mail</p>
            <input type="text">
        </div>

        <div class="freeze-the-map__block">
            <p>Выберите клуб</p>
            <select>
                <option value="global">MAXIMUS Global</option>
                <option value="progressive">MAXIMUS Progressive</option>
            </select>
        </div>


        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
            </span>
        </div>

        <div class="checkbox__color__active">
            <span class="input-checkbox">
                <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked="">
                <label><a class="personal__data__processing">Я согласен с правилами посещения фитнес-клуба и бассейна MAXIMUS</a></label>
            </span>
        </div>
        <div class="captcha">
            <div class="btn btn__form btn__form__captcha">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title get-personal-training__modal__check" name="checkbox">
                    <label>Я не робот</label>
                </span>
            </div>
        </div>
    </form>
</div>