<div class="modal success-stories__modal" style="display: none">
    <div class="success-stories__form">
        <div class="modal__close success-stories__modal__close">
            &times;
        </div>
        <div class="success-stories__modal__photo">
            <div class="success-stories__form__title">
                <h4 class="red-gradient-title">Светлана Викторовна Хотвенкова</h4>
            </div>
            <div class="success-stories__form__bottom">
                <div class="success-stories__modal__photo__block">
                    <div class="success-stories__modal__photo__from">
                        <div class="success-stories__modal__photo__img">
                            <img src="assets/images/success-stories-from.png">
                        </div>
                        <h4 class="red-gradient-title">81 кг</h4>
                    </div>
                    <div class="success-stories__modal__photo__to">
                        <div class="success-stories__modal__photo__from">
                            <div class="success-stories__modal__photo__img">
                                <img src="assets/images/success-stories-to.png">
                            </div>
                            <h4 class="red-gradient-title">52 кг</h4>
                        </div>
                    </div>
                </div>
                <div class="success-stories__modal__info">
                    <div class="success-stories__block">
                        <p class="success-stories__title">Период:</p>
                        <p>12.02.2017 - 15.02.2018</p>
                    </div>

                    <div class="success-stories__block">
                        <p class="success-stories__title">Результат (кг / см)</p>
                        <p>-29 кг</p>
                    </div>

                    <div class="success-stories__block">
                        <p class="success-stories__title">Тренер:</p>
                        <p>Артур Бариев</p>
                    </div>

                    <div class="success-stories__block">
                        <p class="success-stories__title">Виды тренировок:</p>
                        <p>Смешаные</p>
                    </div>

                    <div class="success-stories__block success-stories__block__last">
                        <p class="success-stories__title">Комментарии тренера:</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet. Proin gravida dolor
                            sit amet lacus accumsan et viverra justo commodo.
                            Proin sodales pulvinar tempor. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Nam fermentum, nulla luctus pharetra
                            vulputate
                        </p>
                    </div>
                    <a href=""><button class="btn success-stories__modal__btn">Хочу так же!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
