<div class="news-and-action-all containers">
    <div class="news-famili-maximus__blocks">
        <div class="news-famili-maximus__block">
            <p class="date">24.10.17</p>
            <a href="">
                <div class="image">
                    <img src="assets/images/news-and-action.png">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum
                            laoreet. Proin gravida dolor sit amet lacus
                            accumsan et viverra justo commodo.
                        </p>
                    </div>
                </div>
                <h4>Длинный заголовок или возможно очень-очень длинный заголовок</h4>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">18.03.17</p>
            <a href="">
                <div class="image">
                    <img src="assets/images/news-and-action.png">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum
                            laoreet. Proin gravida dolor sit amet lacus
                            accumsan et viverra justo commodo.
                        </p>
                    </div>
                </div>
                <h4>Длинный заголовок или возможно очень-очень длинный заголовок</h4>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">24.10.17</p>
            <a href="">
                <div class="image">
                    <img src="assets/images/news-and-action.png">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum
                            laoreet. Proin gravida dolor sit amet lacus
                            accumsan et viverra justo commodo.
                        </p>
                    </div>
                </div>
                <h4>Длинный заголовок или возможно очень-очень длинный заголовок</h4>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">24.10.17</p>
            <a href="">
                <div class="image">
                    <img src="assets/images/news-and-action.png">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum
                            laoreet. Proin gravida dolor sit amet lacus
                            accumsan et viverra justo commodo.
                        </p>
                    </div>
                </div>
                <h4>Длинный заголовок или возможно очень-очень длинный заголовок</h4>
            </a>
        </div>
    </div>
</div>