<div class="news-famili-maximus containers">
    <div class="news-famili-maximus__blocks">
        <div class="news-famili-maximus__block">
            <p class="date">25.12.18</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">17.03.17</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">13.06.18</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">18.12.18</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">05.03.18</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="news-famili-maximus__block">
            <p class="date">09.06.18</p>
            <a href="events-page.html">
                <div class="image">
                    <img src="assets/images/terassa_maximus_fitness_club_3.png">
                    <div class="text">
                        <p>Название мероприятия или очень длинное название мероприятия</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="news__all">
        <a href="events.html">показать все</a>
    </div>
</div>