<div class="news-and-action">
    <div class="containers">
       <h3 class="red-gradient-title">новости и акции</h3>
        <div class="news-and-action___block">
            <div class="news-and-action__image">
                <img src="assets/images/news.png">
            </div>
            <div class="news-and-action__text news-and-action__right">
                <h4>Заголовок новости или акции</h4>
                <p>Lorefasfm Ipsum - это текст-"рыба", часто используемый
                    в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала
                    XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки образцов.
                    Lorem Ipsum не только успешно пережил без заметных
                    изменений пять веков, но и перешагнул в электронный
                    дизайн.
                </p>
            </div>
        </div>

        <div class="news-and-action___block">
            <div class="news-and-action__text news-and-action__left">
                <h4>Заголовок новости или акции или очень-очень длинный заголовок новости или акции</h4>
                <p>Lorefasfm Ipsum - это текст-"рыба", часто используемый
                    в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала
                    XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов,
                    используя Lorem Ipsum для распечатки образцов.
                </p>
            </div>
            <div class="news-and-action__image">
                <img src="assets/images/news.png">
            </div>
        </div>
    </div>
</div>