<div class="containers">
    <div class="news-and-promotions-preview">
        <div class="news-and-promotions-preview__left">
            <h3>TRATTORIA GROUP</h3>
            <a href="#"><img src="assets/images/TRATTORIA.png"></a>
        </div>
        <div class="news-and-promotions-preview__center">
            <p>крути</p>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9.88" height="80.313" viewBox="0 0 9.88 80.313">

                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39        ">

                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <rdf:Description rdf:about=""/>
                        </rdf:RDF>
                    </x:xmpmeta>

                    <?xpacket end="w"?></metadata>
                <defs>

                    <style>
                        .cls-0 {
                            fill: var(--color-active);
                        }
                    </style>

                    <filter id="filter" x="3008.06" y="864" width="9.88" height="80.313" filterUnits="userSpaceOnUse">

                        <feFlood result="flood" flood-color="#00a2af"/>
                        <feComposite result="composite" operator="in" in2="SourceGraphic"/>
                        <feBlend result="blend" in2="SourceGraphic"/>
                    </filter>
                </defs>
                <path id="arrow" data-name="arrow" class="cls-0" d="M3012,864h2v80h-2V864Zm-3.95,68.317,1.9-.633,4,12-1.9.633Zm5.9,12-1.9-.633,4-12,1.9,0.633Z" transform="translate(-3008.06 -864)"/>
            </svg>

        </div>
        <div class="news-and-promotions-preview__right">
            <h3>SPA & BEAUTY</h3>
            <a href="#"><img src="assets/images/SPA.png"></a>
        </div>
    </div>
</div>