<div class="promotional-code one-off-visit">
    <div class="one-off-visit__title">
        <div class="containers">
            <h3>Не готовы купить карту? Оформите разовый визит!</h3>
        </div>
    </div>
    <p class="promotional-code__maximus">maximus</p>
    <div class="containers">
        <div class="promotional-code__title">
            <h3 class="red-gradient-title">Стоимость: 1000 руб.</h3>
            <p>При покупке абонементы в течении 14 дней стоимость разового визита вычитается из стоимости карты</p>
        </div>
        <form>
            <select>
                <option value="0" disabled="" selected="">Выберите клуб</option>
                <option value="global">MAXIMUS Global</option>
                <option value="progressive">MAXIMUS Progressive</option>
            </select>
            <input type="text" name="text" id="text" placeholder="Ф.И.О.*">
            <input type="tel" name="phone" id="phone" placeholder="+7(000)000-00-00">
            <input type="date" name="date" id="date">

            <div class="captcha">
                <div class="btn btn__form btn__form__captcha">
                    <span class="input-checkbox">
                        <input type="checkbox" class="checkbox red-gradient-title promo-code__check" name="checkbox">
                        <label>Я не робот</label>
                    </span>
                </div>
            </div>


            <div class="checkbox__color__active checkbox__color__active__1">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                    <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
                </span>
            </div>

            <div class="checkbox__color__active checkbox__color__active__2">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title" name="checkbox__color__active" checked>
                    <label><a class="rules__of__the__visit">Я согласен с правилами посещения фитнес-клуба MAXIMUS</a></label>
                </span>
            </div>

        </form>
    </div>

    <div class="promotional-code__X">
        <img src="assets/images/X.png">
    </div>
</div>