<div class="partner">
    <div class="containers">
        <div class="partner__block">
            <img src="assets/images/partner.png">
        </div>
        <div class="partner__block">
            <img src="assets/images/partner.png">
        </div>
        <div class="partner__block">
            <img src="assets/images/partner.png">
        </div>
    </div>
</div>