<div class="promotional-code promotional-code__Global">
    <p class="promotional-code__maximus">maximus</p>
    <div class="containers">
        <div class="promotional-code__title">
            <h2>ПОЛУЧИТЬ СКИДКУ 50%</h2>
            <h3>НА ПЕРВЫЙ ВИЗИТ</h3>
        </div>
        <form>
            <input type="text" name="text" id="text" placeholder="Ф.И.О.*">
            <input type="tel" name="phone" id="phone" class="phonemask" placeholder="Телефон*">
            <input type="text" name="email" id="email" placeholder="E-mail*">

            <div class="captcha">
                <div class="btn btn__form btn__form__captcha">
                    <span class="input-checkbox">
                        <input type="checkbox" class="checkbox red-gradient-title__maximusGlobal promo-code__check" name="checkbox">
                        <label>Я не робот</label>
                    </span>
                </div>
            </div>


            <div class="checkbox__color__active">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title__maximusGlobal" name="checkbox__color__active" checked>
                    <label><a class="personal__data__processing">Я даю согласие на обработку личных данных</a></label>
                </span>
            </div>

            <div class="checkbox__color__active checkbox__color__active__2">
                <span class="input-checkbox">
                    <input type="checkbox" class="checkbox red-gradient-title__maximusGlobal" name="checkbox__color__active" checked>
                    <label><a class="rules__of__the__visit">Я согласен с правилами посещения фитнес-клуба MAXIMUS</a></label>
                </span>
            </div>

        </form>
    </div>
    <div class="promotional-code__X">
        <img src="assets/images/X.png">
    </div>
</div>