<div class="question-answer">
    <div class="containers">
       <h3 class="red-gradient-title">вопрос ответ</h3>

        <div class="drop-down-question">
            <div class="question-answer__title">
                <button class="c-hamburger c-hamburger--htx">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258; height: 47px;" xml:space="preserve">
                        <polygon style="width: 20px; height: 47px;" points="138.331,0 114.331,18 252.427,202.129 114.331,386.258 138.331,404.258 289.927,202.129 "/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                </button>
                <h4 class="title-h4">Что взять с собой на первую тренировку?</h4>
            </div>
            <p class="answer" style="display: none;">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="drop-down-question">
            <div class="question-answer__title">
                <button class="c-hamburger c-hamburger--htx">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258; height: 47px;" xml:space="preserve">
                        <polygon style="width: 20px; height: 47px;" points="138.331,0 114.331,18 252.427,202.129 114.331,386.258 138.331,404.258 289.927,202.129 "/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                </button>
                <h4 class="title-h4">Правила посещения фитнес-клубом MAXIMUS</h4>
            </div>
            <p class="answer" style="display: none;">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="drop-down-question">
            <div class="question-answer__title">
                <button class="c-hamburger c-hamburger--htx">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258; height: 47px;" xml:space="preserve">
                        <polygon style="width: 20px; height: 47px;" points="138.331,0 114.331,18 252.427,202.129 114.331,386.258 138.331,404.258 289.927,202.129 "/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                </button>
                <h4 class="title-h4">Использование собственного инвентаря в бассейне</h4>
            </div>
            <p class="answer" style="display: none;">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="drop-down-question">
            <div class="question-answer__title">
                <button class="c-hamburger c-hamburger--htx">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258; height: 47px;" xml:space="preserve">
                        <polygon style="width: 20px; height: 47px;" points="138.331,0 114.331,18 252.427,202.129 114.331,386.258 138.331,404.258 289.927,202.129 "/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                </button>
                <h4 class="title-h4">Использование одной клубной карты несколькими лицами</h4>
            </div>
            <p class="answer" style="display: none;">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="drop-down-question">
            <div class="question-answer__title">
                <button class="c-hamburger c-hamburger--htx">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258; height: 47px;" xml:space="preserve">
                        <polygon style="width: 20px; height: 47px;" points="138.331,0 114.331,18 252.427,202.129 114.331,386.258 138.331,404.258 289.927,202.129 "/>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </button>
                <h4 class="title-h4">Использование одной клубной карты несколькими лицами</h4>
            </div>
            <p class="answer" style="display: none;">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
    </div>
</div>

<script>
    (function() {

        "use strict";

        var toggles = document.querySelectorAll(".c-hamburger");
        var answers = document.querySelectorAll(".answer");

        for (var i = toggles.length - 1; i >= 0; i--) {
            var toggle = toggles[i];
            toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
            toggle.addEventListener( "click", function(e) {
                e.preventDefault();
                for (var i = toggles.length - 1; i >= 0; i--) {
                    if(toggle === toggles[i]) {
                        var answer = answers[i];
                    }
                };
                console.log(answer.style);
                if (this.classList.contains("is-active") === true) {
                    this.classList.remove("is-active");
                    this.classList.add("disactive");
                    answer.style = "display: none;";
                } else {
                    this.classList.add("is-active");
                    this.classList.remove("disactive");
                    answer.style = "display: block;";
                }
            });
        }

    })();
</script>