<div class="result-search containers">
    <h4>Вот что мы нашли по запросу: <span class="result">"Бассейн"</span></h4>

    <form class="search-form">
        <input type="text" class="search-form__input" placeholder="Введите поисковый запрос">
        <button class="btn search-form__btn">Найти</button>
    </form>

    <div class="result-search__blocks">
        <a href="articles-page.html">
            <div class="result-search__block">
                <h4>Страница про бассейн (инструкция по технике безопасности) </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    <span>sociis natoque penatibus et magnis </span>
                    dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                    rhoncus sapien nunc eget.
                </p>
            </div>
        </a>
        <a href="articles-page.html">
            <div class="result-search__block">
                <h4>Страница про бассейн (инструкция по технике безопасности) </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    <span>sociis natoque penatibus et magnis </span>
                    dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                    rhoncus sapien nunc eget.
                </p>
            </div>
        </a>
        <a href="articles-page.html">
            <div class="result-search__block">
                <h4>Страница про бассейн (инструкция по технике безопасности) </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    <span>sociis natoque penatibus et magnis </span>
                    dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                    rhoncus sapien nunc eget.
                </p>
            </div>
        </a>
        <a href="articles-page.html">
            <div class="result-search__block">
                <h4>Страница про бассейн (инструкция по технике безопасности) </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    <span>sociis natoque penatibus et magnis </span>
                    dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                    rhoncus sapien nunc eget.
                </p>
            </div>
        </a>
        <a href="articles-page.html">
            <div class="result-search__block">
                <h4>Страница про бассейн (инструкция по технике безопасности) </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    <span>sociis natoque penatibus et magnis </span>
                    dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                    rhoncus sapien nunc eget.
                </p>
            </div>
        </a>
    </div>

    <div class="result-search__str">

    </div>
</div>