<div class="containers slider__index">
    <div class="slider">
        <div class="slider-controls">
            <div class="btn__slider">
                <div class="btn__sliders btn-1 active__slide">01</div>
                <div class="btn__sliders btn-2">02</div>
                <div class="btn__sliders btn-3">03</div>
                <div class="btn__sliders btn-4">04</div>
            </div>
        </div>
        <div class="slides">
            <div class="slide active__slides">
                <div class="contents">
                    <div class="content__left">
                        <h2>Все по-честному!</h2>
                        <p>это текст-"рыба", часто используемый в печати и
                            вэб-дизайне. Lorem Ipsum является стандартной
                            "рыбой" для текстов на латинице с начала XVI века. В то
                            время некий безымянный печатник создал большую
                        </p>
                        <a href="buy-card.html">
                            <button class="btn">Стать частью семьи MAXIMUS</button>
                        </a>
                    </div>
                    <div class="red-block block__1"></div>
                    <div class="red-block block__2"></div>
                    <div class="red-block block__3"></div>
                    <div class="content__right">
                        <p>40<span>%</span></p>
                        <div class="img-content">
                            <img src="assets/images/slider-woman.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="display: none">
                <div class="contents">
                    <div class="content__left">
                        <h2>Все по-честному!</h2>
                        <p>это текст-"рыба", часто используемый в печати и
                            вэб-дизайне. Lorem Ipsum является стандартной
                            "рыбой" для текстов на латинице с начала XVI века. В то
                            время некий безымянный печатник создал большую
                        </p>
                        <a href="buy-card.html">
                            <button class="btn">Стать частью семьи MAXIMUS</button>
                        </a>
                    </div>
                    <div class="block red-block block__1"></div>
                    <div class="block red-block block__2"></div>
                    <div class="block red-block block__3"></div>
                    <div class="content__right">
                        <p>40<span>%</span></p>
                        <div class="img-content">
                            <img src="assets/images/slider-woman.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="display: none">
                <div class="contents">
                    <div class="content__left">
                        <h2>Все по-честному!</h2>
                        <p>это текст-"рыба", часто используемый в печати и
                            вэб-дизайне. Lorem Ipsum является стандартной
                            "рыбой" для текстов на латинице с начала XVI века. В то
                            время некий безымянный печатник создал большую
                        </p>
                        <a href="buy-card.html">
                            <button class="btn">Стать частью семьи MAXIMUS</button>
                        </a>                    </div>
                    <div class="block red-block block__1"></div>
                    <div class="block red-block block__2"></div>
                    <div class="block red-block block__3"></div>
                    <div class="content__right">
                        <p>40<span>%</span></p>
                        <div class="img-content">
                            <img src="assets/images/slider-woman.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="display: none">
                <div class="contents">
                    <div class="content__left">
                        <h2>Все по-честному!</h2>
                        <p>это текст-"рыба", часто используемый в печати и
                            вэб-дизайне. Lorem Ipsum является стандартной
                            "рыбой" для текстов на латинице с начала XVI века. В то
                            время некий безымянный печатник создал большую
                        </p>
                        <a href="buy-card.html">
                            <button class="btn">Стать частью семьи MAXIMUS</button>
                        </a>
                    </div>
                    <div class="block red-block block__1"></div>
                    <div class="block red-block block__2"></div>
                    <div class="block red-block block__3"></div>
                    <div class="content__right">
                        <p>40<span>%</span></p>
                        <div class="img-content">
                            <img src="assets/images/slider-woman.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>