<div class="slider-famili-maximus">
    <div class="slider">
        <div class="slider-controls">
            <div class="btn__slider">
                <div class="btn__sliders btn-1 active__slide">01</div>
                <div class="btn__sliders btn-2">02</div>
                <div class="btn__sliders btn-3">03</div>
                <div class="btn__sliders btn-4">04</div>
            </div>
        </div>
        <div class="slides">
            <div class="slide active__slides">
                <div class="slide__img">
                    <img src="assets/images/people_clients_maximus_fitness_club.png">
                </div>
                    <div class="containers">
                        <div class="contents">
                            <h4>Длинный заголовок или очень-очень длинный заголовок</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus
                                accumsan et viverra justo commodo. Proin
                                sodales pulvinar tempor. Cum sociis natoque
                                penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla
                                luctus pharetra vulputate, felis tellus
                                mollis orci, sed rhoncus sapien nunc eget.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/people_clients_maximus_fitness_club.png">
                    </div>
                    <div class="containers">
                        <div class="contents">
                            <h4>Длинный заголовок или очень-очень длинный заголовок</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus
                                accumsan et viverra justo commodo. Proin
                                sodales pulvinar tempor. Cum sociis natoque
                                penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla
                                luctus pharetra vulputate, felis tellus
                                mollis orci, sed rhoncus sapien nunc eget.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/people_clients_maximus_fitness_club.png">
                    </div>
                    <div class="containers">
                        <div class="contents">
                            <h4>Длинный заголовок или очень-очень длинный заголовок</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus
                                accumsan et viverra justo commodo. Proin
                                sodales pulvinar tempor. Cum sociis natoque
                                penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla
                                luctus pharetra vulputate, felis tellus
                                mollis orci, sed rhoncus sapien nunc eget.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/people_clients_maximus_fitness_club.png">
                    </div>
                    <div class="containers">
                        <div class="contents">
                            <h4>Длинный заголовок или очень-очень длинный заголовок</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus
                                accumsan et viverra justo commodo. Proin
                                sodales pulvinar tempor. Cum sociis natoque
                                penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nam fermentum, nulla
                                luctus pharetra vulputate, felis tellus
                                mollis orci, sed rhoncus sapien nunc eget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>