<div class="hip-hop-video">
    <div class="slider-famili-maximus">
        <div class="slider">
            <div class="slider-controls">
                <div class="btn__slider">
                    <div class="btn__sliders btn-1 active__slide">01</div>
                    <div class="btn__sliders btn-2">02</div>
                    <div class="btn__sliders btn-3">03</div>
                    <div class="btn__sliders btn-4">04</div>
                </div>
            </div>
            <div class="slides">
                <div class="slide active__slides">
                    <div class="slide__img">
                        <img src="assets/images/children's-fitness.png">
                    </div>

                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/children's-fitness.png">
                    </div>

                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/children's-fitness.png">
                    </div>

                </div>
                <div class="slide" style="display: none">
                    <div class="slide__img">
                        <img src="assets/images/children's-fitness.png">
                    </div>
                </div>
            </div>
        </div>
    </div></div>

