<div class="success-stories success-stories__alls">
    <div class="containers">
        <div class="success-stories___blocks">
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
        </div>
    </div>
</div>

{{>modal-success-stories }}