<div class="success-stories">
    <div class="containers">
       <h3 class="red-gradient-title">истории успеха</h3>
        <div class="success-stories___blocks">
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/success-stories.png">
                </div>
                <p class="success-stories___name">Светлана Викторовна Хотвенкова</p>
            </div>
        </div>

        <div class="success-stories__all">
            <a href="success-stories.html">показать все</a>
        </div>
    </div>
</div>