<div class="success-stories success-stories__alls trainers__all">
    <div class="containers">

        <div class="trainers__all__select">
            <select>
                <option value="global">MAXIMUS Global</option>
                <option value="progressive">MAXIMUS Progressive</option>
            </select>

            <select>
                <option value="0">Все направления</option>
                <option value="1">Тренажерный зал</option>
                <option value="2">Групповые занятия</option>
                <option value="3">Детский фитнес</option>
                <option value="4">Бассейн</option>
                <option value="5">Единоборства</option>
            </select>
        </div>

        <div class="success-stories___blocks">
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/agafonov.png">
                </div>
                <p class="trainers__all___name">Агафонов Юрий</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/belozerova.png">
                </div>
                <p class="trainers__all___name">Белозерова Анна</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/rizenkin.png">
                </div>
                <p class="trainers__all___name">Рыженькин Евгений</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/agafonov.png">
                </div>
                <p class="trainers__all___name">Агафонов Юрий</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/belozerova.png">
                </div>
                <p class="trainers__all___name">Белозерова Анна</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/rizenkin.png">
                </div>
                <p class="trainers__all___name">Рыженькин Евгений</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/agafonov.png">
                </div>
                <p class="trainers__all___name">Агафонов Юрий</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/belozerova.png">
                </div>
                <p class="trainers__all___name">Белозерова Анна</p>
            </div>
            <div class="success-stories___block">
                <div class="success-stories___images">
                    <img src="assets/images/rizenkin.png">
                </div>
                <p class="trainers__all___name">Рыженькин Евгений</p>
            </div>
        </div>
        <div class="trainers__alls">
            <a href="">Показать еще</a>
        </div>
    </div>
</div>

{{> modal-trainers}}