<div class="vacansies containers">
    <div class="vacansies__conditions">
        <h2 class="red-gradient-title">Условия:</h2>
        <p>- Сменный график;</p>
        <p>- Карьерный рост;</p>
        <p>- Возможность посещения фитнес клуба;</p>
        <p>- Молодой, энергичный коллектив;</p>
    </div>

    <div class="vacansies__all">
        <h4 class="vacansies__job-title red-gradient-title__hover">Администратор</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>
            <button class="btn vacansies__btn" value="admin">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Менеджер call-центра</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>

            <button class="btn vacansies__btn" value="manager__call">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Менеджер отдела продаж</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>

            <button class="btn vacansies__btn" value="manager">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Инструктор групповых программ</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>

            <button class="btn vacansies__btn" value="instructor__grup">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Инструктор тренажерного зала</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>

            <button class="btn vacansies__btn" value="instructor__tren">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Инструктор детского фитнеса</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>

            <button class="btn vacansies__btn"  value="instructor__kids">Откликнуться</button>
        </div>
        <h4 class="vacansies__job-title red-gradient-title__hover">Инструктор по плаванию</h4>
        <div class="vacansies__job-block" style="display: none">
            <p>- Справочные консультативные услуги потенциальным и действующим клиентам;</p>
            <p>- Сервисное обслуживание клиентов;</p>
            <p>- Информирование об акциях и услугах.</p>

            <p class="vacansies__job-block__demands">Требования:</p>

            <p>- Опыт работы менеджером call центра / теле маркетологом;</p>
            <p>- Образование высшее, неполное высшее;</p>
            <p>- Хорошая дикция, вежливая, доброжелательная манера общения;</p>
            <p>- Знание ПК, Word, Excel на уровне уверенного пользователя.</p>


            <button class="btn vacansies__btn" value="instructor__pl">Откликнуться</button>
        </div>
    </div>

    <div class="vacansies__respond" style="display: none">
            <form>
                <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
                <h4>Инструктор групповых программ</h4>
                <div class="vacansies__respond__block">
                    <p>Моё резюме на HeadHunter</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__blocks">
                    <h4>1. Персональные данные</h4>
                    <div class="vacansies__respond__block">
                        <p>Ф.И.О.</p>
                        <input type="text">
                    </div>
                    <div class="vacansies__respond__block">
                        <p>Дата рождения</p>
                        <input type="date">
                    </div>
                    <div class="vacansies__respond__block">
                        <p>Гражданство</p>
                        <input type="text">
                    </div>
                    <div class="vacansies__respond__block">
                        <p>Контактный телефон</p>
                        <input type="tel" class="phonemask">
                    </div>
                    <div class="vacansies__respond__block">
                        <p>E-mail</p>
                        <input type="email">
                    </div>
                    <div class="vacansies__respond__block">
                        <p>Образование</p>
                        <textarea></textarea>
                    </div>
                    <div class="modal-form__file">
                        <label>
                            <input class="file_upload" type="file" multiple="" accept="image/*">
                            <img src="assets/images/upload.svg">
                            Фото
                        </label>
                        <div class="upload-photo" style="display: none">
                            <div class="photo"><img src="assets/images/upload.svg"></div>
                            <input type="text" id="filename" class="filename" disabled="">
                        </div>
                    </div>

                    <h4>2. Общие вопросы</h4>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>
                    <div class="vacansies__respond__block">
                        <p>Желаемая зарплата</p>
                        <input type="text">
                    </div>

                    <h4>3. Специализированные вопросы</h4>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>
                    <div class="vacansies__respond__block">
                        <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                        <textarea></textarea>
                    </div>

                    <div class="captcha captcha__vacansies">
                        <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__1" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <div class="vacansies__respond" style="display: none">
    <form>
        <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
        <h4>Инструктор групповых программ</h4>
        <div class="vacansies__respond__block">
            <p>Моё резюме на HeadHunter</p>
            <input type="text">
        </div>
        <div class="vacansies__respond__blocks">
            <h4>1. Персональные данные</h4>
            <div class="vacansies__respond__block">
                <p>Ф.И.О.</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__block">
                <p>Дата рождения</p>
                <input type="date">
            </div>
            <div class="vacansies__respond__block">
                <p>Гражданство</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__block">
                <p>Контактный телефон</p>
                <input type="tel" class="phonemask">
            </div>
            <div class="vacansies__respond__block">
                <p>E-mail</p>
                <input type="email">
            </div>
            <div class="vacansies__respond__block">
                <p>Образование</p>
                <textarea></textarea>
            </div>
            <div class="modal-form__file">
                <label>
                    <input class="file_upload" type="file" multiple="" accept="image/*">
                    <img src="assets/images/upload.svg">
                    Фото
                </label>
                <div class="upload-photo" style="display: none">
                    <div class="photo"><img src="assets/images/upload.svg"></div>
                    <input type="text" id="filename" class="filename" disabled="">
                </div>
            </div>

            <h4>2. Общие вопросы</h4>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>
            <div class="vacansies__respond__block">
                <p>Желаемая зарплата</p>
                <input type="text">
            </div>

            <h4>3. Специализированные вопросы</h4>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>
            <div class="vacansies__respond__block">
                <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                <textarea></textarea>
            </div>

            <div class="captcha captcha__vacansies">
                <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__2" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
    <div class="vacansies__respond" style="display: none">
        <form>
            <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
            <h4>Инструктор групповых программ</h4>
            <div class="vacansies__respond__block">
                <p>Моё резюме на HeadHunter</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__blocks">
                <h4>1. Персональные данные</h4>
                <div class="vacansies__respond__block">
                    <p>Ф.И.О.</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Дата рождения</p>
                    <input type="date">
                </div>
                <div class="vacansies__respond__block">
                    <p>Гражданство</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Контактный телефон</p>
                    <input type="tel" class="phonemask">
                </div>
                <div class="vacansies__respond__block">
                    <p>E-mail</p>
                    <input type="email">
                </div>
                <div class="vacansies__respond__block">
                    <p>Образование</p>
                    <textarea></textarea>
                </div>
                <div class="modal-form__file">
                    <label>
                        <input class="file_upload" type="file" multiple="" accept="image/*">
                        <img src="assets/images/upload.svg">
                        Фото
                    </label>
                    <div class="upload-photo" style="display: none">
                        <div class="photo"><img src="assets/images/upload.svg"></div>
                        <input type="text" id="filename" class="filename" disabled="">
                    </div>
                </div>

                <h4>2. Общие вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>Желаемая зарплата</p>
                    <input type="text">
                </div>

                <h4>3. Специализированные вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>

                <div class="captcha captcha__vacansies">
                    <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__3" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="vacansies__respond" style="display: none">
        <form>
            <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
            <h4>Инструктор групповых программ</h4>
            <div class="vacansies__respond__block">
                <p>Моё резюме на HeadHunter</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__blocks">
                <h4>1. Персональные данные</h4>
                <div class="vacansies__respond__block">
                    <p>Ф.И.О.</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Дата рождения</p>
                    <input type="date">
                </div>
                <div class="vacansies__respond__block">
                    <p>Гражданство</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Контактный телефон</p>
                    <input type="tel" class="phonemask">
                </div>
                <div class="vacansies__respond__block">
                    <p>E-mail</p>
                    <input type="email">
                </div>
                <div class="vacansies__respond__block">
                    <p>Образование</p>
                    <textarea></textarea>
                </div>
                <div class="modal-form__file">
                    <label>
                        <input class="file_upload" type="file" multiple="" accept="image/*">
                        <img src="assets/images/upload.svg">
                        Фото
                    </label>
                    <div class="upload-photo" style="display: none">
                        <div class="photo"><img src="assets/images/upload.svg"></div>
                        <input type="text" id="filename" class="filename" disabled="">
                    </div>
                </div>

                <h4>2. Общие вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>Желаемая зарплата</p>
                    <input type="text">
                </div>

                <h4>3. Специализированные вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>

                <div class="captcha captcha__vacansies">
                    <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__4" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="vacansies__respond" style="display: none">
        <form>
            <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
            <h4>Инструктор групповых программ</h4>
            <div class="vacansies__respond__block">
                <p>Моё резюме на HeadHunter</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__blocks">
                <h4>1. Персональные данные</h4>
                <div class="vacansies__respond__block">
                    <p>Ф.И.О.</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Дата рождения</p>
                    <input type="date">
                </div>
                <div class="vacansies__respond__block">
                    <p>Гражданство</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Контактный телефон</p>
                    <input type="tel" class="phonemask">
                </div>
                <div class="vacansies__respond__block">
                    <p>E-mail</p>
                    <input type="email">
                </div>
                <div class="vacansies__respond__block">
                    <p>Образование</p>
                    <textarea></textarea>
                </div>
                <div class="modal-form__file">
                    <label>
                        <input class="file_upload" type="file" multiple="" accept="image/*">
                        <img src="assets/images/upload.svg">
                        Фото
                    </label>
                    <div class="upload-photo" style="display: none">
                        <div class="photo"><img src="assets/images/upload.svg"></div>
                        <input type="text" id="filename" class="filename" disabled="">
                    </div>
                </div>

                <h4>2. Общие вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>Желаемая зарплата</p>
                    <input type="text">
                </div>

                <h4>3. Специализированные вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>

                <div class="captcha captcha__vacansies">
                    <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__5" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="vacansies__respond" style="display: none">
        <form>
            <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
            <h4>Инструктор групповых программ</h4>
            <div class="vacansies__respond__block">
                <p>Моё резюме на HeadHunter</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__blocks">
                <h4>1. Персональные данные</h4>
                <div class="vacansies__respond__block">
                    <p>Ф.И.О.</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Дата рождения</p>
                    <input type="date">
                </div>
                <div class="vacansies__respond__block">
                    <p>Гражданство</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Контактный телефон</p>
                    <input type="tel" class="phonemask">
                </div>
                <div class="vacansies__respond__block">
                    <p>E-mail</p>
                    <input type="email">
                </div>
                <div class="vacansies__respond__block">
                    <p>Образование</p>
                    <textarea></textarea>
                </div>
                <div class="modal-form__file">
                    <label>
                        <input class="file_upload" type="file" multiple="" accept="image/*">
                        <img src="assets/images/upload.svg">
                        Фото
                    </label>
                    <div class="upload-photo" style="display: none">
                        <div class="photo"><img src="assets/images/upload.svg"></div>
                        <input type="text" id="filename" class="filename" disabled="">
                    </div>
                </div>

                <h4>2. Общие вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>Желаемая зарплата</p>
                    <input type="text">
                </div>

                <h4>3. Специализированные вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>

                <div class="captcha captcha__vacansies">
                    <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__6" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="vacansies__respond" style="display: none">
        <form>
            <h4 class="vacansies__respond__title">Анкета соискателя на вакансию:</h4>
            <h4>Инструктор групповых программ</h4>
            <div class="vacansies__respond__block">
                <p>Моё резюме на HeadHunter</p>
                <input type="text">
            </div>
            <div class="vacansies__respond__blocks">
                <h4>1. Персональные данные</h4>
                <div class="vacansies__respond__block">
                    <p>Ф.И.О.</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Дата рождения</p>
                    <input type="date">
                </div>
                <div class="vacansies__respond__block">
                    <p>Гражданство</p>
                    <input type="text">
                </div>
                <div class="vacansies__respond__block">
                    <p>Контактный телефон</p>
                    <input type="tel" class="phonemask">
                </div>
                <div class="vacansies__respond__block">
                    <p>E-mail</p>
                    <input type="email">
                </div>
                <div class="vacansies__respond__block">
                    <p>Образование</p>
                    <textarea></textarea>
                </div>
                <div class="modal-form__file">
                    <label>
                        <input class="file_upload" type="file" multiple="" accept="image/*">
                        <img src="assets/images/upload.svg">
                        Фото
                    </label>
                    <div class="upload-photo" style="display: none">
                        <div class="photo"><img src="assets/images/upload.svg"></div>
                        <input type="text" id="filename" class="filename" disabled="">
                    </div>
                </div>

                <h4>2. Общие вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>Желаемая зарплата</p>
                    <input type="text">
                </div>

                <h4>3. Специализированные вопросы</h4>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>
                <div class="vacansies__respond__block">
                    <p>По каким криетриям Вы выбираете компнию, в которой хотите работать?</p>
                    <textarea></textarea>
                </div>

                <div class="captcha captcha__vacansies">
                    <div class="btn btn__form btn__form__captcha btn__form__captcha__vacansies">
                        <span class="input-checkbox">
                            <input type="checkbox" class="checkbox red-gradient-title vacansies__check check__7" name="checkbox">
                            <label>Я не робот</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>