<div class="containers">
    <div class="why-choose">
        <h2>почему выбирают</h2>
        <h2 class="gradient-title red-gradient-title">maximus</h2>
    </div>

    <div class="why-choose__block block__right why-choose__block__1">
        <div class="why-choose__block__image">
            <p>цели</p>
            <img src="assets/images/run-woman.png">
        </div>
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title">1 750 000<span>рублей</span></p>
            <p class="why-choose__block__text__text">
                это текст-"рыба", часто используемый в печати и
                вэб-дизайне. Lorem Ipsum является стандартной
                "рыбой" для текстов на латинице с начала XVI века. В то
                время некий безымянный печатник создал
            </p>
        </div>
    </div>

    <div class="why-choose__block block__left why-choose__block__2">
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title">90 000<span>человек</span></p>
            <p class="why-choose__block__text__text">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
                Lorem Ipsum не только успешно пережил без заметных
                изменений пять веков, но и перешагнул в электронный
                дизайн.
            </p>
        </div>
        <div class="why-choose__block__image">
            <p>статус</p>
            <img src="assets/images/water-woman.png">
        </div>
    </div>

    <div class="why-choose__block block__right why-choose__block__3">
        <div class="why-choose__block__image">
            <p>эффект</p>
            <img src="assets/images/woman3.png">
        </div>
        <div class="why-choose__block__text">
            <p class="why-choose__block__text__title">1 500<span>тренажеров</span></p>
            <p class="why-choose__block__text__text">
                Lorefasfm Ipsum - это текст-"рыба", часто используемый
                в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала
                XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов,
                используя Lorem Ipsum для распечатки образцов.
                Lorem Ipsum не только успешно пережил без заметных
                изменений пять веков, но и перешагнул в электронный
                дизайн. Lorefasfm Ipsum - это текст-"рыба", часто
                используемый в печати и вэб-дизайне. Lorem Ipsum
                является стандартной "рыбой" для текстов на латинице
                с начала XVI века.
            </p>
        </div>
    </div>
</div>